@import 'common';

body {
    word-break: keep-all;
    font-size: 13px;
    font-weight: 300;
    color: #666;
    @include noto();
    min-width: 1260px;
    background-color: #f3f5fa;
}

// 공통
.form-group {
    margin: 0;
    textarea.form-control {
        width: 100% !important;
        height: 200px !important;
    }
    select {
        height: 30px !important;
    }
}
.form-control {
    width: 100%;
    font-size: 13px;
    height: 30px;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}
.btn-area {
    p {
        font-size: 0;
        .btn {
            display: inline-block;
            font-size: 12px;
            color: #fff;
            text-align: center;
            padding: 0;
            border-radius: 0;
            margin-left: 10px;
            @include transition();
            &:hover, &:focus {
                opacity: .8;
            }
            &:first-child {
                margin-left: 0;
            }
            &.btn-white {
                padding: 5px 15px;
                border: 1px solid #fff;
            }
            &.btn-sm {
                width: 55px;
                color: #666;
                line-height: 23px;
                border: 1px solid #ccc;
                background-color: #fff;
            }
            &.btn-md {
                width: 95px;
                line-height: 35px;
            }
            &.btn-gray {
                background-color: #898989;
            }
            &.btn-blue {
                background-color: #144199;
            }
            &.btn-orange {
                width: 100%;
                font-size: 16px;
                line-height: 50px;
                background-color: #eb6100;
            }
        }
    }
}
.page-title {
    font-size: 25px;
    color: #222;
    font-weight: 300;
}
.attention {
    position: relative;
    padding-left: 20px;
    color: #144199;
    line-height: 30px;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "※";
    }
}
.essential {
    &:after {
        color: #eb6100;
        content: " *";
    }
}
.search-form {
    width: 100%;
    padding: 15px 0;
    border: 1px solid #ebebeb;
    background-color: #f3f5fa;
    .form-group {
        position: relative;
        width: 870px;
        margin: 0 auto;
        overflow: hidden;
        .form-control {
            float: left;
        }
        select {
            font-size: 13px;
            width: 130px;
            margin-right: 10px;
            height: 30px !important;
        }
        input[type="text"] {
            width: 730px;
            padding-right: 30px;
        }
        .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            background: none;
            height: 28px;
            width: 28px;
            color: #eb6100;
            font-size: 12px;
            border-radius: 0;
            @include transition();
            &:hover {
                opacity: .7;
            }
        }
    }
}
.page-header {
    padding: 40px 0 25px;
}
.section-content {
    padding-bottom: 150px;
}
//paging
.paging {
	text-align: center;
	font-size: 0;
	.pagination {
		display: inline-block;
		margin: 0;
		> li {
			display: inline-block;
			&:first-child {
				a {
					margin-left: 0;
				}
			}
			&:last-child {
				a {
					margin-right: 0;
				}
			}
			a {
				display: inline-block;
                width: 30px;
                height: 30px;
				font-size: 15px;
				color: #999;
                font-weight: 400;
                line-height: 30px;
                margin: 0 5px;
				padding: 0;
				border: 0;
				@include roboto();
				i {
					color: #aaa;
					font-weight: 300;
					&:before {
						margin: 0;
					}
				}
			}
			&.first, &.prev, &.next, &.last {
				a {
					background: #fff !important;
				}
            }
			&.first {
                a {
                    padding-right: 7px;
                }
            }
            &.last {
                a {
                    padding-left: 7px;
                }
            }
			&.active {
				a {
					display: block;
					color: #eb6100;
				}
			}
		}
	}
}

.table-wrap {
    border: 0;
    span {
        font-weight: 300 !important;
    }
    .table {
        /*table-layout: fixed;*/
        margin: 0;
        border: 0;
        font-size: 12px;
        border-top: 2px solid #999;
        span {
            font-weight: 300 !important;
        }
        &.type-1 {
            thead {
                tr {
                    th {
                        font-weight: 400;
                        color: #333;
                        text-align: center;
                        vertical-align: middle;
                        padding: 10px 0;
                        border: 0;
                        border-bottom: 1px solid #dfdfdf;
                        background-color: #f3f5fa;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-weight: 400;
                        text-align: center;
                        padding: 10px 10px;
                        vertical-align: middle;
                        border: 0;
                        border-bottom: 1px solid #dfdfdf;
                        &.normalit {
                            color: #144199;
                        }
                        &.cease {
                            color: #e61937;
                        }
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
        &.type-2 {
            border-bottom: 1px solid #dfdfdf;
            tbody {
                tr {
                    th {
                        font-weight: 400;
                        color: #333;
                        text-align: left;
                        border: 0;
                        padding-left: 15px;
                        vertical-align: middle;
                        background-color: #f3f5fa;
                        border-bottom: 1px solid #dfdfdf;
                    }
                    td {
                        padding: 10px;
                        border: 0;
                        border-bottom: 1px solid #dfdfdf;
                        #variableFiles {
                            tbody {
                                tr {
                                    td {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.write_table {
    border-top: 2px solid #999;
    tbody {
        tr {
            th {
                color: #222;
                font-weight: 300;
                padding: 10px;
                border: 0;
                border-bottom: 1px solid #dfdfdf;
                vertical-align: middle;
                background-color: #f3f5fa;
            }
            td {
                font-weight: 300;
                color: #666;
                text-align: left !important;
                border: 0;
                border-bottom: 1px solid #dfdfdf;
                border-right: 1px solid #dfdfdf !important;
                vertical-align: middle;
            }
        }
    }
}
.activity_table {
    width: 100%;
    tbody {
        tr {
            td {
                .form-group {
                    .form-control {
                        height: 30px !important;
                        padding: 0 15px !important;
                        border: 1px solid #dfdfdf !important;
                    }
                    span {
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

//header
#header {
    display: block;
    width: 100%;
    height: 100px;
    padding: 18px 0;
    overflow: hidden;
    background-color: #144199;
    .logo {
        float: left;
        a {
            display: block;
        }
    }
    .login-state {
        float: right;
        text-align: right;
        p {
            font-size: 12px;
            color: #fff;
            margin-bottom: 15px;
            i {
                color: #fff799;
                font-style: normal;
            }
        }
    }
}

//content
#content {
    position: relative;
    margin-top: 30px;
    &.page-content {
        padding: 0 30px 30px 245px;
    }
    #sub-content {
        min-height: 780px;
        padding: 0 40px 0 60px;
        background-color: #fff;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
    }
}
//aside
#aside {
    position: absolute;
    top: 0;
    left: 15px;
    width: 200px;
    .nav {
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        > ul {
            width: 100%;
            > li {
                &:first-child {
                    > a {
                        border-top: 1px solid #dfdfdf;
                    }
                }
                > a {
                    display: block;
                    font-size: 15px;
                    color: #333;
                    text-align: left;
                    padding: 0 20px;
                    line-height: 50px;
                    border-bottom: 1px solid #dfdfdf;
                    @include transition();
                    &:after {
                        float: right;
                        content: "\F107";
                        font-family: "fontello";
                    }
                    &:hover {
                        opacity: .8;
                        color: #fff;
                        border-color: #eb6100;
                        background-color: #eb6100;
                    }
                }
                > ul {
                    display: none;
                    padding: 20px 0 20px 20px;
                    > li {
                        > a {
                            position: relative;
                            display: inline-block;
                            font-size: 13px;
                            color: #666;
                            padding-left: 15px;
                            line-height: 34px;
                            @include transition();
                            span {
                                display: inline-block;
                                opacity: 0;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 85%;
                                border-top: 1px solid #f5baa3;
                                border-bottom: 1px solid #faded4;
                                margin-left: 15px;
                                @include transition();
                            }
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                color: #666 !important;
                                content: "-";
                            }
                            &:hover {
                                opacity: .7;
                                color: #eb6100;
                                span {
                                    opacity: 1;
                                }
                            }
                        }
                        &.on {
                            a {
                                opacity: 1;
                                color: #eb6100;
                                span {
                                    opacity: 1;
                                }   
                            }
                        }
                    }
                }
                &.active {
                    > a {
                        opacity: 1;
                        color: #fff;
                        border-top: 1px solid #eb6100;
                        background-color: #eb6100;
                        &:after {
                            content: "\E801";
                        }
                    }
                    > ul {
                        display: block;
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: 11px;
        color: #999;
        line-height: 18px;
        font-weight: 500;
        margin-top: 15px;
        @include roboto();
        a {
            display: inline-block;
        }
    }
}


// login
.admin-login {
    .login-form {
        width: 770px;
        padding: 100px 0;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        .article-header {
            margin-bottom: 50px;
            p {
                font-size: 17px;
                color: #222;
                line-height: 32px;
            }
        }
        .article-content {
            width: 370px;
            display: block;
            margin: 0 auto;
            .form-group {
                .form-control {
                    color: #666;
                    padding: 0 15px;
                    height: 50px;
                    background-color: #f3f5fa;
                    & ~ .form-control {
                        margin-top: 10px;
                    }
                }
            }
            .btn-area {
                margin-top: 20px;
            }
            .copyright {
                font-size: 12px;
                color: #999;
                margin-top: 80px;
                font-weight: 500;
                @include roboto();
                a {
                    display: inline-block;
                }
            }
        }
    }
}


.info-list {
    .article-header {
        .table-wrap {
            .table {
                tbody {
                    tr {
                        td {
                            .form-group {
                                .form-control {
                                    max-width: 130px;
                                }
                                select {
                                    height: 30px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: right;
            margin-top: 15px;
        }
    }
    .article-content {
        margin-top: 30px;
        > .btn-area {
            text-align: right;
            margin-top: 15px;
        }
        .paging {
            margin-top: 20px;
        }
        .search-form {
            margin-top: 40px;
        }
    }
}


.info-view {
    article {
        &.view-content {
            margin-bottom: 35px;
            .article-header {
                position: relative;
                padding: 15px;
                padding-right: 200px;
                border-top: 2px solid #999;
                border-bottom: 1px solid #dfdfdf;
                background-color: #f3f5fa;
                h3 {
                    display: block;
                    font-size: 13px;
                    color: #333;
                    font-weight: 400;
                }
                .user-info {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -10px;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 400;
                        &:after {
                            position: relative;
                            top: -2px;
                            font-size: 10px;
                            margin: 0 10px;
                            content: "|";
                        }
                        &:last-child {
                            &:after {
                                content: "";
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .article-content {
                > ul {
                    > li {
                        border-bottom: 1px solid #dfdfdf;
                        dl {
                            display: table;
                            width: 100%;
                            dt {
                                display: table-cell;
                                width: 100px;
                                vertical-align: middle;
                                font-size: 13px;
                                color: #333;
                                font-weight: 400;
                                padding: 10px 10px 10px 15px;
                            }
                            dd {
                                position: relative;
                                display: table-cell;
                                vertical-align: middle;
                                font-size: 13px;
                                color: #666;
                                font-weight: 300;
                                padding: 10px 30px;
                                &:after {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    color: #dfdfdf;
                                    margin-top: -9px;
                                    font-size: 11px;
                                    content: "|";
                                }
                            }
                        }
                    }
                }
            }
        }
        &.button-link {
            margin-bottom: 35px;
            dl {
                display: table;
                width: 100%;
                dt {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 230px;
                    font-weight: 300;
                    padding: 10px 0;
                }
                dd {
                    display: table-cell;
                    vertical-align: middle;
                    font-weight: 300;
                    padding-left: 230px;
                    text-align: center;
                    padding: 10px 0;
                    color: #666;
                }
            }
            .article-header {
                background-color: #999fa9;
                dl {
                    dt {
                        color: #fff;
                    }
                    dd {
                        color: #fff;
                    }
                }
            }
            .article-content {
                > ul {
                    > li {
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
            }
        }
        &.attach-link {
            margin-bottom: 30px;
            .article-header {
                text-align: center;
                background-color: #999fa9;
                h4 {
                    font-size: 13px;
                    color: #fff;
                    font-weight: 300;
                    padding: 10px 0;
                }
            }
            .article-content {
                > ul {
                    > li {
                        padding: 10px 0;
                        min-height: 39px;
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
            }
        }
        &.more-content {
            border-top: 2px solid #999;
            > ul {
                > li {
                    border-bottom: 1px solid #dfdfdf;
                    dl {
                        display: table;
                        dt {
                            display: table-cell;
                            width: 130px;
                            font-weight: 400;
                            color: #333;
                            vertical-align: middle;
                            padding: 10px;
                            padding-left: 15px;
                            background-color: #f3f5fa;
                        }
                        dd {
                            display: table-cell;
                            vertical-align: middle;
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
}
.content-area {
    > .btn-area {
        text-align: right;
        margin-top: 15px;
    }
    .content-details {
        display: block;
        margin-bottom: 20px;
        padding: 20px 0 30px;
        border-bottom: 1px solid #dfdfdf;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}


.info-write {
	.table-wrap {
		.table {
			&.type-2 {
				tbody {
					tr {
						th {
							border-bottom: 1px solid #dfdfdf;    
							label {
								margin-bottom: 0;
							}
						}
						td {
							vertical-align: middle;
							border-bottom: 1px solid #dfdfdf;
							.form-group {
								.form-control {
									width: 190px;
								}
							}
							&.user-id {
								.form-group {
									display: inline-block;
								}
								.attention {
									display: inline-block;
									font-weight: 400;
									margin-left: 10px;
                                    vertical-align: top;
								}
							}
							&.adm-group {
								.form-group {
									.form-control {
										width: 130px;
										height: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.btn-area {
		text-align: right;
		margin-top: 15px;
	}
}