@import 'common';

.info-write {
	.table-wrap {
		.table {
			&.type-2 {
				tbody {
					tr {
						th {
							border-bottom: 1px solid #dfdfdf;    
							label {
								margin-bottom: 0;
							}
						}
						td {
							vertical-align: middle;
							border-bottom: 1px solid #dfdfdf;
							.form-group {
								.form-control {
									width: 190px;
								}
							}
							&.user-id {
								.form-group {
									display: inline-block;
								}
								.attention {
									display: inline-block;
									font-weight: 400;
									margin-left: 10px;
								}
							}
							&.adm-group {
								.form-group {
									.form-control {
										width: 130px;
										height: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.btn-area {
		text-align: right;
		margin-top: 15px;
	}
}