@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.emergency-relief .relief-list > ul > li ~ li figure {
  margin-top: 70px; }
.emergency-relief .relief-list > ul > li figure .img-fluid {
  display: block;
  margin: 0 auto; }
.emergency-relief .relief-list > ul > li figure figcaption {
  text-align: center;
  margin-top: 30px; }
  .emergency-relief .relief-list > ul > li figure figcaption h3 {
    font-size: 20px;
    color: #144199;
    font-weight: 400; }
  .emergency-relief .relief-list > ul > li figure figcaption p {
    font-size: 13px;
    color: #666;
    line-height: 24px;
    margin-top: 20px; }
.emergency-relief .news-list {
  margin-top: 100px; }
  .emergency-relief .news-list h4 {
    font-size: 18px;
    color: #222;
    font-weight: 400;
    margin-bottom: 20px; }
  .emergency-relief .news-list > ul {
    border-top: 2px solid #eb6101; }
    .emergency-relief .news-list > ul > li {
      border-bottom: 1px solid #dfdfdf; }
      .emergency-relief .news-list > ul > li > a {
        position: relative;
        padding: 0 25px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 50px; }
        .emergency-relief .news-list > ul > li > a:before {
          position: absolute;
          top: 0;
          left: 10px;
          font-family: "fontello";
          content: "\E812"; }
        .emergency-relief .news-list > ul > li > a:after {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 16px;
          color: #333;
          font-family: "fontello";
          content: "\F105"; }
@media (min-width: 768px) {
  .emergency-relief .relief-list > ul > li ~ li figure {
    margin-top: 0; }
  .emergency-relief .relief-list > ul > li figure {
    padding: 0 5px; }
    .emergency-relief .relief-list > ul > li figure figcaption {
      margin-top: 40px; }
      .emergency-relief .relief-list > ul > li figure figcaption p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 30px; }
  .emergency-relief .news-list {
    margin-top: 145px; }
    .emergency-relief .news-list h4 {
      font-size: 20px; }
    .emergency-relief .news-list > ul > li > a {
      font-size: 14px;
      padding: 0 45px 0 30px;
      line-height: 60px; }
      .emergency-relief .news-list > ul > li > a:before {
        left: 20px; }
      .emergency-relief .news-list > ul > li > a:after {
        right: 30px;
        font-size: 20px; } }
@media (min-width: 1200px) {
  .emergency-relief .relief-list > ul > li ~ li figure {
    margin-top: 0; }
  .emergency-relief .relief-list > ul > li figure {
    position: relative;
    padding: 0; }
    .emergency-relief .relief-list > ul > li figure:after {
      position: absolute;
      top: 118px;
      right: -22px;
      font-size: 40px;
      color: #eb6101;
      font-family: "fontello";
      content: ""; }
  .emergency-relief .relief-list > ul > li:last-child figure:after {
    content: " "; }
  .emergency-relief .news-list {
    margin-top: 140px; }
    .emergency-relief .news-list h4 {
      font-size: 18px; } }

.welfare-work .business-list > ul > li ~ li {
  margin-top: 80px; }
.welfare-work .business-list > ul > li figure .img-fluid {
  display: block;
  margin: 0 auto; }
.welfare-work .business-list > ul > li .details {
  margin-top: 30px; }
  .welfare-work .business-list > ul > li .details h3 {
    font-size: 26px;
    color: #333;
    line-height: 36px;
    font-weight: 400; }
    .welfare-work .business-list > ul > li .details h3 small {
      display: block;
      font-size: 13px;
      color: #144199;
      font-weight: 300; }
  .welfare-work .business-list > ul > li .details p {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    margin-top: 40px; }
.welfare-work .business-list > ul > li .btn-area {
  margin-top: 50px; }
  .welfare-work .business-list > ul > li .btn-area p .btn-lg {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: #5b5b5b;
    line-height: 43px;
    border: 1px solid #5b5b5b;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .welfare-work .business-list > ul > li .btn-area p .btn-lg:hover, .welfare-work .business-list > ul > li .btn-area p .btn-lg:focus {
      opacity: 1;
      color: #fff;
      border-color: #eb6101;
      background-color: #eb6101; }
@media (min-width: 768px) {
  .welfare-work .business-list > ul > li ~ li {
    margin-top: 100px; }
  .welfare-work .business-list > ul > li .details h3 {
    font-size: 28px; }
    .welfare-work .business-list > ul > li .details h3 small {
      font-size: 14px; }
  .welfare-work .business-list > ul > li .details p {
    font-size: 14px; }
  .welfare-work .business-list > ul > li .btn-area p .btn-lg {
    width: 250px; } }
@media (min-width: 1200px) {
  .welfare-work .business-list > ul > li ~ li {
    margin-top: 170px; }
  .welfare-work .business-list > ul > li .details {
    margin-top: 50px; }
  .welfare-work .business-list > ul > li .btn-area {
    margin-top: 60px; }
    .welfare-work .business-list > ul > li .btn-area p .btn-lg {
      width: 250px; } }

/*# sourceMappingURL=business.css.map */
