@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.business .page-intro .lnb.volunteer .tab-list li {
  width: 50% !important; }

.emergency-relief .relief-list > ul > li ~ li figure {
  margin-top: 70px; }
.emergency-relief .relief-list > ul > li figure .img-fluid {
  display: block;
  margin: 0 auto; }
.emergency-relief .relief-list > ul > li figure figcaption {
  text-align: center;
  margin-top: 30px; }
  .emergency-relief .relief-list > ul > li figure figcaption h3 {
    font-size: 20px;
    color: #144199;
    font-weight: 400; }
  .emergency-relief .relief-list > ul > li figure figcaption p {
    font-size: 13px;
    color: #666;
    line-height: 24px;
    margin-top: 20px; }
.emergency-relief .news-list {
  margin-top: 100px; }
  .emergency-relief .news-list h4 {
    font-size: 18px;
    color: #222;
    font-weight: 400;
    margin-bottom: 20px; }
  .emergency-relief .news-list > ul {
    border-top: 2px solid #eb6101; }
    .emergency-relief .news-list > ul > li {
      border-bottom: 1px solid #dfdfdf; }
      .emergency-relief .news-list > ul > li > a {
        position: relative;
        padding: 0 25px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 50px; }
        .emergency-relief .news-list > ul > li > a:before {
          position: absolute;
          top: 0;
          left: 10px;
          font-family: "fontello";
          content: "\E812"; }
        .emergency-relief .news-list > ul > li > a:after {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 16px;
          color: #333;
          font-family: "fontello";
          content: "\F105"; }
@media (min-width: 768px) {
  .emergency-relief .relief-list > ul > li ~ li figure {
    margin-top: 0; }
  .emergency-relief .relief-list > ul > li figure {
    padding: 0 5px; }
    .emergency-relief .relief-list > ul > li figure figcaption {
      margin-top: 40px; }
      .emergency-relief .relief-list > ul > li figure figcaption p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 30px; }
  .emergency-relief .news-list {
    margin-top: 145px; }
    .emergency-relief .news-list h4 {
      font-size: 20px; }
    .emergency-relief .news-list > ul > li > a {
      font-size: 14px;
      padding: 0 45px 0 30px;
      line-height: 60px; }
      .emergency-relief .news-list > ul > li > a:before {
        left: 20px; }
      .emergency-relief .news-list > ul > li > a:after {
        right: 30px;
        font-size: 20px; } }
@media (min-width: 1200px) {
  .emergency-relief .relief-list > ul > li ~ li figure {
    margin-top: 0; }
  .emergency-relief .relief-list > ul > li figure {
    position: relative;
    padding: 0; }
    .emergency-relief .relief-list > ul > li figure:after {
      position: absolute;
      top: 118px;
      right: -22px;
      font-size: 40px;
      color: #eb6101;
      font-family: "fontello";
      content: ""; }
  .emergency-relief .relief-list > ul > li:last-child figure:after {
    content: " "; }
  .emergency-relief .news-list {
    margin-top: 140px; }
    .emergency-relief .news-list h4 {
      font-size: 18px; } }

.welfare-work .business-list > ul > li ~ li {
  margin-top: 80px; }
.welfare-work .business-list > ul > li figure .img-fluid {
  display: block;
  margin: 0 auto; }
.welfare-work .business-list > ul > li .details {
  margin-top: 30px; }
  .welfare-work .business-list > ul > li .details h3 {
    font-size: 26px;
    color: #333;
    line-height: 36px;
    font-weight: 400; }
    .welfare-work .business-list > ul > li .details h3 small {
      display: block;
      font-size: 13px;
      color: #144199;
      font-weight: 300; }
  .welfare-work .business-list > ul > li .details p {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    margin-top: 40px; }
.welfare-work .business-list > ul > li .btn-area {
  margin-top: 50px; }
  .welfare-work .business-list > ul > li .btn-area p .btn-lg {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: #5b5b5b;
    line-height: 43px;
    border: 1px solid #5b5b5b;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .welfare-work .business-list > ul > li .btn-area p .btn-lg:hover, .welfare-work .business-list > ul > li .btn-area p .btn-lg:focus {
      opacity: 1;
      color: #fff;
      border-color: #eb6101;
      background-color: #eb6101; }
@media (min-width: 768px) {
  .welfare-work .business-list > ul > li ~ li {
    margin-top: 100px; }
  .welfare-work .business-list > ul > li .details h3 {
    font-size: 28px; }
    .welfare-work .business-list > ul > li .details h3 small {
      font-size: 14px; }
  .welfare-work .business-list > ul > li .details p {
    font-size: 14px; }
  .welfare-work .business-list > ul > li .btn-area p .btn-lg {
    width: 250px; } }
@media (min-width: 1200px) {
  .welfare-work .business-list > ul > li ~ li {
    margin-top: 170px; }
  .welfare-work .business-list > ul > li .details {
    margin-top: 50px; }
  .welfare-work .business-list > ul > li .btn-area {
    margin-top: 60px; }
    .welfare-work .business-list > ul > li .btn-area p .btn-lg {
      width: 250px; } }

.volunteer-introduce {
  padding-bottom: 0 !important;
  margin-top: 50px; }
  .volunteer-introduce .volunteer-info {
    text-align: center;
    padding-bottom: 50px; }
    .volunteer-introduce .volunteer-info h4 {
      font-size: 24px;
      color: #eb6100;
      line-height: 32px;
      font-weight: 300;
      margin-bottom: 35px; }
    .volunteer-introduce .volunteer-info .summary {
      font-size: 15px;
      color: #555;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 40px; }
    .volunteer-introduce .volunteer-info .circle-summary {
      font-size: 0; }
      .volunteer-introduce .volunteer-info .circle-summary > li {
        display: inline-block;
        width: 160px;
        height: 160px;
        text-align: center;
        border-radius: 50%;
        padding-top: 25px; }
        .volunteer-introduce .volunteer-info .circle-summary > li figure .img-fluid {
          display: block;
          height: 36px;
          width: auto !important;
          margin: 0 auto; }
        .volunteer-introduce .volunteer-info .circle-summary > li figure figcaption {
          color: #fff;
          text-align: center; }
          .volunteer-introduce .volunteer-info .circle-summary > li figure figcaption small {
            display: block;
            font-weight: 300;
            margin-top: 15px;
            font-size: 12px; }
          .volunteer-introduce .volunteer-info .circle-summary > li figure figcaption strong {
            display: block;
            font-size: 24px;
            font-weight: 400;
            margin-top: 5px; }
        .volunteer-introduce .volunteer-info .circle-summary > li.treatment-count {
          margin-right: -10px;
          background-color: rgba(235, 97, 0, 0.8); }
        .volunteer-introduce .volunteer-info .circle-summary > li.year-count {
          margin-left: -10px;
          background-color: rgba(20, 65, 153, 0.8); }
    .volunteer-introduce .volunteer-info .latest-news {
      text-align: left;
      margin-top: 45px; }
      .volunteer-introduce .volunteer-info .latest-news h5 {
        font-size: 18px;
        color: #222;
        font-weight: 400;
        margin-bottom: 20px; }
      .volunteer-introduce .volunteer-info .latest-news > ul {
        border-top: 2px solid #eb6101;
        border-bottom: 1px solid #dfdfdf; }
        .volunteer-introduce .volunteer-info .latest-news > ul > li:last-child {
          border-top: 1px solid #dfdfdf; }
        .volunteer-introduce .volunteer-info .latest-news > ul > li > a {
          position: relative;
          font-size: 13px;
          color: #333;
          display: block;
          padding: 17px 25px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .volunteer-introduce .volunteer-info .latest-news > ul > li > a:before {
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -10px;
            font-family: "fontello";
            content: "\E812"; }
          .volunteer-introduce .volunteer-info .latest-news > ul > li > a:after {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -10px;
            font-family: "fontello";
            content: "\E80B"; }
  .volunteer-introduce .medical-association {
    text-align: center;
    padding: 45px 0;
    background-color: #f7f7f7; }
    .volunteer-introduce .medical-association h4 {
      font-size: 26px;
      color: #555;
      font-weight: 400;
      margin-bottom: 25px; }
    .volunteer-introduce .medical-association .summary {
      font-size: 14px;
      color: #555;
      line-height: 26px;
      margin-bottom: 55px; }
    .volunteer-introduce .medical-association ul > li ~ li figure {
      margin-top: 30px; }
    .volunteer-introduce .medical-association ul > li figure {
      text-align: center; }
      .volunteer-introduce .medical-association ul > li figure .img-fluid {
        width: 100%;
        margin: 0 auto;
        display: block; }
      .volunteer-introduce .medical-association ul > li figure figcaption {
        font-size: 13px;
        color: #333;
        font-weight: 300;
        margin-top: 15px; }
  @media (min-width: 768px) {
    .volunteer-introduce {
      margin-top: 100px; }
      .volunteer-introduce .volunteer-info {
        padding-bottom: 100px; }
        .volunteer-introduce .volunteer-info h4 {
          font-size: 30px; }
        .volunteer-introduce .volunteer-info .summary {
          line-height: 30px;
          margin-bottom: 60px; }
        .volunteer-introduce .volunteer-info .circle-summary > li {
          width: 230px;
          height: 230px;
          padding-top: 40px; }
          .volunteer-introduce .volunteer-info .circle-summary > li figure .img-fluid {
            height: 52px; }
          .volunteer-introduce .volunteer-info .circle-summary > li figure figcaption small {
            font-size: 18px; }
          .volunteer-introduce .volunteer-info .circle-summary > li figure figcaption strong {
            font-size: 36px; }
          .volunteer-introduce .volunteer-info .circle-summary > li.treatment-count {
            margin-right: -15px; }
          .volunteer-introduce .volunteer-info .circle-summary > li.year-count {
            margin-left: -15px; }
        .volunteer-introduce .volunteer-info .latest-news {
          margin-top: 100px; }
          .volunteer-introduce .volunteer-info .latest-news h5 {
            font-size: 18px; }
          .volunteer-introduce .volunteer-info .latest-news > ul > li > a {
            font-size: 14px;
            padding: 18px 35px; }
            .volunteer-introduce .volunteer-info .latest-news > ul > li > a:before {
              left: 20px; }
            .volunteer-introduce .volunteer-info .latest-news > ul > li > a:after {
              right: 20px; }
      .volunteer-introduce .medical-association {
        padding: 80px 0; }
        .volunteer-introduce .medical-association h4 {
          margin-bottom: 30px; }
        .volunteer-introduce .medical-association .summary {
          line-height: 30px;
          margin-bottom: 60px; }
        .volunteer-introduce .medical-association ul > li ~ li figure {
          margin-top: 0; } }
  @media (min-width: 1200px) {
    .volunteer-introduce .medical-association {
      padding: 100px 0; }
      .volunteer-introduce .medical-association ul > li figure figcaption {
        font-size: 14px; } }

.volunteer-schedule {
  margin-top: 45px; }
  .volunteer-schedule .info {
    text-align: center;
    padding: 0 15px; }
    .volunteer-schedule .info strong {
      display: block;
      font-size: 24px;
      color: #222;
      font-weight: 400; }
      .volunteer-schedule .info strong span {
        color: #eb6101;
        font-weight: 500;
        font-family: 'Roboto', sans-serif; }
    .volunteer-schedule .info > p {
      font-size: 13px;
      color: #555;
      line-height: 26px;
      margin: 25px 0; }
  .volunteer-schedule .schedule-list > .schedule-date {
    padding: 30px 20px;
    border: 1px solid #e2e2e2;
    background-color: #f9fafc; }
    .volunteer-schedule .schedule-list > .schedule-date ~ .schedule-date {
      margin-top: 10px; }
    .volunteer-schedule .schedule-list > .schedule-date h4 {
      font-size: 16px;
      color: #144199;
      font-weight: 400; }
      .volunteer-schedule .schedule-list > .schedule-date h4 span {
        color: #eb6100; }
        .volunteer-schedule .schedule-list > .schedule-date h4 span i {
          font-style: normal;
          font-family: 'Roboto', sans-serif; }
      .volunteer-schedule .schedule-list > .schedule-date h4 small {
        font-size: 12px;
        color: #666; }
    .volunteer-schedule .schedule-list > .schedule-date hr {
      display: block;
      width: 100%;
      border-top: 1px solid #dfdfdf;
      margin: 20px 0; }
    .volunteer-schedule .schedule-list > .schedule-date > ul > li {
      line-height: 26px; }
      .volunteer-schedule .schedule-list > .schedule-date > ul > li dl {
        overflow: hidden;
        font-size: 13px; }
        .volunteer-schedule .schedule-list > .schedule-date > ul > li dl dt {
          position: relative;
          width: 90px;
          padding-left: 15px;
          float: left;
          color: #333;
          font-weight: 400; }
          .volunteer-schedule .schedule-list > .schedule-date > ul > li dl dt:before {
            position: absolute;
            top: 0;
            left: 3px;
            font-family: "fontello";
            content: "\E812";
            color: #eb6100; }
        .volunteer-schedule .schedule-list > .schedule-date > ul > li dl dd {
          padding-left: 90px;
          display: block;
          font-weight: 400;
          color: #666; }
  .volunteer-schedule .schedule-list .attention {
    font-size: 12px;
    color: #666;
    margin-top: 20px; }
    .volunteer-schedule .schedule-list .attention:before {
      content: "※ "; }
  @media (min-width: 768px) {
    .volunteer-schedule {
      margin-top: 75px; }
      .volunteer-schedule .info {
        padding: 0; }
        .volunteer-schedule .info strong {
          font-size: 30px; }
        .volunteer-schedule .info > p {
          font-size: 15px;
          margin: 30px 0 65px; }
      .volunteer-schedule .schedule-list > .schedule-date {
        padding: 40px 50px; }
        .volunteer-schedule .schedule-list > .schedule-date ~ .schedule-date {
          margin-top: 30px; }
        .volunteer-schedule .schedule-list > .schedule-date h4 {
          font-size: 24px; }
          .volunteer-schedule .schedule-list > .schedule-date h4 small {
            font-size: 16px; }
        .volunteer-schedule .schedule-list > .schedule-date hr {
          margin: 30px 0; }
        .volunteer-schedule .schedule-list > .schedule-date > ul {
          overflow: hidden; }
          .volunteer-schedule .schedule-list > .schedule-date > ul > li {
            float: left;
            width: 50%;
            line-height: 36px; }
            .volunteer-schedule .schedule-list > .schedule-date > ul > li dl {
              font-size: 15px; }
              .volunteer-schedule .schedule-list > .schedule-date > ul > li dl dt {
                width: 125px; }
              .volunteer-schedule .schedule-list > .schedule-date > ul > li dl dd {
                padding-left: 125px; }
      .volunteer-schedule .schedule-list .attention {
        font-size: 14px;
        margin-top: 30px; } }
  @media (min-width: 1200px) {
    .volunteer-schedule {
      margin-top: 85px; }
      .volunteer-schedule .schedule-list .attention {
        margin-top: 35px; } }

.page-intro .tab-business .tab-list {
  overflow: hidden; }
  .page-intro .tab-business .tab-list li {
    float: left;
    width: 50%;
    line-height: 50px;
    padding-bottom: 0; }
    .page-intro .tab-business .tab-list li:nth-of-type(even):after {
      display: none; }
@media (min-width: 768px) {
  .page-intro .tab-business .tab-list li {
    float: none;
    width: 1%;
    padding-bottom: 10px; }
    .page-intro .tab-business .tab-list li:nth-of-type(even):after {
      display: block; } }

.sub-header {
  text-align: center;
  padding: 50px 0 45px; }
  .sub-header h3 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    line-height: 32px; }
  .sub-header p {
    font-size: 13px;
    color: #666;
    line-height: 24px;
    margin-top: 25px; }
  @media (min-width: 768px) {
    .sub-header {
      padding: 70px 0 65px; }
      .sub-header h3 {
        font-size: 30px; }
      .sub-header p {
        font-size: 14px;
        line-height: 26px; } }
  @media (min-width: 1200px) {
    .sub-header {
      padding: 80px 0 45px; } }

.children {
  padding-bottom: 0 !important; }
  .children .section-content .abc-list {
    margin-top: 40px; }
  .children .section-content .dot-board {
    margin-top: 80px; }
  .children .section-content .bg-children {
    height: 327px;
    text-align: center;
    background-image: url(/assets/images/business/bg_children_md.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px; }
    .children .section-content .bg-children .logo {
      text-align: center;
      padding-top: 100px; }
    .children .section-content .bg-children p {
      font-size: 14px;
      color: #fff;
      margin-top: 20px;
      text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); }
    .children .section-content .bg-children small {
      display: block;
      font-size: 13px;
      color: #fff;
      opacity: .5;
      font-weight: 300;
      margin-top: 5px; }
  @media (min-width: 768px) {
    .children .section-content .dot-board {
      margin-top: 100px; }
    .children .section-content .bg-children {
      text-align: left;
      height: 445px;
      margin-top: 100px; }
      .children .section-content .bg-children .logo {
        text-align: left;
        padding-top: 140px; }
      .children .section-content .bg-children p {
        font-size: 20px;
        margin-top: 35px; }
      .children .section-content .bg-children small {
        font-size: 15px;
        margin-top: 20px; } }
  @media (min-width: 1200px) {
    .children .section-content .abc-list {
      margin-top: 60px; }
    .children .section-content .dot-board {
      margin-top: 120px; }
    .children .section-content .bg-children {
      height: 500px;
      background-image: url(/assets/images/business/bg_children_xl.jpg);
      margin-top: 150px; }
      .children .section-content .bg-children .logo {
        padding-top: 150px; }
      .children .section-content .bg-children p {
        font-size: 22px; } }

.medical {
  padding-bottom: 0 !important; }
  .medical .section-content .item .row .col-12 ~ .col-12 figure {
    margin-top: 10px; }
  .medical .section-content .item .row .col-12 figure img {
    width: 100%; }
  .medical .section-content .dot-list {
    margin: 40px 0 60px; }
  .medical .section-content .blind {
    text-align: center;
    padding: 50px 0px;
    background-color: #f7f7f7; }
    .medical .section-content .blind .section-header h3 {
      font-size: 24px;
      color: #333;
      font-weight: 400; }
    .medical .section-content .blind .section-header p {
      font-size: 13px;
      color: #444;
      line-height: 26px;
      margin-top: 30px; }
    .medical .section-content .blind .section-content {
      padding-top: 50px; }
      .medical .section-content .blind .section-content .row .col-12 ~ .col-12 .figure {
        margin-top: 60px; }
      .medical .section-content .blind .section-content .row .col-12 .figcaption {
        margin-top: 20px; }
        .medical .section-content .blind .section-content .row .col-12 .figcaption > h5 {
          font-size: 18px;
          color: #333;
          font-weight: 400; }
        .medical .section-content .blind .section-content .row .col-12 .figcaption > p {
          font-size: 15px;
          color: #666;
          line-height: 26px;
          margin-top: 15px; }
      .medical .section-content .blind .section-content .dot-board {
        text-align: left;
        margin-top: 50px; }
        .medical .section-content .blind .section-content .dot-board .article-header h3 {
          margin-bottom: 15px; }
  @media (min-width: 768px) {
    .medical .section-content .dot-list {
      margin: 40px 0 100px; }
    .medical .section-content .blind {
      padding: 110px 0 130px; }
      .medical .section-content .blind .section-header h3 {
        font-size: 30px; }
      .medical .section-content .blind .section-header p {
        font-size: 14px; }
      .medical .section-content .blind .section-content {
        padding-top: 50px; }
        .medical .section-content .blind .section-content .row .col-12 ~ .col-12 .figure {
          margin-top: 0; }
        .medical .section-content .blind .section-content .row .col-12 .figure {
          height: 68px; }
        .medical .section-content .blind .section-content .row .col-12 .figcaption {
          margin-top: 30px; }
          .medical .section-content .blind .section-content .row .col-12 .figcaption > h5 {
            font-size: 20px; }
          .medical .section-content .blind .section-content .row .col-12 .figcaption > p {
            margin-top: 20px; }
        .medical .section-content .blind .section-content .dot-board {
          margin-top: 110px; } }
  @media (min-width: 1200px) {
    .medical .section-content .item .row .col-12 ~ .col-12 figure {
      margin-top: 0; }
    .medical .section-content .dot-list {
      margin: 30px 0 120px; }
    .medical .section-content .blind .section-content {
      padding-top: 90px; }
      .medical .section-content .blind .section-content .row .col-12 .figcaption {
        margin-top: 35px; }
      .medical .section-content .blind .section-content .dot-board {
        margin-top: 120px; } }

.education .sub-header p {
  margin-top: 0; }
.education .section-content .item .row .col-12 ~ .col-12 figure {
  margin-top: 10px; }
.education .section-content .item .row .col-12 figure img {
  width: 100%; }

/*# sourceMappingURL=business.css.map */
