@import 'common';

.business {
    .page-intro {
        .lnb.volunteer {
            .tab-list {
                li {
                    width: 50% !important;
                }
            }
        }
    }
    .page-header {
        .page-summary {
            background-image: url(/assets/images/business/bg_page_header_sm.jpg);
            @media(min-width: $md) {
                background-image: url(/assets/images/business/bg_page_header_lg.jpg);
            }
        }
    }
}


// 긴급구호
.emergency-relief {
    .relief-list {
        > ul {
            > li {
                & ~ li {
                    figure {
                        margin-top: 70px;
                    }
                }
                figure {
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                    figcaption {
                        text-align: center;
                        margin-top: 30px;
                        h3 {
                            font-size: 20px;
                            color: #144199;
                            font-weight: 400;
                        }
                        p {
                            font-size: 13px;
                            color: #666;
                            line-height: 24px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    .news-list {
        margin-top: 100px;
        h4 {
            font-size: 18px;
            color: #222;
            font-weight: 400;
            margin-bottom: 20px;
        }
        > ul {
            border-top: 2px solid #eb6101;
            > li {
                border-bottom: 1px solid #dfdfdf;
                > a {
                    position: relative;
                    padding: 0 25px;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 50px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        font-family: "fontello";
                        content: "\E812";
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 10px;
                        font-size: 16px;
                        color: #333;
                        font-family: "fontello";
                        content: "\F105";
                    }
                }
            }
        }
    }
	.dot-board {
        text-align: left;
		margin-top: 45px;
	}
    @media(min-width: $md) {
        .relief-list {
            > ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                    figure {
                        padding: 0 5px;
                        figcaption {
                            margin-top: 40px;
                            p {
                                font-size: 14px;
                                line-height: 26px;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
        .news-list {
            margin-top: 145px;
            h4 {
                font-size: 20px;
            }
            > ul {
                > li {
                    > a {
                        font-size: 14px;
                        padding: 0 45px 0 30px;
                        line-height: 60px;
                        &:before {
                            left: 20px;
                        }
                        &:after {
                            right: 30px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
		.dot-board {
			margin-top: 100px;
		}
    }
    @media(min-width: $xl) {
        .relief-list {
            > ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                    figure {
                        position: relative;
                        padding: 0;
                        &:after {
                            position: absolute;
                            top: 118px;
                            right: -22px;
                            font-size: 40px;
                            color: #eb6101;
                            font-family: "fontello";
                            content: "\E80B"
                        }
                    }
                    &:last-child {
                        figure {
                            &:after {
                                content: " ";
                            }
                        }
                    }
                }
            }
        }
        .news-list {
            margin-top: 140px;
            h4 {
                font-size: 18px;
            }
        }
    }
}

// 사회복지사업
.welfare-work {
    .business-list {
        > ul {
            > li {
                & ~ li {
                    margin-top: 80px;
                }
                figure {
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .details {
                    margin-top: 30px;
                    h3 {
                        font-size: 26px;
                        color: #333;
                        line-height: 36px;
                        font-weight: 400;
                        small {
                            display: block;
                            font-size: 13px;
                            color: #144199;
                            font-weight: 300;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #666;
                        line-height: 26px;
                        margin-top: 40px;
                    }
                }
                .btn-area {
                    margin-top: 30px;
                    p {
                        .btn-lg {
                            width: 100%;
                            height: 45px;
                            font-size: 14px;
                            color: #5b5b5b;
                            line-height: 43px;
                            border: 1px solid #5b5b5b;
                            @include transition();
                            &:hover/*, &:focus*/ {
                                opacity: 1;
                                color: #fff;
                                border-color: #eb6101;
                                background-color: #eb6101;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .business-list {
            > ul {
                > li {
                    & ~ li {
                        margin-top: 100px;
                    }
                    .details {
                        h3 {
                            font-size: 28px;
                            small {
                                font-size: 14px;
                            }
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                    .btn-area {
                        p {
                            .btn-lg {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .business-list {
            > ul {
                > li {
                    & ~ li {
                        margin-top: 150px;
                    }
                    .details {
                        margin-top: 50px;
                    }
                    .btn-area {
                        p {
                            .btn-lg {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 사랑의의료봉사 소개
.volunteer-introduce {
    padding-bottom: 0 !important;
    margin-top: 50px;
    .volunteer-info {
        text-align: center;
        padding-bottom: 50px;
        h4 {
            font-size: 24px;
            color: #eb6100;
            line-height: 32px;
            font-weight: 300;
            margin-bottom: 35px;
        }
        .summary {
            font-size: 15px;
            color: #555;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 40px;
        }
		.circle-summary {
			font-size: 0;
			> li {
				display: inline-block;
				width: 160px;  
				height: 160px;
                text-align: center;
				border-radius: 50%;
				padding-top: 25px;
				figure {
                    .img-fluid {
                        display: block;
						height: 36px;
						width: auto !important;
                        margin: 0 auto;
                    }
                    figcaption {
                        color: #fff;
                        text-align: center;
                        small {
                            display: block;
                            font-weight: 300;
                            margin-top: 15px;
                            font-size: 12px;
                        }
                        strong {
                            display: block;
                            font-size: 20px;
                            font-weight: 400;
							margin-top: 5px;
                        }
                    }
                }
                &.treatment-count {
					margin-right: -10px;
                    background-color: rgba(235, 97, 0, .8);
                }
                &.year-count {
					margin-left: -10px;
                    background-color: rgba(20, 65, 153, .8);
                }
			}
		}
        .dot-board {
            text-align: left;
            margin-top: 45px;
        }
    }
    .medical-association {
        text-align: center;
        padding: 45px 0;
        background-color: #f7f7f7;
        h4 {
            font-size: 26px;
            color: #555;
            font-weight: 400;
            margin-bottom: 25px;
        }
        .summary {
            font-size: 14px;
            color: #555;
            line-height: 26px;
            margin-bottom: 55px;
        }
        ul {
            > li {
                & ~ li {
                    figure {
                        margin-top: 30px;
                    }
                }
                figure {
                    text-align: center;
                    .img-fluid {
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                    figcaption {
                        font-size: 13px;
                        color: #333; 
                        font-weight: 300;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        margin-top: 100px;
        .volunteer-info {
			padding-bottom: 100px;
            h4 {
                font-size: 30px;
            }
            .summary {
                line-height: 30px;
                margin-bottom: 60px;
            }
			.circle-summary {
				> li {
					width: 230px;  
					height: 230px;
					padding-top: 40px;
					figure {
						.img-fluid {
							height: 52px;
						}
						figcaption {
							small {
								font-size: 18px;
							}
							strong {
								font-size: 30px;
							}
						}
					}
					&.treatment-count {
						margin-right: -15px;
					}
					&.year-count {
						margin-left: -15px;
					}
				}
			}
            .dot-board {
                margin-top: 100px;
            }
        }
        .medical-association {
            padding: 80px 0;
            h4 {
                margin-bottom: 30px;
            }
            .summary {
                line-height: 30px;
                margin-bottom: 60px;
            }
            ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .medical-association {
            padding: 100px 0;
            ul {
                > li {
                    figure {
                        figcaption {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// 사랑의 의료봉사 이동진료 일정안내
.volunteer-schedule {
    margin-top: 45px;
	.info {
		text-align: center;
		padding: 0 15px;
		strong {
			display: block;
			font-size: 24px;
			color: #222;
			font-weight: 400;
			span {
				color: #eb6101;
				font-weight: 500;
				@include roboto();
			}
		}
		> p {
			font-size: 13px;
			color: #555;
			line-height: 26px;
			margin: 25px 0; 
		} 
	}
    .schedule-list {
        > .schedule-date {
            padding: 30px 20px;
            border: 1px solid #e2e2e2;
            background-color: #f9fafc;
            & ~ .schedule-date {
                margin-top: 10px;
            }
            h4 {
                font-size: 16px;
                color: #144199;
                font-weight: 400;
                span {
                    color: #eb6100;
                    i {
                        font-style: normal;
                        @include roboto();
                    }
                }
                small {
                    font-size: 12px;
                    color: #666;
                }
            }
            hr {
                display: block;
                width: 100%;
                border-top: 1px solid #dfdfdf;
                margin: 20px 0;
            }
            > ul {
                > li {
                    line-height: 26px;
                    dl {
                        overflow: hidden;
                        font-size: 13px;
                        dt {
                            position: relative;
                            width: 90px;
                            padding-left: 15px;
                            float: left;
                            color: #333;
                            font-weight: 400;
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 3px;
                                font-family: "fontello";
                                content: "\E812";
                                color: #eb6100;
                            }
                        }
                        dd {
                            padding-left: 90px;
                            display: block;
                            font-weight: 400;
                            color: #666;
                        }
                    }
                }
            }
        }
        .attention {
            font-size: 12px;
            color: #666;
            margin-top: 20px;
            &:before {
                content: "※ ";
            }
        }
    }
    @media(min-width: $md) {
        margin-top: 75px;
		.info {
			padding: 0;
			strong {
				font-size: 30px;
			}
			> p {
				font-size: 15px;
				margin: 30px 0 65px; 
			} 
		}
        .schedule-list {
            > .schedule-date {
                padding: 40px 50px;
                & ~ .schedule-date {
                    margin-top: 30px;
                }
                h4 {
                    font-size: 24px;
                    small {
                        font-size: 16px;
                    }
                }
                hr {
                    margin: 30px 0;
                }
                > ul {
                    overflow: hidden;
                    > li {
                        float: left;
                        width: 50%;
                        line-height: 36px;
                        dl {
                            font-size: 15px;
                            dt {
                                width: 125px;
                            }
                            dd {
                                padding-left: 125px;
                            }
                        }
                    }
                }
            }
            .attention {
                font-size: 14px;
                margin-top: 30px;
            }
        }
    }
    @media(min-width: $xl) {
        margin-top: 85px;
        .schedule-list {
            .attention {
                margin-top: 35px;
            }
        }
    }
}

// 사업소개 공통  1) lnb
.page-intro {
	.tab-business {
		 .tab-list {
			overflow: hidden;
			li {
				float: left;
				width: 50%;
				line-height: 50px;
				padding-bottom: 0;
				&:nth-of-type(even) {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	@media (min-width: $md) {
		.tab-business {
			 .tab-list {
				li {
					float: none;
					width: 1%;
     				padding-bottom: 10px; 
					&:nth-of-type(even) {
						&:after {
							display: block;
						}
					}
				}
			}
		}
	}
}

//사업소개 공통 2)sub-header
.sub-header {
	text-align: center;
	padding: 50px 0 45px;
	h3 {
		font-size: 24px;
		color: #333;
		font-weight: 400;
		line-height: 32px;
	}
	p {
		font-size: 13px;
		color: #666;
		line-height: 24px;
		margin-top: 25px;
	}
	@media (min-width: $md) {
		padding: 70px 0 65px;
		h3 {
			font-size: 30px;
		}
		p {
			font-size: 14px;
			line-height: 26px;
		}
	}
	@media (min-width: $xl) {
		padding: 80px 0 45px;
	}
}

//사업소개 아동후원사업 (해외 & 국내 공통)
.children {
	padding-bottom: 0 !important;
	.section-content {
		.abc-list {
			margin-top: 40px;
		}
		.dot-board {
			margin-top: 50px;
		}
		.bg-children {
			height: 327px;
			text-align: center;
			background-image: url(/assets/images/business/bg_children_md.jpg);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 100px;
			margin-top: 50px;
			&.domestic {
				background-image: url(/assets/images/business/bg_domestic_children_md.jpg);
			}
			.logo {
				text-align: center;
			}
			p {
				font-size: 14px;
				color: #fff;
				margin-top: 20px;
				text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); 
			}
			small {
				display: block;
				font-size: 13px;
				color: #fff;
				opacity: .5;
				font-weight: 300;
				margin-top: 5px; 
			}
		}
	}
	@media (min-width: $md) {
		.section-content {
			.dot-board {
				margin-top: 100px;
			}
			.bg-children {
				text-align: left;
				height: 445px;
				margin-top: 100px;
				padding-top: 140px;
				.logo {
					text-align: left;
				}
				p {
					font-size: 20px;
					margin-top: 35px;
				}
				small {
					font-size: 15px;
					margin-top: 20px;
				}
			}
		}
	}
	@media (min-width: $xl) {
		.section-content {
			.method {
				li {
					.box {
						height: 220px;
					}	
				}
			}
			.abc-list {
				margin-top: 60px;
			}
			.dot-board {
				margin-top: 120px;
			}
			.bg-children {
				height: 500px;
				background-image: url(/assets/images/business/bg_children_xl.jpg);
				margin-top: 150px;
				padding-top: 150px;
				&.domestic {
					background-image: url(/assets/images/business/bg_domestic_children.jpg);
				}
				p {
					font-size: 22px;
				}
			}
		}
	}
}

//보건의료사업
.medical {
	padding-bottom: 0 !important;
	.cloth {
		.section-content {
			.item {
				.row {
					.col-12 {
						& ~ .col-12 {
							figure {
								margin-top: 10px;
							}
						}
						figure {
							img {
								width: 100%;
							}
						}
					}
				}
			}
			.dot-list {
				margin: 40px 0 60px;
			}
		}
		@media (min-width: $md) {
			.section-content {
				.dot-list {
					margin: 40px 0 100px;
				}
			}
		}
		@media (min-width: $xl) {
			.section-content {
				.item {
					.row {
						.col-12 {
							& ~ .col-12 {
								figure {
									margin-top: 0; 
								}
							}
						}
					}
				}
				.dot-list {
					margin: 30px 0 120px;
				}
			}
		}
	}
	.blind {
		text-align: center;
		padding: 50px 0px;
		background-color: #f7f7f7;
		.section-header {
			h3 {
				font-size: 24px;
				color: #333;
				font-weight: 400;
			}
			p {
				font-size: 13px;
				color: #444;
				line-height: 26px;
				margin-top: 30px;
			}
		}
		.section-content {
			padding-top: 50px;
			.row {
				.col-12	{
					& ~ .col-12 {
						.figure {
							margin-top: 60px;
						}
					}
					.figcaption {
						margin-top: 20px;
						> h5 {
							font-size: 18px;
							color: #333;
							font-weight: 400;
						}
						> p {
							font-size: 15px;
							color: #666;
							line-height: 26px;
							margin-top: 15px;
						}
					}
				}
			}
			.dot-board {
				text-align: left;
				margin-top: 50px;
				.article-header {
					h3 {
						margin-bottom: 15px;
					}
				}
			}
		}
		@media (min-width: $md) {
			padding: 110px 0 130px;
			.section-header {
				h3 {
					font-size: 30px;
				}
				p {
					font-size: 14px;
				}
			}
			.section-content {
				padding-top: 50px;
				.row {
					.col-12	{
						& ~ .col-12 {
							.figure {
								margin-top: 0;
							}
						}
						.figure {
							height: 68px;
						} 
						.figcaption {
							margin-top: 30px;
							> h5 {
								font-size: 20px;
							}
							> p {
								margin-top: 20px;
							}
						}
					}
				}
				.dot-board {
					margin-top: 110px;
				}
			}
		}
		@media (min-width: $xl) {
			.section-content {
				padding-top: 90px;
				.row {
					.col-12	{
						.figcaption {
							margin-top: 35px;
						}
					}
				}
				.dot-board {
					margin-top: 120px;
				}
			}
		}
	}
}

//교육지원사업
.education {
	.sub-header {
		p {
			margin-top: 0;	
		}
	}
	.section-content {
		.item {
			.row {
				.col-12 {
					& ~ .col-12 {
						figure {
							margin-top: 10px;
						}
					}
					figure {
						img {
							width: 100%;
						}
					}
				}
			}
		}
		.dot-list {
			margin-top: 40px;
		}
		.dot-board {
			margin-top: 50px;
		}
	}
	@media(min-width: $md) {
		.section-content {
			.dot-board {
				margin-top: 70px;
			}
		}
	}
	@media (min-width: $xl) { 
		.section-content {
			.item {
				.row {
					.col-12 {
						& ~ .col-12 {
							figure {
								margin-top: 0; 
							}
						}
					}
				}
			}
			.dot-list {
				margin-top: 30px;
			}
			.dot-board {
				margin-top: 100px;
			}
		}
	}
}

//지역개발사업
.regional {
	padding-bottom: 0 !important;
	.water {
		.section-content {
			.item {
				.row {
					.col-12 {
						& ~ .col-12 {
							figure {
								margin-top: 10px;
							}
						}
						figure {
							img {
								width: 100%;
							}
						}
					}
				}
			}
			.dot-list {
				margin: 40px 0 50px;
			}
		}
		@media (min-width: $md) {
			.section-content {
				.dot-list {
					margin: 40px 0 70px;
				}
			}
		}
		@media (min-width: $xl) {
			.section-content {
				.item {
					.row {
						.col-12 {
							& ~ .col-12 {
								figure {
									margin-top: 0; 
								}
							}
						}
					}
				}
				.dot-list {
					margin: 30px 0 120px;
				}
			}
		}
	}
	.local {
		padding: 50px 0px;
		background-color: #f7f7f7;
		.section-header {
			text-align: center;
			h3 {
				font-size: 24px;
				color: #333;
				font-weight: 400;
			}
			p {
				font-size: 13px;
				color: #444;
				line-height: 26px;
				margin-top: 30px;
			}
		}
		.section-content {
			padding-top: 50px;
			.items {
				.row {
					.col-12	{
						& ~ .col-12 {
							figure {
								margin-top: 10px;
							}
						}
						figure {
							img { 
								width: 100%;
							}
						}
					}
				}
			}
			.dot-list {
				margin-top: 30px;
			}
			.dot-board {
				margin-top: 50px;
				.article-header {
					h3 {
						margin-bottom: 15px;
					}
				}
			}
		}
		@media (min-width: $md) {
			padding: 70px 0;
			.section-header {
				h3 {
					font-size: 30px;
				}
				p {
					font-size: 14px;
				}
			}
			.section-content {
				padding-top: 50px;
				.items {
					.row {
						.col-12	{
							& ~ .col-12 {
								figure {
									margin-top: 0;
								}
							}
						}
					}
				}
				.dot-list {
					margin-top: 40px;
				}
				.dot-board {
					margin-top: 70px;
				}
			}
		}
		@media (min-width: $xl) {
			padding: 110px 0;
			.section-content {
				padding-top: 50px;
				.dot-board {
					margin-top: 140px;
				}
			}
		}
	}
}

//국내사업 공통
.domestic-list {
	padding-top: 50px;
	li {
		& ~ li {
			figure {
				margin-top: 45px;
			}
		}
		figure {
			img {
				width: 100%;
			}
		}
		h4 {
			font-size: 16px;
			color: #eb6100;
			font-weight: 400;
			padding: 30px 0 10px;
		}
		p {
			font-size: 13px;
			color: #666;
			line-height: 24px;
		}
	}
	@media (min-width: $md) {
		padding-top: 70px;
		li {
			& ~ li {
				figure {
					margin-top: 70px;
				}
			}
			h4 {
				font-size: 24px;
				padding: 20px 0 10px;
			}
			p {
				font-size: 14px;
				line-height: 26px;
			}
		}
	}
	@media (min-width: $xl) {
		padding-top: 75px;
		li {
			& ~ li {
				figure {
					margin-top: 85px;
				}
			}
			h4 {
				padding: 45px 0 10px;
			}
		}
	}
}

// 국내사업 아동지원사업
.children-support {
	.dot-board {
		margin-top: 50px;
		@media (min-width: $md) {
			margin-top: 70px;
		}
		@media (min-width: $xl) {
			margin-top: 120px;
		}
	}
}

// 국내사업 위기가정지원사업
.family-crisis {
	.dot-board {
		margin-top: 50px;
		@media (min-width: $md) {
			margin-top: 70px;
		}
		@media (min-width: $xl) {
			margin-top: 120px;
		}
	}
}

// 국내사업 통합지원사업 문화
.support {
	.domestic-list {
		li {
			.row {
				.col-12 {
					& ~ .col-12 {
						figure {
							margin-top: 10px;
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			li {
				.row {
					.col-12 {
						& ~ .col-12 {
							figure {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
	.dot-board {
		margin-top: 50px;
		@media (min-width: $md) {
			margin-top: 70px;
		}
		@media (min-width: $xl) {
			margin-top: 120px;
		}
	}
}


























