@import 'common';

.business {
    .page-intro {
        .lnb.volunteer {
            .tab-list {
                li {
                    width: 50% !important;
                }
            }
        }
    }
}

// 긴급구호
.emergency-relief {
    .relief-list {
        > ul {
            > li {
                & ~ li {
                    figure {
                        margin-top: 70px;
                    }
                }
                figure {
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                    figcaption {
                        text-align: center;
                        margin-top: 30px;
                        h3 {
                            font-size: 20px;
                            color: #144199;
                            font-weight: 400;
                        }
                        p {
                            font-size: 13px;
                            color: #666;
                            line-height: 24px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    .news-list {
        margin-top: 100px;
        h4 {
            font-size: 18px;
            color: #222;
            font-weight: 400;
            margin-bottom: 20px;
        }
        > ul {
            border-top: 2px solid #eb6101;
            > li {
                border-bottom: 1px solid #dfdfdf;
                > a {
                    position: relative;
                    padding: 0 25px;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 50px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        font-family: "fontello";
                        content: "\E812";
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 10px;
                        font-size: 16px;
                        color: #333;
                        font-family: "fontello";
                        content: "\F105";
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .relief-list {
            > ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                    figure {
                        padding: 0 5px;
                        figcaption {
                            margin-top: 40px;
                            p {
                                font-size: 14px;
                                line-height: 26px;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
        .news-list {
            margin-top: 145px;
            h4 {
                font-size: 20px;
            }
            > ul {
                > li {
                    > a {
                        font-size: 14px;
                        padding: 0 45px 0 30px;
                        line-height: 60px;
                        &:before {
                            left: 20px;
                        }
                        &:after {
                            right: 30px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .relief-list {
            > ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                    figure {
                        position: relative;
                        padding: 0;
                        &:after {
                            position: absolute;
                            top: 118px;
                            right: -22px;
                            font-size: 40px;
                            color: #eb6101;
                            font-family: "fontello";
                            content: "\E80B"
                        }
                    }
                    &:last-child {
                        figure {
                            &:after {
                                content: " ";
                            }
                        }
                    }
                }
            }
        }
        .news-list {
            margin-top: 140px;
            h4 {
                font-size: 18px;
            }
        }
    }
}

// 사회복지사업
.welfare-work {
    .business-list {
        > ul {
            > li {
                & ~ li {
                    margin-top: 80px;
                }
                figure {
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .details {
                    margin-top: 30px;
                    h3 {
                        font-size: 26px;
                        color: #333;
                        line-height: 36px;
                        font-weight: 400;
                        small {
                            display: block;
                            font-size: 13px;
                            color: #144199;
                            font-weight: 300;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #666;
                        line-height: 26px;
                        margin-top: 40px;
                    }
                }
                .btn-area {
                    margin-top: 50px;
                    p {
                        .btn-lg {
                            width: 100%;
                            height: 45px;
                            font-size: 14px;
                            color: #5b5b5b;
                            line-height: 43px;
                            border: 1px solid #5b5b5b;
                            @include transition();
                            &:hover, &:focus {
                                opacity: 1;
                                color: #fff;
                                border-color: #eb6101;
                                background-color: #eb6101;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .business-list {
            > ul {
                > li {
                    & ~ li {
                        margin-top: 100px;
                    }
                    .details {
                        h3 {
                            font-size: 28px;
                            small {
                                font-size: 14px;
                            }
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                    .btn-area {
                        p {
                            .btn-lg {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .business-list {
            > ul {
                > li {
                    & ~ li {
                        margin-top: 170px;
                    }
                    .details {
                        margin-top: 50px;
                    }
                    .btn-area {
                        margin-top: 60px;
                        p {
                            .btn-lg {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 사랑의의료봉사 소개
.volunteer-introduce {
    padding-bottom: 0 !important;
    margin-top: 50px;
    .volunteer-info {
        text-align: center;
        padding-bottom: 100px;
        h4 {
            font-size: 24px;
            color: #eb6100;
            line-height: 32px;
            font-weight: 300;
            margin-bottom: 35px;
        }
        .summary {
            font-size: 15px;
            color: #555;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 40px;
        }
        .circle-summary {
            font-size: 0;
            > li {
                display: block;
                width: 230px;
                height: 230px;
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;
                color: #fff;
                padding-top: 40px;
                figure {
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                    figcaption {
                        color: #fff;
                        text-align: center;
                        small {
                            display: block;
                            font-weight: 300;
                            margin-top: 20px;
                            font-size: 18px;
                        }
                        strong {
                            display: block;
                            font-size: 36px;
                            font-weight: 400;
                        }
                    }
                }
                &.treatment-count {
                    background-color: rgba(235, 97, 0, .8);
                }
                &.year-count {
                    position: relative;
                    top: -20px;
                    background-color: rgba(20, 65, 153, .8);
                }
            }
        }
        .latest-news {
            text-align: left;
            margin-top: 80px;
            h5 {
                font-size: 18px;
                color: #222;
                font-weight: 400;
                margin-bottom: 20px;
            }
            > ul {
                border-top: 2px solid #eb6101;
                border-bottom: 1px solid #dfdfdf;
                > li {
                    &:last-child {
                        border-top: 1px solid #dfdfdf;
                    }
                    > a {
                        position: relative;
                        font-size: 13px;
                        color: #333;
                        display: block;
                        padding: 17px 25px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            margin-top: -10px;
                            font-family: "fontello";
                            content: "\E812";
                        }
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            margin-top: -10px;
                            font-family: "fontello";
                            content: "\E80B";
                        }
                    }
                }
            }
        }
    }
    .medical-association {
        text-align: center;
        padding: 90px 0;
        background-color: #f7f7f7;
        h4 {
            font-size: 26px;
            color: #555;
            font-weight: 400;
            margin-bottom: 25px;
        }
        .summary {
            font-size: 14px;
            color: #555;
            line-height: 26px;
            margin-bottom: 55px;
        }
        ul {
            > li {
                & ~ li {
                    figure {
                        margin-top: 30px;
                    }
                }
                figure {
                    text-align: center;
                    .img-fluid {
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                    figcaption {
                        font-size: 13px;
                        color: #333;
                        font-weight: 300;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        margin-top: 100px;
        .volunteer-info {
            h4 {
                font-size: 30px;
            }
            .summary {
                line-height: 30px;
                margin-bottom: 60px;
            }
            .circle-summary {
                > li {
                    display: inline-block;
                    figure {
                        .img-fluid {
                            display: inline-block;
                            line-height: 52px;
                        }
                    }
                    &.treatment-count {
                        position: relative;
                        right: -15px;
                    }
                    &.year-count {
                        position: relative;
                        top: 0;
                        left: -15px;
                    }
                }
            }
            .latest-news {
                margin-top: 100px;
                h5 {
                    font-size: 18px;
                }
                > ul {
                    > li {
                        > a {
                            font-size: 14px;
                            padding: 18px 35px;
                            &:before {
                                left: 20px;
                            }
                            &:after {
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
        .medical-association {
            padding: 80px 0;
            h4 {
                margin-bottom: 30px;
            }
            .summary {
                line-height: 30px;
                margin-bottom: 60px;
            }
            ul {
                > li {
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .medical-association {
            padding: 100px 0;
            ul {
                > li {
                    figure {
                        figcaption {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// 사랑의 의료봉사 이동진료 일정안내
.volunteer-schedule {
    margin-top: 45px;
    .schedule-list {
        > .schedule-date {
            padding: 30px 20px;
            border: 1px solid #e2e2e2;
            background-color: #f9fafc;
            & ~ .schedule-date {
                margin-top: 10px;
            }
            h4 {
                font-size: 16px;
                color: #144199;
                font-weight: 400;
                span {
                    color: #eb6100;
                    i {
                        font-style: normal;
                        @include roboto();
                    }
                }
                small {
                    font-size: 12px;
                    color: #666;
                }
            }
            hr {
                display: block;
                width: 100%;
                border-top: 1px solid #dfdfdf;
                margin: 20px 0;
            }
            > ul {
                > li {
                    line-height: 26px;
                    dl {
                        overflow: hidden;
                        font-size: 13px;
                        dt {
                            position: relative;
                            width: 90px;
                            padding-left: 15px;
                            float: left;
                            color: #333;
                            font-weight: 400;
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 3px;
                                font-family: "fontello";
                                content: "\E812";
                                color: #eb6100;
                            }
                        }
                        dd {
                            padding-left: 90px;
                            display: block;
                            font-weight: 400;
                            color: #666;
                        }
                    }
                }
            }
        }
        .attention {
            font-size: 12px;
            color: #666;
            margin-top: 20px;
            &:before {
                content: "※ ";
            }
        }
    }
    @media(min-width: $md) {
        margin-top: 75px;
        .schedule-list {
            > .schedule-date {
                padding: 40px 50px;
                & ~ .schedule-date {
                    margin-top: 30px;
                }
                h4 {
                    font-size: 24px;
                    small {
                        font-size: 16px;
                    }
                }
                hr {
                    margin: 30px 0;
                }
                > ul {
                    overflow: hidden;
                    > li {
                        float: left;
                        width: 50%;
                        line-height: 36px;
                        dl {
                            font-size: 15px;
                            dt {
                                width: 125px;
                            }
                            dd {
                                padding-left: 125px;
                            }
                        }
                    }
                }
            }
            .attention {
                font-size: 14px;
                margin-top: 30px;
            }
        }
    }
    @media(min-width: $xl) {
        margin-top: 70px;
        .schedule-list {
            .attention {
                margin-top: 35px;
            }
        }
    }
}











































