@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.campaign .page-header .page-summary {
  background-image: url(/assets/images/campaign/bg_page_header_sm.jpg); }
  @media (min-width: 768px) {
    .campaign .page-header .page-summary {
      background-image: url(/assets/images/campaign/bg_page_header_lg.jpg); } }

.campaign-review .article-header {
  margin-bottom: 30px; }
.campaign-review .article-content > ul > li a {
  display: block; }
  .campaign-review .article-content > ul > li a .item figure .img-fluid {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .campaign-review .article-content > ul > li a .details {
    padding-top: 25px;
    text-align: center; }
    .campaign-review .article-content > ul > li a .details small {
      font-size: 13px;
      color: #666; }
    .campaign-review .article-content > ul > li a .details h3 {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      margin-top: 15px; }
    .campaign-review .article-content > ul > li a .details .icon-list {
      margin-top: 20px; }
.campaign-review .article-content > ul > li ~ li a {
  margin-top: 30px; }
.campaign-review .article-content .paging {
  margin-top: 60px; }
@media (min-width: 768px) {
  .campaign-review .article-content > ul > li a .details {
    padding-top: 30px; }
    .campaign-review .article-content > ul > li a .details small {
      font-size: 14px; }
    .campaign-review .article-content > ul > li a .details h3 {
      font-size: 16px;
      margin-top: 20px; }
    .campaign-review .article-content > ul > li a .details .icon-list {
      margin-top: 30px; }
  .campaign-review .article-content > ul > li ~ li a {
    margin-top: 0; }
  .campaign-review .article-content > ul > li:nth-of-type(2) ~ li a {
    margin-top: 60px; }
  .campaign-review .article-content .paging {
    margin-top: 90px; } }
@media (min-width: 1200px) {
  .campaign-review .article-header {
    margin-bottom: 60px; }
  .campaign-review .article-content > ul > li:nth-of-type(2) ~ li a {
    margin-top: 0; }
  .campaign-review .article-content > ul > li:nth-of-type(3) ~ li a {
    margin-top: 60px; }
  .campaign-review .article-content .paging {
    margin-top: 80px; } }

.campaign-view .board-view .article-header {
  text-align: center;
  padding: 20px; }
  .campaign-view .board-view .article-header h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Jeju Myeongjo', serif; }
@media (min-width: 768px) {
  .campaign-view .board-view .article-header {
    padding: 30px 20px; }
    .campaign-view .board-view .article-header h4 {
      font-size: 33px;
      line-height: 42px; } }
@media (min-width: 1200px) {
  .campaign-view .board-view .article-header {
    padding: 40px 20px; } }

.campaign-list {
  margin-top: 80px; }
  .campaign-list .article-header {
    margin-bottom: 30px; }
    .campaign-list .article-header .form-group {
      text-align: right; }
      .campaign-list .article-header .form-group .form-control {
        display: inline-block;
        width: 180px;
        height: 40px;
        border: 1px solid #666; }
  .campaign-list .article-content {
    padding: 0 15px; }
    .campaign-list .article-content > ul > li a {
      position: relative;
      display: block; }
      .campaign-list .article-content > ul > li a .item {
        position: relative; }
        .campaign-list .article-content > ul > li a .item.ongoing .label {
          background-color: #f5a100; }
        .campaign-list .article-content > ul > li a .item.termination .label {
          background-color: #3a3d44; }
        .campaign-list .article-content > ul > li a .item.termination .backdrop {
          opacity: 1; }
        .campaign-list .article-content > ul > li a .item.termination .progress-area .state-bar {
          transition: none !important;
          width: 100% !important;
          background-color: #ccc; }
          .campaign-list .article-content > ul > li a .item.termination .progress-area .state-bar .d-day {
            display: none !important; }
        .campaign-list .article-content > ul > li a .item .label {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 80px;
          height: 30px;
          font-size: 12px;
          color: #fff;
          text-align: center;
          display: block;
          z-index: 2;
          line-height: 30px; }
        .campaign-list .article-content > ul > li a .item figure .img-fluid {
          display: block;
          width: 100%;
          margin: 0 auto; }
        .campaign-list .article-content > ul > li a .item .progress-area {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          z-index: 3;
          background-color: #ccc; }
          .campaign-list .article-content > ul > li a .item .progress-area .state-bar {
            position: relative;
            height: 10px;
            display: block;
            background-color: #ee7500;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 1.5s;
            transition-duration: 1.5s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .campaign-list .article-content > ul > li a .item .progress-area .state-bar .d-day {
              position: absolute;
              top: -46px;
              right: -18px;
              font-size: 13px;
              color: #fff;
              display: inline-block;
              width: 35px;
              height: 42px;
              line-height: 38px;
              font-weight: bold;
              text-align: center;
              font-family: 'Roboto', sans-serif;
              background-image: url(/assets/images/main/bg_d_day.png);
              background-repeat: no-repeat;
              background-size: 35px 42px;
              background-position: 0 0; }
        .campaign-list .article-content > ul > li a .item .backdrop {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.6); }
      .campaign-list .article-content > ul > li a .details {
        padding-top: 25px;
        text-align: center; }
        .campaign-list .article-content > ul > li a .details small {
          font-size: 13px;
          color: #666; }
        .campaign-list .article-content > ul > li a .details h3 {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          color: #333;
          font-weight: 400;
          margin-top: 15px; }
        .campaign-list .article-content > ul > li a .details .icon-list {
          margin-top: 20px; }
    .campaign-list .article-content > ul > li ~ li a {
      margin-top: 30px; }
    .campaign-list .article-content .paging {
      margin-top: 60px; }
  @media (min-width: 768px) {
    .campaign-list {
      margin-top: 100px; }
      .campaign-list .article-header .form-group .form-control {
        display: inline-block;
        height: 50px; }
      .campaign-list .article-content > ul > li a .details {
        padding-top: 30px; }
        .campaign-list .article-content > ul > li a .details small {
          font-size: 14px; }
        .campaign-list .article-content > ul > li a .details h3 {
          font-size: 16px;
          margin-top: 20px; }
        .campaign-list .article-content > ul > li a .details .icon-list {
          margin-top: 30px; }
      .campaign-list .article-content > ul > li ~ li a {
        margin-top: 0; }
      .campaign-list .article-content > ul > li:nth-of-type(2) ~ li a {
        margin-top: 60px; }
      .campaign-list .article-content .paging {
        margin-top: 90px; } }
  @media (min-width: 1200px) {
    .campaign-list {
      margin-top: 110px; }
      .campaign-list .article-content {
        padding: 0; }
        .campaign-list .article-content > ul > li:nth-of-type(2) ~ li a {
          margin-top: 0; }
        .campaign-list .article-content > ul > li:nth-of-type(3) ~ li a {
          margin-top: 60px; }
        .campaign-list .article-content .paging {
          margin-top: 80px; } }

/*# sourceMappingURL=campaign.css.map */
