@import 'common';

// 굿피플 소식 리스트
.news-list {
	article {
		.article-header {
			padding-top: 20px;
		}
		.article-content {
			padding-top: 30px;
			.paging {
				margin-top: 35px;
			}
		}
	}
	@media(min-width: $md) {
		article {
			.article-header {
				padding-top: 40px;
			}
			.article-content {
				padding-top: 40px;
				.paging {
					margin-top: 50px;  
				}
			}
		}
	}
    @media(min-width: $xl) {
        article {
            .article-header {
                overflow: hidden;
                padding-bottom: 40px;
                border-bottom: 2px solid #eb6100;
                .search-form {
                    float: right;
                    width: 400px;
                }
            }
        }
    }
}


// 사업소식 리스트
.business-list {
	.container {
		.search-form {
			margin-bottom: 30px;
		}
		.row {
			li {
				a {
					display: block;
					.item-img {
						position: relative;
						img {
							width: 100%;
						}
						p {
							position: absolute;
							top: 10px;
							left: 10px;
							width: 80px;
							height: 30px;
							font-size: 12px;
							color: #fff;
							line-height: 30px;
							text-align: center;
							&.or {
								background-color: #f5a100;
							}
							&.bl {
								 background-color: #144199;
							}
						}
					}
					.details {
						padding: 25px 0 0;
						margin-bottom: 30px;
						text-align: center;
						p {
							font-size: 13px;
							color: #666;
						}
                        hr {
                            width: 23px;
                            display: block;
                            margin: 12px auto;
                            border-top: 2px solid #dfdfdf;
                        }
						h3 {
							font-size: 14px;
							color: #333;
							font-weight: 400;
						}
						.icon-list {
							margin-top: 20px;
							li {
								padding-right: 30px;
							}
						}
					}
				}
			}
		}
		.paging {
			margin-top: 30px;
		}
	}
	@media(min-width:  $md) {
		.container {
			.row {
				li {
					a {
						.details {
							padding: 30px 0 0;
							margin-bottom: 50px;
							p {
								font-size: 14px;
							}
							h3 {
								font-size: 16px;
							}
                            hr {
                                margin: 15px auto;
                            }
							.icon-list {
								margin-top: 30px;
							}
						}
					}
				}
			}
		}
	}
	@media(min-width:  $xl) {
		.container {
			.search-form {
				margin-bottom: 60px;
			}
			.paging {
				margin-top: 30px;
			}
		}
	}
}

//굿피플 소식 뷰
.news-view {
	.container {
		.board-view {
			.article-header {
				border-top: none;
				.icon-list {
					li {
						padding-right: 20px;
					}
				}
			}
			.article-content {
				.view-content {
					padding: 30px 10px 60px;
				}
			}
		}
	}
}

// 공지사항 리스트
.notice-list {
	.container {
		.search-form {
			margin-top: 40px;
		}
		.board-list-3 {
			> ol {
				margin-top: 25px;
				> li {
					padding: 25px 20px;
					&:first-child {
						padding-top: 0;
					}
					.icon-list {
						li {
							padding-right: 30px;
						}
					}
				}
			}
			.paging {
				margin-top: 30px;
				.pagination {
					li {
						border: 0;
						padding: 0;
					}
				}
			}
		}
	}
	@media (min-width: $md) {
		.container {
			.board-list-3 {
				> ol {
					margin-top: 40px;
					> li {
						padding: 30px 20px;
						.icon-list {
							li {
								padding-right: 35px;
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: $xl) {
		.container {
			.board-list-3 {
				> ol {
					margin-top: 25px;
					> li {
						padding: 25px 0;
						.icon-list {
							li {
								padding-right: 30px;
							}
						}
					}
				}
			}
		}
	}
}

//사업소개 상세보기
.business-view {
	.board-view {
		.article-header {
			text-align: center;
			padding: 20px;
			.or {
				width: 60px;
				height: 25px;
				line-height: 25px;
				color: #fff;
				text-align: center;
				background-color: #f5a100;
				margin: 0 auto;
			}
			.bl {
				width: 60px;
				height: 25px;
				line-height: 25px;
				color: #fff;
				text-align: center;
				background-color: #144199;
				margin: 0 auto;
			}
			h4 {
				font-size: 20px;
				line-height: 26px;
				font-weight: 500;
				margin-top: 15px;
				@include jjmj();
			}
			.icon-list {
				li {
					padding-right: 20px;
				}
			}
		}
		.article-content {
			.view-content {
			    padding: 30px 0 60px;
				.item {
					text-align: center;
					margin-top: 60px;
					&:first-child {
						margin-top: 0;
					}
					p {
						margin-top: 30px;
					}
				}
			}
		}
	}
	@media (min-width: $md) {
		.board-view {
			.article-header {
				padding: 30px 20px;
				.or {
					width: 80px;
					height: 30px;
					line-height: 30px;
				}
				.bl {
					width: 80px;
					height: 30px;
					line-height: 30px;
				}
				h4 {
					font-size: 33px;
					line-height: 42px;
					margin-top: 20px;
				}
				.icon-list {
					li {
						padding-right: 35px;
					}
				}
			}
			.article-content {
				.view-content {
					padding: 50px 0 55px;
					.item {
						margin-top: 80px;
						p {
							margin-top: 35px;
						}
					}
				}
			}
		}
	}
	@media (min-width: $xl) {
		.board-view {
			.article-header {
				padding: 40px 20px;
				h4 {
					font-size: 33px;
					line-height: 42px;
				}
				.icon-list {
					margin-top: 30px;
					li {
						padding-right: 30px;
					}
				}
			}
			.article-content {
				.view-content {
					padding: 50px 15px 60px;
					.item {
						p {
							text-align: left;
							margin-top: 40px;
						}
					}
					&.center {
						max-width: 725px;
						margin: 0 auto;
						.item {
							p {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}

.media-list {
	article {
		.article-content {
			padding-top: 30px;
			.paging {
				margin-top: 35px;
			}
		}
	}
	@media(min-width: $md) {
		article {
			.article-content {
				padding-top: 40px;
				.paging {
					margin-top: 50px;  
				}
			}
		}
	}
}



















