@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.news-list article .article-header {
  padding-top: 20px; }
.news-list article .article-content {
  padding-top: 30px; }
  .news-list article .article-content .paging {
    margin-top: 35px; }
@media (min-width: 768px) {
  .news-list article .article-header {
    padding-top: 40px; }
  .news-list article .article-content {
    padding-top: 40px; }
    .news-list article .article-content .paging {
      margin-top: 50px; } }
@media (min-width: 1200px) {
  .news-list article .article-header {
    overflow: hidden;
    padding-bottom: 40px;
    border-bottom: 2px solid #eb6100; }
    .news-list article .article-header .search-form {
      float: right;
      width: 400px; } }

.business-list .container .search-form {
  margin-bottom: 30px; }
.business-list .container .row li a {
  display: block; }
  .business-list .container .row li a .item-img {
    position: relative; }
    .business-list .container .row li a .item-img img {
      width: 100%; }
    .business-list .container .row li a .item-img p {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 80px;
      height: 30px;
      font-size: 12px;
      color: #fff;
      line-height: 30px;
      text-align: center; }
      .business-list .container .row li a .item-img p.or {
        background-color: #f5a100; }
      .business-list .container .row li a .item-img p.bl {
        background-color: #144199; }
  .business-list .container .row li a .details {
    padding: 25px 0 0;
    margin-bottom: 30px;
    text-align: center; }
    .business-list .container .row li a .details p {
      font-size: 13px;
      color: #666; }
    .business-list .container .row li a .details h3 {
      font-size: 14px;
      color: #333;
      font-weight: 400;
      margin-top: 15px; }
    .business-list .container .row li a .details .icon-list {
      margin-top: 20px; }
      .business-list .container .row li a .details .icon-list li {
        padding-right: 30px; }
.business-list .container .paging {
  margin-top: 30px; }
@media (min-width: 768px) {
  .business-list .container .row li a .details {
    padding: 30px 0 0;
    margin-bottom: 50px; }
    .business-list .container .row li a .details p {
      font-size: 14px; }
    .business-list .container .row li a .details h3 {
      font-size: 16px;
      margin-top: 20px; }
    .business-list .container .row li a .details hr {
      margin: 15px auto; }
    .business-list .container .row li a .details .icon-list {
      margin-top: 30px; } }
@media (min-width: 1200px) {
  .business-list .container .search-form {
    margin-bottom: 60px; }
  .business-list .container .paging {
    margin-top: 30px; } }

.news-view .container .board-view .article-header {
  border-top: none; }
  .news-view .container .board-view .article-header .icon-list li {
    padding-right: 20px; }
.news-view .container .board-view .article-content .view-content {
  padding: 30px 10px 60px; }

.notice-list .container .search-form {
  margin-top: 40px; }
.notice-list .container .board-list-3 > ol {
  margin-top: 25px; }
  .notice-list .container .board-list-3 > ol > li {
    padding: 25px 20px; }
    .notice-list .container .board-list-3 > ol > li:first-child {
      padding-top: 0; }
    .notice-list .container .board-list-3 > ol > li .icon-list li {
      padding-right: 30px; }
.notice-list .container .board-list-3 .paging {
  margin-top: 30px; }
  .notice-list .container .board-list-3 .paging .pagination li {
    border: 0;
    padding: 0; }
@media (min-width: 768px) {
  .notice-list .container .board-list-3 > ol {
    margin-top: 40px; }
    .notice-list .container .board-list-3 > ol > li {
      padding: 30px 20px; }
      .notice-list .container .board-list-3 > ol > li .icon-list li {
        padding-right: 35px; } }
@media (min-width: 1200px) {
  .notice-list .container .board-list-3 > ol {
    margin-top: 25px; }
    .notice-list .container .board-list-3 > ol > li {
      padding: 25px 0; }
      .notice-list .container .board-list-3 > ol > li .icon-list li {
        padding-right: 30px; } }

.business-view .board-view .article-header {
  text-align: center;
  padding: 20px; }
  .business-view .board-view .article-header .or {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: #f5a100;
    margin: 0 auto; }
  .business-view .board-view .article-header .bl {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: #144199;
    margin: 0 auto; }
  .business-view .board-view .article-header h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'Jeju Myeongjo', serif; }
  .business-view .board-view .article-header .icon-list li {
    padding-right: 20px; }
.business-view .board-view .article-content .view-content {
  padding: 30px 0 60px; }
  .business-view .board-view .article-content .view-content .item {
    text-align: center;
    margin-top: 60px; }
    .business-view .board-view .article-content .view-content .item:first-child {
      margin-top: 0; }
    .business-view .board-view .article-content .view-content .item p {
      margin-top: 30px; }
@media (min-width: 768px) {
  .business-view .board-view .article-header {
    padding: 30px 20px; }
    .business-view .board-view .article-header .or {
      width: 80px;
      height: 30px;
      line-height: 30px; }
    .business-view .board-view .article-header .bl {
      width: 80px;
      height: 30px;
      line-height: 30px; }
    .business-view .board-view .article-header h4 {
      font-size: 33px;
      line-height: 42px;
      margin-top: 20px; }
    .business-view .board-view .article-header .icon-list li {
      padding-right: 35px; }
  .business-view .board-view .article-content .view-content {
    padding: 50px 0 55px; }
    .business-view .board-view .article-content .view-content .item {
      margin-top: 80px; }
      .business-view .board-view .article-content .view-content .item p {
        margin-top: 35px; } }
@media (min-width: 1200px) {
  .business-view .board-view .article-header {
    padding: 40px 20px; }
    .business-view .board-view .article-header h4 {
      font-size: 33px;
      line-height: 42px; }
    .business-view .board-view .article-header .icon-list {
      margin-top: 30px; }
      .business-view .board-view .article-header .icon-list li {
        padding-right: 30px; }
  .business-view .board-view .article-content .view-content {
    padding: 50px 15px 60px; }
    .business-view .board-view .article-content .view-content .item p {
      text-align: left;
      margin-top: 40px; }
    .business-view .board-view .article-content .view-content.center {
      max-width: 725px;
      margin: 0 auto; }
      .business-view .board-view .article-content .view-content.center .item p {
        text-align: center; } }

.media-list article .article-content {
  padding-top: 30px; }
  .media-list article .article-content .paging {
    margin-top: 35px; }
@media (min-width: 768px) {
  .media-list article .article-content {
    padding-top: 40px; }
    .media-list article .article-content .paging {
      margin-top: 50px; } }

/*# sourceMappingURL=community.css.map */
