@import 'common';

.introduce {

}
.greetings {
    padding-bottom: 0 !important;
    .ceo-message {
        padding-top: 40px;
        h3 {
            font-size: 22px;
            color: #eb6100;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 40px;
            strong {
                font-weight: 500;
            }
        }
        p {
            font-size: 13px;
            color: #444;
            line-height: 26px;
        }
        dl {
            margin-top: 40px;
            overflow: hidden;
            dt {
                font-size: 13px;
                color: #444;
                font-weight: 300;
                float: left;
                margin-right: 20px;
                padding-top: 18px;
            }
            dd {
                img {
                    width: 74px;
                }
            }
        }
        figure {
            padding: 0 10%;
            margin-top: 50px;
            .img-fluid {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .target {
        padding: 80px 0;
        text-align: center;
        background-image: url(/assets/images/introduce/bg_target_sm.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        p {
            font-size: 14px;
            color: #fff;
            line-height: 26px;
            margin: 35px 0 20px;
            text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); 
        }
        small {
            display: inline-block;
            font-size: 13px;
            color: rgba(#fff, .5);
        }
    }
    @media(min-width: $md) {
        .ceo-message {
            padding-top: 80px;
            padding-bottom: 50px;
            h3 {
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 60px;
            }
            p {
                font-size: 14px;
                line-height: 28px;
            }
            dl {
                margin-top: 50px;
                overflow: hidden;
                dt {
                    font-size: 14px;
                    padding-top: 30px;
                }
                dd {
                    img {
                        width: 100px;
                    }
                }
            }
            figure {
                padding: 0;
                margin-top: 0;
            }
        }
        .target {
            padding: 120px 0;
            text-align: left;
            p {
                font-size: 20px;
                line-height: 34px;
                margin: 40px 0 20px;
            }
            small {
                font-size: 15px;
            }
        }
    }
    @media(min-width: $xl) {
        .ceo-message {
            padding-bottom: 80px;
            background-image: url(/assets/images/introduce/bg_ceo_message.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            p {
                font-size: 14px;
                line-height: 28px;
            }
            figure {
                margin-top: -84px;
            }
        }
        .target {
            padding: 150px 0;
            background-image: url(/assets/images/introduce/bg_target_lg.jpg);
            p {
                font-size: 22px;
                line-height: 34px;
            }
        }
    }
}

//비전
.vision {
	padding-bottom: 0 !important;
	.vision-wrap {
		.section-header {
			text-align: center;
			padding-top: 55px;
			h2 {
				font-size: 28px;
				color: #222;
				font-weight: 400;
			}
			strong {
				display: block;
				font-size: 22px;
				color: #eb6100;
				font-weight: 300;
				margin-top: 20px;
				@include roboto();
			}
			p {
				font-size: 13px;
				line-height: 24px;
				color: #444;
				margin-top: 30px;
			}
		}
		.section-content {
			padding-top: 30px;
			> .row {
				> li {
					figure {
						position: relative;
						text-align: center;
						margin-top: 10px;
						img {
							width: 100%;
						}
						figcaption {
							position: absolute;
							left: 0;
							bottom: 10px;
							width: 100%;
							font-size: 13px;
							color: #fff;
							text-align: center;
						}
					}
					&:first-child {
						figure {
							margin-top: 0;
						}
					}
				}
			}
			.step-wrap {
				padding: 50px 0;
				margin-top: 30px;
				margin-bottom: 85px;
				border: 2px solid #f2c27f;
				ol {
					width: 100%;
					text-align: center;
					li {
						position: relative;
						padding-top: 50px;
                        padding-bottom: 70px;
						strong {
							font-size: 20px;
						}
						p {
							font-size: 13px;
							color: #666;
							margin-top: 5px;
						}
						&:first-child {
							padding-top: 0;
							strong {
								color: #eb6100;
							}
							&:after {
								color: #eb6100;
							}
						}
						&:nth-of-type(2) {
							&:after {
								color: #144199;
							}
						}
						&:last-child {
							padding-bottom: 0;
							strong {
								color: #144199;
							}
							&:after {
								display: none;
							}
						}
						&:after {
							position: absolute;
							bottom: 0;
							right: 50%;
							margin-right: -10px;
							font-size: 24px;
							font-weight: 400;
							font-family: "fontello";
							content: "\E811";
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			.section-header {
				padding-top: 70px;
				h2 {
					font-size: 30px;
				}
				strong {
					font-size: 26px;
					margin-top: 15px;
				}
				p {
					font-size: 14px;
					line-height: 26px;
					margin-top: 40px;
				}
			}
			.section-content {
				padding-top: 50px;
				> .row {
					> li {
						figure {
							margin-top: 0px;
						}
					}
				} 
				.step-wrap {
					padding: 60px 0;
					margin-bottom: 115px;
					ol {
						width: 100%;
						display: table;
						li {
							display: table-cell;
							width: 33.33%;
							vertical-align: middle;
							padding-top: 0;
							padding-bottom: 0;
							p {
								font-size: 14px;
							}
							&:after {
								position: absolute;
								top: 0;
								right: 0;
								transform: rotate(-90deg);
								margin-right: -10px;
								font-size: 24px;
								font-weight: 400;
								font-family: "fontello";
								content: "\E811";
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			.section-content {
				.step-wrap {
					margin-top: 60px;
					margin-bottom: 120px;
					ol {
						li {
							strong {
								font-size: 22px;
							}
						}
					}
				}
			}
		}
	}
	.value {
		text-align: center;
		padding-top: 70px;
		padding-bottom: 60px;
		background-color: #f7f7f7;
		.section-header	{
			h3 {
				font-size: 28px;
				color: #222;
				font-weight: 400;
			}
			strong {
				display: block;
				font-size: 22px;
				color: #eb6100;
				font-weight: 300;
				margin-top: 20px;
				@include roboto();
			}
			p {
				font-size: 13px;
				color: #666;
				line-height: 26px;
				margin-top: 30px;
			}
		}
		.section-content {
			margin-top: 45px;
			ul {
				li {
					& ~ li {
						margin-top: 40px;
					}
					&:first-child {
						margin-top: 0;
					}
					h4 {
						font-size: 16px;
						color: #222;
						margin-top: 10px;
						@include roboto();
					}	
					p {
						font-size: 13px;
						line-heigt: 18px;
						color: #666;
						margin-top: 10px;
					}
				}
			}
		}
		@media (min-width: $md) {
			padding-top: 90px;
			padding-bottom: 110px;
			.section-header	{
				h3 {
					font-size: 30px;
				}
				strong {
					font-size: 26px;
				}
				p {
					font-size: 14px;
				}
			}
			.section-content {
				margin-top: 60px;
				ul {
					overflow: hidden;
					background-size: contain;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url(/assets/images/introduce/bg_value_list.png);
					li {
						float: left;
						width: 50%;
						padding-top: 15px;
						& ~ li {
							margin-top: 0;
						}
						&:nth-of-type(3) {
							padding-top: 0;
							margin-top: 70px;
						}
						&:nth-of-type(4) {
							padding-top: 0;
							margin-top: 70px;
						}
						&:nth-of-type(odd) {
							text-align: right;
							padding-right: 180px;
						}
						&:nth-of-type(even) {
							text-align: left;
							padding-left: 180px;
						}
						p {
							font-size: 14px;
							line-height: 20px;
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			padding-top: 100px;
			padding-bottom: 155px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: url(/assets/images/introduce/bg_value_xl.png);
			.section-content {
				margin-top: 50px;
				ul {
					li {
						padding-top: 25px;
						&:nth-of-type(3) {
							margin-top: 100px;
						}
						&:nth-of-type(4) {
							margin-top: 100px;
						}
						&:nth-of-type(odd) {
							padding-right: 200px;
						}
						&:nth-of-type(even) {
							padding-left: 200px;
						}
					}
				}
			}
		}
	}
}

// 소개페이지
.history {
	article {
		.article-header {
			margin-top: 50px;
			p {
				font-size: 14px;
				color: #222;
				line-height: 23px;
				text-align: center;
			}
			ol {
				font-size: 0;
				margin-top: 40px;
				li {
					display: inline-block;
					width: 50%;
					height: 40px;
					border: 1px solid #ccc;
					&.active {
						border: 1px solid #eb6100;
						a {
							background-color: #eb6100;
							color: #fff;
						}
					}
					&:first-child {
						border-right: 0;
					}
					&:nth-of-type(3) {
						border-top: 0;
						border-right: 0;
					}
					&:nth-of-type(4) {
						border-top: 0;
					}
					a {
						display: block;
						font-size: 14px;
						color: #999;
						font-weight: 400;
						text-align: center;
						line-height: 38px;
						@include roboto();
					}
				}
			}
			@media(min-width:  $md) {
				margin-top: 70px;
				p {
					font-size: 15px;
					line-height: 25px;
				}
				ol {
					display: table;
					li {
						display: table-cell;
						width: 1%;
						&:first-child {
							border-right: 1px solid #ccc;
						}
						&:nth-of-type(2) {
							border-left: 0;
						}
						&:nth-of-type(3) {
							border-top: 1px solid #ccc;
							border-right: 1px solid #ccc; 
							border-left: 0;
						}
						&:nth-of-type(4) {
							border-left: 0;
							border-top: 1px solid #ccc; 
						}
						&.active {
							&:hover, &:focus {
								opacity: 1;
							}
						}
						&:hover, &:focus {
							opacity: .7;
							border-color: #eb6100;
							@include transition();
							a {
								background-color: #eb6100;
								color: #fff;
							}
						}
						a {
							font-size: 16px;
							line-height: 50px;
						}
					}
				}
			}
			@media (min-width: $xl) {
				ol {
					width: 735px;
					margin: 40px auto 0;
				}
			}
		}
		.article-content {
			margin-top: 80px;
			.content-header {
				text-align: left;
				margin-bottom: 45px;
			}
			.history-list {
				position: relative;
				width: 100%;
				height: 100%;
				&:before {
					position: absolute;
					top: 15px;
					left: 10px;
					height: 100%;
					content: " ";
					display: block;
					border-left: 1px solid #eb6100;
				}
				> ol {
					li {
                        .row {
                            .col-12 {
                                .details {
                                    padding-bottom: 70px;
                                }
                            }
                        }
						.col-12 {
							> .details {
								padding-left: 40px; 
								&:before { 
									position: absolute;
									top: 5px;
									left: 10px;
									display: block; 
									content: " ";
									width: 12px;
									height: 12px;
									border-radius: 50%;
									background-color: #eb6100;
								}
								> h3 {
									position: relative;
									top: -8px;
									left: -5px;
									font-size: 30px;
									color: #000;
									font-weight: 600;
									@include roboto();
									
								}
								> ol {
									margin-top: 30px;
									> li {
										line-height: 22px;
										margin-top: 30px;
										&:first-child {
											margin-top: 0;
										}
										dl {
											 overflow: hidden;
											 dt {
												 float: left;
												 font-size: 14px;
												 color: #000;
												 font-weight: 400;
												 line-height: 22px;
											 }
											 dd {
												 font-size: 13px;
												 color: #777;
												 line-height: 22px;
												 margin-left: 40px;
												 ul {
													 li {
														 line-height: 22px;
													 }
												 }
											}
										}
									}
								}
							}
						}
					}
				}
			}
			@media (min-width: $md) {
				.content-header {
					text-align: center;
				}
				.history-list {
					&:before {
						left: 50%;
					}
					> ol {
						li {
							div {
								&.col-12 {
									> .item-images {
										text-align: right;
										padding-bottom: 70px;
										padding-right: 50px; 
										ul {
											li {
												margin-top: 10px;
											}
										}
									}
									> .details {
										padding-left: 30px;
										&:before { 
											position: absolute;
											top: 5px;
								            left: -5px;
										}
										> ol {
											margin-top: 40px;
											> li {
												line-height: 25px;
												dl {
													 dt {
														 font-size: 16px;
														 line-height: 27px;
													 }
													 dd {
														 font-size: 15px;
														 line-height: 25px;
														 margin-left: 0;
														 ul {
															 li {
																 line-height: 25px;
															 }
														 }
													}
												}
											}
										}
									}
								}
								&.order-first {
									.details {
										text-align: right;
										padding-right: 30px;
										&:before { 
											display: none;
										}
										&:after {
											position: absolute;
											top: 5px;
											right: -7px;
											display: block; 
											content: " ";
											width: 12px;
											height: 12px;
											border-radius: 50%;
											background-color: #eb6100;
										}
										h3 {
											left: 5px;
										}
										ol {
											li {
												dl {
													dt {
														float: right;
													}
													dd {
														margin-right: 50px;
													}
												}
											}
										}
									}
								}
								&.order-first {
									> .item-images {
										margin-top: 75px;
									}
								}
								&.order-last {
									> .item-images {
										text-align: left;
										margin-top: 75px;
										padding-left: 50px;
									}
								}
							}
						}
					}
				}
			}
			@media (min-width: $xl) {
				.history-list {
					> ol {
						li {
							.row {
								.col-12 {
									.details {
										padding-bottom: 95px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//나눔대사 리스트
.ambassadors {
	.members {
		margin-top: 50px;
		> ul {
			> li {
				& ~ li {
					a {
                        margin-top: 60px;
					}
				}
				a {
					display: block;
					figure {
						img {
							width: 100%;
						}
						figcaption {
							font-size: 13px;
							color: #666;
							line-height: 24px;
							text-align: center;
							padding: 20px 0;
							> p {
								font-size: 14px;
								color: #333;
								font-weight: 400;
								i {
									margin-right: 5px;
								}
							}
						}
					}
                    &:focus {
                        figure {
                            figcaption {
                                color: #fff;
                                background-color: #eb6100;
                                @include transition();
                                p {
                                    color: #fff;
                                }
                            }
                        }
                    }
				}
			} 	
		}
		.paging {
			margin-top: 50px;	
		}
	}
	@media (min-width: $md) {
		.members {
			margin-top: 80px;
			> ul {
				> li {
					& ~ li {
						a {
                            margin-top: 0;
						}
					}
					&:nth-of-type(3) ~ li {
						a {
                            margin-top: 80px;
						}
					}
					a {
						&:hover {
							figure {
								figcaption {
									color: #fff;
									background-color: #eb6100;
									@include transition();
									p {
										color: #fff;
									}
								}
							}
						}
						figure {
							figcaption {
								font-size: 14px;
								line-height: 30px;
								padding: 15px 0;
								> p {
									font-size: 16px;
								}
							}
						}
					}
				} 	
			}
			.paging {
				margin-top: 60px;	
			}
		}
	}
	@media (min-width: $xl) {
		.members {
			> ul {
				> li {
					&:nth-of-type(3) ~ li {
						a {
                            margin-top: 0;
						}
					}
                    &:nth-of-type(4) ~ li {
						a {
                            margin-top: 70px;
						}
					}
					a {
						figure {
							figcaption {
								padding: 20px 0;
							}
						}
					}
				} 	
			} 
			.paging {
				margin-top: 80px;	
			}
		}
	}
}


/********** video-modal popup **********/
.modal-open {
    padding-right: 0 !important;
}
.video-modal {
    padding-left: 10px !important;
    padding-bottom: 150px;
    padding-right: 10px !important;
    background-color: rgba(0, 0, 0, .6);
    .modal-dialog {
        max-width: 635px !important;
        margin: 50px auto 0;
        .modal-content {
            padding: 0 10px;
            border-radius: 0;
			border-bottom: 0;
            .modal-header {
                overflow: hidden;
                padding: 20px 0 15px;
                .modal-title {
                    font-size: 16px;
                    color: #333;
                    font-weight: 400;
                }
                .close {
					overflow: hidden;
                    float: right;
                    display: block;
                    width: 24px;
                    height: 24px;
					line-height: 24px;
                    padding: 0;
                    margin: 0;
                    opacity: 1;
                    span {
                        position: relative;
                        top: -3px;
						text-align: right;
                    }
                    &:hover, &:focus {
                        opacity: .7;
                    }
                }
            }
            .modal-body {
				padding: 0 0 70px;
                border-bottom: 0;
				.comment {
					overflow-y: scroll;
					height: 185px;
					margin-top: 20px;
					padding: 15px 10px 30px;
					background-color: #ededed;
					> p {
						font-size: 13px;
						line-height: 24px;
						color: #666;
					}
				}
				.latest-news {
					margin-top: 40px;
					> h5 {
						font-size: 16px;
						color: #333;
						font-weight: 400;
						margin-bottom: 15px;
					}
					ul {
						border-top: 1px solid #aaa;
						border-bottom: 1px solid #aaa;
						li {
							position: relative;
							padding: 20px 15px;
							border-bottom: 1px solid #dfdfdf;
							&:last-child {
								border-bottom: 0;
							}
							a {
								display: block;
								font-size: 13px;
								color: #222;
								line-height: 19px;
								font-weight: 300;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							> span {
								position: absolute;
								top: 20px;
								right: 25px;
								display: block;
								font-size: 14px;
								color: #555;
								@include roboto();
							}
						}
					}
				}
            }
        }
    }
	@media (min-width: $md) {
		.modal-dialog {
			margin: 100px auto 0;
			.modal-content {
				padding: 0 30px;
				.modal-header {
					padding: 25px 0 20px;
					.modal-title {
						font-size: 18px;
					}
					.close {
						width: 27px;
						height: 27px;
						line-height: 27px;
					}
				}
				.modal-body {
					padding: 0 0 105px;
					.comment {
						padding: 20px 25px 20px;
						> p {
							font-size: 14px;
							line-height: 26px;
						}
					}
					.latest-news {
						margin-top: 45px;
						ul {
							li {
								a {
									padding-right: 105px;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: $xl) {
		.modal-dialog {
			.modal-content {
				.modal-body {
					.latest-news {
						ul {
							li {
								a {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

//투명경영 - 나눔대사
.corporation {
	section {
		.section-header {
			padding: 45px 0;
			text-align: center;
			strong {
				font-size: 18px;
				color: #222;
				line-height: 26px;
			}
			@media (min-width: $md) {
				padding: 65px 0 55px;
				strong {
					font-size: 28px;
				}
			}
			@media (min-width: $xl) {
				padding: 70px 0 60px;
			}
		}
		.section-content {
			> .accordion {
				> .card {
					&:last-child {
						.card-header {
							a {
								&.collapsed {
									border-bottom: 1px solid #ccc;
								}
							}
						}
						.card-body {
							border-bottom: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}

//투명경영 - 복지법인
.welfarecorp {
	section {
		.section-header {
			padding: 45px 0 50px;
			text-align: center;
			strong {
				font-size: 18px;
				color: #222;
				line-height: 26px;
			}
			> nav {
				margin-top: 35px;
				> ul {
					overflow: hidden;
					li {
						float: left;
						width: 50%;
						&:first-child ~ li {
							a {
								border-left: 0;
							}
						}
						&.active {
							a {
								font-weight: 400;
								color: #fff;
								border-color: #eb6100;
								background-color: #eb6100;
							}
						}
						a {
							display: block;
							font-size: 14px;
							line-height: 38px;
							color: #999;
							border: 1px solid #ccc;
						}
					}	
				}
			}
			@media (min-width: $md) {
				padding: 65px 0 90px;
				strong {
					font-size: 28px;
				}
				> nav {
					margin-top: 40px;
					> ul {
						width: 570px;
						margin: 0 auto; 
						li {
							a {
								font-size: 16px;
								line-height: 48px;
							}
						}	
					}
				}
			}
			@media (min-width: $xl) {
				padding: 70px 0 60px;
				> nav {
					margin-top: 45px;
				}
			}
		}
		.section-content {
			> .accordion {
				> .card {
					&:last-child {
						.card-header {
							a {
								&.collapsed {
									border-bottom: 1px solid #ccc;
								}
							}
						}
						.card-body {
							border-bottom: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}

//회의록
.minutes {
	.section-header {
		padding: 45px 0 50px;
		text-align: center;
		strong {
			font-size: 18px;
			color: #222;
			line-height: 26px;
		}
		> nav {
			margin-top: 35px;
			> ul {
				overflow: hidden;
				li {
					float: left;
					width: 50%;
					&:first-child ~ li {
						a {
							border-left: 0;
						}
					}
					&.active {
						a {
							font-weight: 400;
							color: #fff;
							border-color: #eb6100;
							background-color: #eb6100;
						}
					}
					a {
						display: block;
						font-size: 14px;
						line-height: 38px;
						color: #999;
						border: 1px solid #ccc;
					}
				}	
			}
		}
		@media (min-width: $md) {
			padding: 65px 0 90px;
			strong {
				font-size: 28px;
			}
			> nav {
				margin-top: 40px;
				> ul {
					width: 570px;
					margin: 0 auto; 
					li {
						a {
							font-size: 16px;
							line-height: 48px;
						}
					}	
				}
			}
		}
		@media (min-width: $xl) {
			padding: 70px 0 60px;
			> nav {
				margin-top: 45px;
			}
		}
	}
	.section-content {
		ul {
			li {
				overflow: hidden;
				display: table;
				width: 100%;
				padding: 30px 10px;
				border-bottom: 1px solid #ccc;
				&:first-child {
					border-top: 1px solid #ccc;
				}
				h3 {
					display: table-cell;
					font-size: 14px;
					color: #333;
					line-height: 22px;
					font-weight: 400;
					vertical-align: middle;
				}
				.btn-area { 
					float: right;
					display: table-cell;
					padding-left: 30px;
					vertical-align: middle;
					> p {
						a {
							display: block;
							width: 120px;
							font-size: 13px;
							color: #5b5b5b;
							line-height: 43px;
							text-align: center;
							border: 1px solid #111;
						}
					}
				}
			}
		}
		.paging {
			margin-top: 50px;
		}
		@media (min-width: $md) {
			ul {
				li {
					padding: 17px 20px 17px 40px;
					h3 {
						font-size: 15px; 
					}
					.btn-area { 
						padding-left: 100px;
						> p {
							a {
								width: 140px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			ul {
				li {
					padding: 17px 25px 17px 40px;
					h3 {
						font-size: 16px; 
					}
				}
			}
		}
 	}
}

//지부안내 - 해외지부
.international-camps {
	.map {
		margin-top: 35px;
		img {
			display: block;
			/*width: 100%;*/
			margin: 0 auto;
		}
		@media (min-width: $md) {
			margin-top: 70px;
		}
		@media (min-width: $xl) {
			margin-top: 100px;
		}
	}
	ul {
		margin-top: 40px;
		li {
			padding: 20px 10px;
			border-bottom: 1px solid #ccc;
			&:first-child {
				border-top: 1px solid #ccc;
			}
			dl {
				display: table;
				width: 100%;
				dt {	
					display: table-cell;
					width: 30%;
					font-size: 13px;
					color: #333;
					font-weight: 400;
					vertical-align: top;
					span {
						display: block;
						width: 20px;
						height: 12px;
						border: 1px solid #111;
						background-size: cover;
						margin-bottom: 10px;
					}
				}
				dd {
					display: table-cell;
					width: 70%;
					vertical-align: top;
					> p {
						font-size: 13px;
						line-height: 18px;
						color: #333;
						@include roboto();
					}
					.btn-area {
						margin-top: 10px;
						p {
							.btn {
								&.btn-default {
									width: 110px;
									font-size: 13px;
									line-height: 33px;
									color: #ccc;
									border: 1px solid #ccc;
									&:hover, &:active {
										font-weight: 400;
										color: #111;
										/*color: #5b5b5b;*/
										border: 1px solid #5b5b5b;
									}
								}
							}
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			margin-top: 60px;
			li {
				padding: 17px 10px 17px 20px;
				dl {
					dt {
						width: 20%;
						font-size: 15px;
						vertical-align: middle;
						span {
							width: 30px;
							height: 15px;
						}
					}
					dd {
						position: relative;
						width: 80%;
						vertical-align: top;
						> p {
							font-size: 14px;
							line-height: 24px;
							padding-right: 160px;
						}
						.btn-area {
							position: absolute;
							right: 0;
							top: 50%;
							margin-top: -23px;
							p {
								.btn {
									&.btn-default {
										width: 140px;
										font-size: 14px;
										line-height: 44px;
									}
								}
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			margin-top: 65px;
			li {
				padding: 27px 25px;
				dl {
					dt {
						span {
							display: inline-block;
							margin-right: 15px;
							margin-bottom: 0;
						}
						font-size: 15px;
						line-height: 24px;
						vertical-align: middle;
					}
					dd {
						vertical-align: middle;
						> p {
							font-size: 14px;
							line-height: 24px;
							padding-right: 160px;
						}
						.btn-area {
							p {
								.btn {
									&.btn-default {
										width: 140px;
										font-size: 14px;
										line-height: 44px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//찾아오시는길
.directions {
	.location {
		text-align: left;
		li {
			display: inline-block;
			font-size: 13px;
			line-height: 19px;
			color: #666;
			@include roboto();
			& ~ li {
				margin-top: 15px;
			}
			&:before {
				display: inline-block;
				content: " ";
				width: 15px;
				height: 15px;
				margin-right: 10px;
				background-repeat: no-repeat;
				background-size: cover;
			}
			&:first-child {
				font-weight: 400;
				@include noto();
				&:before {
					background-image: url(/assets/images/introduce/icon_location01.gif);
				}
			}
			&:nth-of-type(2) {
				&:before {
					background-image: url(/assets/images/introduce/icon_location02.gif);
				}
			}
			&:nth-of-type(3) {
				&:before {
					background-image: url(/assets/images/introduce/icon_location03.gif);
				}
			}
			&:nth-of-type(4) {
				&:before {
					background-image: url(/assets/images/introduce/icon_location04.gif);
				}
			}
		}
	}
}














