@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.greetings {
  padding-bottom: 0 !important; }
  .greetings .ceo-message {
    padding-top: 40px; }
    .greetings .ceo-message h3 {
      font-size: 22px;
      color: #eb6100;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 40px; }
      .greetings .ceo-message h3 strong {
        font-weight: 500; }
    .greetings .ceo-message p {
      font-size: 13px;
      color: #444;
      line-height: 26px; }
    .greetings .ceo-message dl {
      margin-top: 40px;
      overflow: hidden; }
      .greetings .ceo-message dl dt {
        font-size: 13px;
        color: #444;
        font-weight: 300;
        float: left;
        margin-right: 20px;
        padding-top: 18px; }
      .greetings .ceo-message dl dd img {
        width: 74px; }
    .greetings .ceo-message figure {
      padding: 0 10%;
      margin-top: 50px; }
      .greetings .ceo-message figure .img-fluid {
        display: block;
        margin: 0 auto; }
  .greetings .vision {
    padding: 80px 0;
    text-align: center;
    background-image: url(/assets/images/introduce/bg_vision_sm.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .greetings .vision p {
      font-size: 14px;
      color: #fff;
      line-height: 26px;
      margin: 35px 0 20px;
      text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); }
    .greetings .vision small {
      display: inline-block;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  @media (min-width: 768px) {
    .greetings .ceo-message {
      padding-top: 80px;
      padding-bottom: 50px; }
      .greetings .ceo-message h3 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 60px; }
      .greetings .ceo-message p {
        font-size: 14px;
        line-height: 28px; }
      .greetings .ceo-message dl {
        margin-top: 50px;
        overflow: hidden; }
        .greetings .ceo-message dl dt {
          font-size: 14px;
          padding-top: 30px; }
        .greetings .ceo-message dl dd img {
          width: 100px; }
      .greetings .ceo-message figure {
        padding: 0;
        margin-top: 0; }
    .greetings .vision {
      padding: 120px 0;
      text-align: left; }
      .greetings .vision p {
        font-size: 20px;
        line-height: 34px;
        margin: 40px 0 20px; }
      .greetings .vision small {
        font-size: 15px; } }
  @media (min-width: 1200px) {
    .greetings .ceo-message {
      padding-bottom: 80px;
      background-image: url(/assets/images/introduce/bg_ceo_message.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
      .greetings .ceo-message p {
        font-size: 14px;
        line-height: 28px; }
      .greetings .ceo-message figure {
        margin-top: -84px; }
    .greetings .vision {
      padding: 150px 0;
      background-image: url(/assets/images/introduce/bg_vision_lg.jpg); }
      .greetings .vision p {
        font-size: 22px;
        line-height: 34px; } }

.vision {
  padding-bottom: 0 !important; }
  .vision .vision-wrap .section-header {
    text-align: center;
    padding-top: 55px; }
    .vision .vision-wrap .section-header h2 {
      font-size: 28px;
      color: #222;
      font-weight: 400; }
    .vision .vision-wrap .section-header strong {
      display: block;
      font-size: 22px;
      color: #eb6100;
      font-weight: 300;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif; }
    .vision .vision-wrap .section-header p {
      font-size: 13px;
      line-height: 24px;
      color: #444;
      margin-top: 30px; }
  .vision .vision-wrap .section-content {
    padding-top: 30px; }
    .vision .vision-wrap .section-content > .row > li figure {
      position: relative;
      text-align: center;
      margin-top: 10px; }
      .vision .vision-wrap .section-content > .row > li figure img {
        width: 100%; }
      .vision .vision-wrap .section-content > .row > li figure figcaption {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        font-size: 13px;
        color: #fff;
        text-align: center; }
    .vision .vision-wrap .section-content > .row > li:first-child figure {
      margin-top: 0; }
    .vision .vision-wrap .section-content .step-wrap {
      padding: 50px 0;
      margin-top: 30px;
      margin-bottom: 85px;
      border: 2px solid #f2c27f; }
      .vision .vision-wrap .section-content .step-wrap ol {
        width: 100%;
        text-align: center; }
        .vision .vision-wrap .section-content .step-wrap ol li {
          position: relative;
          padding-top: 50px;
          padding-bottom: 70px; }
          .vision .vision-wrap .section-content .step-wrap ol li strong {
            font-size: 20px; }
          .vision .vision-wrap .section-content .step-wrap ol li p {
            font-size: 13px;
            color: #666;
            margin-top: 5px; }
          .vision .vision-wrap .section-content .step-wrap ol li:first-child {
            padding-top: 0; }
            .vision .vision-wrap .section-content .step-wrap ol li:first-child strong {
              color: #eb6100; }
            .vision .vision-wrap .section-content .step-wrap ol li:first-child:after {
              color: #eb6100; }
          .vision .vision-wrap .section-content .step-wrap ol li:nth-of-type(2):after {
            color: #144199; }
          .vision .vision-wrap .section-content .step-wrap ol li:last-child {
            padding-bottom: 0; }
            .vision .vision-wrap .section-content .step-wrap ol li:last-child strong {
              color: #144199; }
            .vision .vision-wrap .section-content .step-wrap ol li:last-child:after {
              display: none; }
          .vision .vision-wrap .section-content .step-wrap ol li:after {
            position: absolute;
            bottom: 0;
            right: 50%;
            margin-right: -10px;
            font-size: 24px;
            font-weight: 400;
            font-family: "fontello";
            content: "\E811"; }
  @media (min-width: 768px) {
    .vision .vision-wrap .section-header {
      padding-top: 70px; }
      .vision .vision-wrap .section-header h2 {
        font-size: 30px; }
      .vision .vision-wrap .section-header strong {
        font-size: 26px;
        margin-top: 15px; }
      .vision .vision-wrap .section-header p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 40px; }
    .vision .vision-wrap .section-content {
      padding-top: 50px; }
      .vision .vision-wrap .section-content > .row > li figure {
        margin-top: 0px; }
      .vision .vision-wrap .section-content .step-wrap {
        padding: 60px 0;
        margin-bottom: 115px; }
        .vision .vision-wrap .section-content .step-wrap ol {
          width: 100%;
          display: table; }
          .vision .vision-wrap .section-content .step-wrap ol li {
            display: table-cell;
            width: 33.33%;
            vertical-align: middle;
            padding-top: 0;
            padding-bottom: 0; }
            .vision .vision-wrap .section-content .step-wrap ol li p {
              font-size: 14px; }
            .vision .vision-wrap .section-content .step-wrap ol li:after {
              position: absolute;
              top: 0;
              right: 0;
              transform: rotate(-90deg);
              margin-right: -10px;
              font-size: 24px;
              font-weight: 400;
              font-family: "fontello";
              content: "\E811"; } }
  @media (min-width: 1200px) {
    .vision .vision-wrap .section-content .step-wrap {
      margin-top: 60px;
      margin-bottom: 120px; }
      .vision .vision-wrap .section-content .step-wrap ol li strong {
        font-size: 22px; } }
  .vision .value {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #f7f7f7; }
    .vision .value .section-header h3 {
      font-size: 28px;
      color: #222;
      font-weight: 400; }
    .vision .value .section-header strong {
      display: block;
      font-size: 22px;
      color: #eb6100;
      font-weight: 300;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif; }
    .vision .value .section-header p {
      font-size: 13px;
      color: #666;
      line-height: 26px;
      margin-top: 30px; }
    .vision .value .section-content {
      margin-top: 45px; }
      .vision .value .section-content ul li ~ li {
        margin-top: 40px; }
      .vision .value .section-content ul li:first-child {
        margin-top: 0; }
      .vision .value .section-content ul li h4 {
        font-size: 16px;
        color: #222;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif; }
      .vision .value .section-content ul li p {
        font-size: 13px;
        line-heigt: 18px;
        color: #666;
        margin-top: 10px; }
    @media (min-width: 768px) {
      .vision .value {
        padding-top: 90px;
        padding-bottom: 110px; }
        .vision .value .section-header h3 {
          font-size: 30px; }
        .vision .value .section-header strong {
          font-size: 26px; }
        .vision .value .section-header p {
          font-size: 14px; }
        .vision .value .section-content {
          margin-top: 60px; }
          .vision .value .section-content ul {
            overflow: hidden;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url(/assets/images/introduce/bg_value_list.png); }
            .vision .value .section-content ul li {
              float: left;
              width: 50%;
              padding-top: 15px; }
              .vision .value .section-content ul li ~ li {
                margin-top: 0; }
              .vision .value .section-content ul li:nth-of-type(3) {
                padding-top: 0;
                margin-top: 70px; }
              .vision .value .section-content ul li:nth-of-type(4) {
                padding-top: 0;
                margin-top: 70px; }
              .vision .value .section-content ul li:nth-of-type(odd) {
                text-align: right;
                padding-right: 180px; }
              .vision .value .section-content ul li:nth-of-type(even) {
                text-align: left;
                padding-left: 180px; }
              .vision .value .section-content ul li p {
                font-size: 14px;
                line-height: 20px; } }
    @media (min-width: 1200px) {
      .vision .value {
        padding-top: 100px;
        padding-bottom: 155px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(/assets/images/introduce/bg_value_xl.png); }
        .vision .value .section-content {
          margin-top: 50px; }
          .vision .value .section-content ul li {
            padding-top: 25px; }
            .vision .value .section-content ul li:nth-of-type(3) {
              margin-top: 100px; }
            .vision .value .section-content ul li:nth-of-type(4) {
              margin-top: 100px; }
            .vision .value .section-content ul li:nth-of-type(odd) {
              padding-right: 200px; }
            .vision .value .section-content ul li:nth-of-type(even) {
              padding-left: 200px; } }

.history article .article-header {
  margin-top: 50px; }
  .history article .article-header p {
    font-size: 14px;
    color: #222;
    line-height: 23px;
    text-align: center; }
  .history article .article-header ol {
    font-size: 0;
    margin-top: 40px; }
    .history article .article-header ol li {
      display: inline-block;
      width: 50%;
      height: 40px;
      border: 1px solid #ccc; }
      .history article .article-header ol li.on {
        background-color: #eb6100;
        border-color: #eb6100; }
        .history article .article-header ol li.on a {
          color: #fff; }
      .history article .article-header ol li:hover, .history article .article-header ol li:focus {
        background-color: #eb6100;
        border-color: #eb6100;
        opacity: .5; }
        .history article .article-header ol li:hover a, .history article .article-header ol li:focus a {
          color: #fff; }
      .history article .article-header ol li:first-child {
        border-right: 0; }
      .history article .article-header ol li:nth-of-type(3) {
        border-top: 0;
        border-right: 0; }
      .history article .article-header ol li:nth-of-type(4) {
        border-top: 0; }
      .history article .article-header ol li a {
        display: block;
        font-size: 14px;
        color: #999;
        font-weight: 400;
        text-align: center;
        line-height: 38px;
        font-family: 'Roboto', sans-serif; }
  @media (min-width: 768px) {
    .history article .article-header {
      margin-top: 70px; }
      .history article .article-header p {
        font-size: 15px;
        line-height: 25px; }
      .history article .article-header ol {
        display: table; }
        .history article .article-header ol li {
          display: table-cell;
          width: 1%; }
          .history article .article-header ol li.on {
            background-color: #eb6100;
            border-color: #eb6100; }
            .history article .article-header ol li.on a {
              color: #fff; }
          .history article .article-header ol li:hover, .history article .article-header ol li:focus {
            background-color: #eb6100;
            border-color: #eb6100;
            opacity: .5; }
            .history article .article-header ol li:hover a, .history article .article-header ol li:focus a {
              color: #fff; }
          .history article .article-header ol li:first-child {
            border-right: 0; }
          .history article .article-header ol li:nth-of-type(2) {
            border-right: 0; }
          .history article .article-header ol li:nth-of-type(3) {
            border-top: 1px solid #ccc;
            border-right: 0; }
          .history article .article-header ol li:nth-of-type(4) {
            border-top: 1px solid #ccc; }
          .history article .article-header ol li a {
            font-size: 16px;
            line-height: 50px; } }
.history article .article-content {
  margin-top: 80px; }
  .history article .article-content .content-header {
    text-align: left;
    margin-bottom: 45px; }
  .history article .article-content .history-list {
    position: relative;
    width: 100%;
    height: 100%; }
    .history article .article-content .history-list:before {
      position: absolute;
      top: 15px;
      left: 10px;
      height: 100%;
      content: " ";
      display: block;
      border-left: 1px solid #eb6100; }
    .history article .article-content .history-list > ol li ~ li .row .col-12 .details {
      margin-top: 70px; }
    .history article .article-content .history-list > ol li .col-12 > .details {
      position: relative;
      padding-left: 40px; }
      .history article .article-content .history-list > ol li .col-12 > .details:before {
        position: absolute;
        top: 5px;
        left: 5px;
        display: block;
        content: " ";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #eb6100; }
      .history article .article-content .history-list > ol li .col-12 > .details > h3 {
        position: relative;
        top: -8px;
        left: -5px;
        font-size: 30px;
        color: #000;
        font-weight: 600;
        font-family: 'Roboto', sans-serif; }
      .history article .article-content .history-list > ol li .col-12 > .details > ol {
        margin-top: 30px; }
        .history article .article-content .history-list > ol li .col-12 > .details > ol > li {
          margin-top: 30px; }
          .history article .article-content .history-list > ol li .col-12 > .details > ol > li:first-child {
            margin-top: 0; }
          .history article .article-content .history-list > ol li .col-12 > .details > ol > li dl {
            overflow: hidden; }
            .history article .article-content .history-list > ol li .col-12 > .details > ol > li dl dt {
              float: left;
              font-size: 14px;
              color: #000;
              font-weight: 400; }
            .history article .article-content .history-list > ol li .col-12 > .details > ol > li dl dd {
              font-size: 13px;
              color: #777;
              line-height: 22px;
              margin-left: 40px; }
  @media (min-width: 768px) {
    .history article .article-content .content-header {
      text-align: center; }
    .history article .article-content .history-list:before {
      left: 50%; }
    .history article .article-content .history-list > ol li ~ li .row .col-12 .details {
      margin-top: 75px; }
    .history article .article-content .history-list > ol li div.col-12 > .item-images {
      text-align: right;
      padding-right: 50px; }
      .history article .article-content .history-list > ol li div.col-12 > .item-images ul li {
        margin-top: 10px;
        /*											& ~ li {
        												margin-top: 10px;
        											}*/ }
    .history article .article-content .history-list > ol li div.col-12 > .details {
      padding-left: 30px; }
      .history article .article-content .history-list > ol li div.col-12 > .details:before {
        position: absolute;
        top: 5px;
        left: -20px;
        display: block;
        content: " ";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #eb6100; }
      .history article .article-content .history-list > ol li div.col-12 > .details > h3 {
        position: relative;
        top: -8px;
        left: -5px;
        font-size: 30px;
        color: #000;
        font-weight: 600;
        font-family: 'Roboto', sans-serif; }
      .history article .article-content .history-list > ol li div.col-12 > .details > ol {
        margin-top: 30px; }
        .history article .article-content .history-list > ol li div.col-12 > .details > ol > li {
          margin-top: 30px; }
          .history article .article-content .history-list > ol li div.col-12 > .details > ol > li:first-child {
            margin-top: 0; }
          .history article .article-content .history-list > ol li div.col-12 > .details > ol > li dl {
            overflow: hidden; }
            .history article .article-content .history-list > ol li div.col-12 > .details > ol > li dl dt {
              float: left;
              font-size: 14px;
              color: #000;
              font-weight: 400; }
            .history article .article-content .history-list > ol li div.col-12 > .details > ol > li dl dd {
              font-size: 13px;
              color: #777;
              line-height: 22px;
              margin-left: 40px; }
    .history article .article-content .history-list > ol li div.order-first .details {
      text-align: right;
      padding-right: 30px; }
      .history article .article-content .history-list > ol li div.order-first .details:before {
        display: none; }
      .history article .article-content .history-list > ol li div.order-first .details:after {
        position: absolute;
        top: 5px;
        right: -21px;
        display: block;
        content: " ";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #eb6100; }
      .history article .article-content .history-list > ol li div.order-first .details h3 {
        left: 5px; }
      .history article .article-content .history-list > ol li div.order-first .details ol li dl dt {
        float: right; }
      .history article .article-content .history-list > ol li div.order-first .details ol li dl dd {
        padding-right: 50px; }
    .history article .article-content .history-list > ol li div.order-first > .item-images {
      margin-top: 75px; }
    .history article .article-content .history-list > ol li div.order-last > .item-images {
      text-align: left;
      margin-top: 75px;
      padding-left: 50px; } }

/*# sourceMappingURL=introduce.css.map */
