@import 'common';

.introduce {

}
.greetings {
    padding-bottom: 0 !important;
    .ceo-message {
        padding-top: 40px;
        h3 {
            font-size: 22px;
            color: #eb6100;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 40px;
            strong {
                font-weight: 500;
            }
        }
        p {
            font-size: 13px;
            color: #444;
            line-height: 26px;
        }
        dl {
            margin-top: 40px;
            overflow: hidden;
            dt {
                font-size: 13px;
                color: #444;
                font-weight: 300;
                float: left;
                margin-right: 20px;
                padding-top: 18px;
            }
            dd {
                img {
                    width: 74px;
                }
            }
        }
        figure {
            padding: 0 10%;
            margin-top: 50px;
            .img-fluid {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .vision {
        padding: 80px 0;
        text-align: center;
        background-image: url(/assets/images/introduce/bg_vision_sm.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        p {
            font-size: 14px;
            color: #fff;
            line-height: 26px;
            margin: 35px 0 20px;
            text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); 
        }
        small {
            display: inline-block;
            font-size: 13px;
            color: rgba(#fff, .5);
        }
    }
    @media(min-width: $md) {
        .ceo-message {
            padding-top: 80px;
            padding-bottom: 50px;
            h3 {
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 60px;
            }
            p {
                font-size: 14px;
                line-height: 28px;
            }
            dl {
                margin-top: 50px;
                overflow: hidden;
                dt {
                    font-size: 14px;
                    padding-top: 30px;
                }
                dd {
                    img {
                        width: 100px;
                    }
                }
            }
            figure {
                padding: 0;
                margin-top: 0;
            }
        }
        .vision {
            padding: 120px 0;
            text-align: left;
            p {
                font-size: 20px;
                line-height: 34px;
                margin: 40px 0 20px;
            }
            small {
                font-size: 15px;
            }
        }
    }
    @media(min-width: $xl) {
        .ceo-message {
            padding-bottom: 80px;
            background-image: url(/assets/images/introduce/bg_ceo_message.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            p {
                font-size: 14px;
                line-height: 28px;
            }
            figure {
                margin-top: -84px;
            }
        }
        .vision {
            padding: 150px 0;
            background-image: url(/assets/images/introduce/bg_vision_lg.jpg);
            p {
                font-size: 22px;
                line-height: 34px;
            }
        }
    }
}

//비전
.vision {
	.vision-wrap {
		.section-header {
			text-align: center;
			padding-top: 55px;
			h2 {
				font-size: 28px;
				color: #222;
			}
			strong {
				display: block;
				font-size: 22px;
				color: #eb6100;
				font-weight: 300;
				margin-top: 20px;
				@include roboto();
			}
			p {
				font-size: 13px;
				line-height: 24px;
				color: #444;
				margin-top: 30px;
			}
		}
		.section-content {
			padding-top: 30px;
			> .row {
				> li {
					figure {
						position: relative;
						text-align: center;
						margin-top: 10px;
						img {
							width: 100%;
						}
						figcaption {
							color: #fff;
							width: 100%;
							position: absolute;
							bottom: 10px;
							left: 0;
							text-align: center;
						}
					}
					&:first-child {
						figure {
							margin-top: 0;
						}
					}
				}
			}
			.step-wrap {
				text-align: center;
				border: 2px solid #f2c27f;
				padding: 50px 0;
				margin-top: 30px;
				.row {
					> div {
						.step {
							&:after {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								font-size: 24px;
								font-weight: 400;
								text-align: center;
								font-family: "fontello";
								content: "\E811";
							}
						}
						&:first-child {
							.step {
								padding-top: 0;
								strong {
									color: #eb6100;
								}
								&:after {
									color: #eb6100;
								}
							}
						}
						&:nth-of-type(2) {
							.step {
								&:after {
									color: #144199;
								}
							}
						}
						&:last-child {
							.step {
								padding-bottom: 0;
								strong {
									color: #144199;
								}
								&:after {
									display: none;
								}
							}
						}
						.step {
							position: relative;
							padding-top: 50px;
							padding-bottom: 70px;
							strong {
								font-size: 20px;
							}
							p {
								font-size: 13px;
								color: #666;
							}
						}
					}
				}
			}
		}
	}
}




































