@import 'common';
@import url(http://api.typolink.co.kr/css?family=RixGo+L:400|RixGo+M:400|RixGo+B:400);

.landing-180816 {
	margin-top: 0;
	min-width: 1300px;
	font-family: 'RixGo B' !important;
	.container {
		max-width: 1300px;
		width: 1300px !important;
	}
	.logo {
		position: absolute;
		top: 40px;
		left: 40px;
	}
	.content01 {
		height: 2188px;
		padding-top: 240px;
		background-image: url(/assets/images/project/bg_content01.jpg);
		background-repeat: no-repeat;
		background-position: center;
		.video {
			width: 930px;
			margin: 0 auto;
			margin-top: 250px;  
		}
		.text2 {
			margin-top: 140px;
		}
	}
	.content02 {
		overflow: hidden;
		height: 798px;
		padding-top: 135px;
		background-image: url(/assets/images/project/bg_content02.jpg);
		background-repeat: no-repeat;
		background-position: center;
		.text1 {
			float: right;
			padding-right: 80px; 
		}
	}
	.content03 {
		height: 230px;
		padding-top: 70px;  
		background-color: #835346;
		.text1 {
			img {
				display: block;
				margin: 0 auto;
			} 
		}
	}
	.content04 {
		overflow: hidden;
		height: 770px;
		padding-top: 160px;  
		background-image: url(/assets/images/project/bg_content04.jpg);
		background-repeat: no-repeat;
		background-position: center;
		.text1 {
			float: right;
			padding-right: 80px;
		}
	}
	.content05 {
		height: 624px;
		padding-top: 95px;
		background-image: url(/assets/images/project/bg_content05.jpg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.content06 {
		height: 442px;
		padding-top: 30px;
		background-color: #eb6100;
		.text1 {
			img {
				display: block;
				margin: 0 auto;
			} 
		}
	}
	.content07 {
		height: 927px;
		padding-top: 125px;
		background-image: url(/assets/images/project/bg_content07.jpg);
		background-repeat: no-repeat;
		background-position: center;
		.text1 {
			img {
				display: block;
				margin: 0 auto;
			} 
		}
		.btn-area {
			text-align: center;
			margin-top: 110px;
			p {
				font-size: 0;
				.btn {
					padding: 0;
					border: 0;
					border-radius: 0;
					width: 375px;
					font-size: 18px;
					color: #222;
					line-height: 60px;
					font-weight: bold;
					font-family: 'RixGo B';
					margin-right: 20px;
					@include transition();
					&:hover {
						opacity: .8;
						@include transition();
					}
					&:last-child {
						margin-right: 0;
					}
					&.btn-white {
						background-color: #fff;
					}
					&.btn-orange {
						color: #fff;
						background-color: #eb6100;
					}
				}
			}
		}
	}
}


.sponsor-btn {
    position: absolute;
    top: 400px;
    right: 50%;
    width: 1600px;
    margin-right: -800px;
	a {
        display: inline-block;
		width: 150px;
		height: 150px;
        float: right;
		text-align: center;
		border-radius: 50%;
		padding-top: 25px;
		background-color: #eb6100;
		box-shadow: 2px 3px 4.8px 1.2px rgba(0, 0, 0, 0.15); 
		img {
			display: block;
			margin: 0 auto;
		}
	}
}



























