@import 'common';

.jumbotrons {
    overflow: hidden;
    height: 420px;
    .slick-arrow {
        display: none !important;
    }
    .slick-dots {
        position: relative;
        left: 0;
        bottom: 40px;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            > button {
                text-indent: -999999px;
                display: block;
                width: 15px;
                height: 15px;
                border: 0;
                padding: 0;
                margin: 0 6px;
                cursor: pointer;
                border-radius: 50%;
                background-color: #fff;
            }
            &.slick-active {
                > button {
                    background-color: #eb6100;
                }
            }
        }
    }
    .visual-list {
        position: relative;
        display: table;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        .container-fluid {
            display: table-cell;
            height: 420px;
            vertical-align: middle;
            text-align: center;
            .details {
                small {
                    position: relative;
                    top: -50px;
                    opacity: 0;
                    display: block;
                    margin-bottom: 15px;
                    font-size: 13px;
                    color: #fff;
                    font-weight: 500;
                    text-shadow: 2px 5px 18px rgba(0, 0, 0, 1);
                    @include roboto();
                    @include transition($duration: .80s);
                }
                h3 {
                    position: relative;
                    top: -50px;
                    opacity: 0;
                    font-size: 26px;
                    color: #fff;
                    @include nns();
                    text-shadow: 2px 5px 18px rgba(0, 0, 0, 1);
                    letter-spacing: -2px;
                    @include transition($duration: .80s, $delay: .30s);
                }
                > p {
                    position: relative;
                    top: -50px;
                    opacity: 0;
                    font-size: 12px;
                    color: #fff;
                    font-weight: 400;
                    line-height: 22px;
                    margin-top: 30px;
                    text-shadow: 2px 5px 18px rgba(0, 0, 0, 1);
                    @include transition($duration: .80s, $delay: .50s);
                }
                .btn-area {
                    position: relative;
                    top: -50px;
                    opacity: 0;
                    margin-top: 30px;
                    @include transition($duration: .80s, $delay: .70s);
                }
                .bar {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    span {
                        position: absolute;
                        display: block;
                        bottom: 0;
                        width: 0;
                        height: 5px;
                        @include transition($duration: 4.4s);
                        &.left {
                            left: 50%;
                            background-color: #144199;
                        }
                        &.right {
                            right: 50%;
                            background-color: #eb6100;
                        }
                    }
                }
            }
        }
        &.slide-1 {
            background-image: url(/assets/images/main/img_jumbo_sm_slider01.jpg);
        }
        &.slide-2 {
            background-image: url(/assets/images/main/img_jumbo_sm_slider02.jpg);
        }
        &.slide-3 {
            background-image: url(/assets/images/main/img_jumbo_sm_slider03.jpg);
        }
        &.action {
            .container-fluid {
                .details {
                    small {
                        top: 0;
                        opacity: 1;
                    }
                    h3 {
                        top: 0;
                        opacity: 1;
                    }
                    p {
                        top: 0;
                        opacity: 1;
                    }
                    .btn-area {
                        top: 0;
                        opacity: 1;
                    }
                    .bar {
                        span {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        height: 720px;
        .slick-dots {
            bottom: 50px;
            li {
                > button {
                    width: 20px;
                    height: 20px;
                    margin: 0 8px;
                }
            }
        }
        .visual-list {
            background-position: 50% 50%;
            .container-fluid {
                height: 720px;
                .details {
                    small {
                        font-size: 18px;
                        margin-bottom: 40px;
                    }
                    h3 {
                        font-size: 60px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 36px;
                        margin-top: 60px;
                    }
                    .btn-area {
                        margin-top: 95px;
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        height: 800px;
        .slick-arrow {
            position: absolute;
            top: 50%;
            padding: 0;
            width: 40px;
            height: 78px;
            display: block !important;
            text-indent: -999999px;
            margin-top: -39px;
            border: 0;
            cursor: pointer;
            opacity: 1;
            background: none;
            background-repeat: no-repeat;
            background-size: 40px 78px;
            background-position: 0 0;
            &.slick-prev {
                left: 30px;
                z-index: 1;
                background-image: url(/assets/images/main/btn_arrow_slick_prev.png);
            }
            &.slick-next {
                right: 30px;
                background-image: url(/assets/images/main/btn_arrow_slick_next.png);
            }
        }
        .slick-dots {
            bottom: 50px;
        }
        .visual-list {
            background-position: 90% 50%;
            &.slide-1 {
                background-image: url(/assets/images/main/img_jumbo_lg_slider01.jpg);
            }
            &.slide-2 {
                background-image: url(/assets/images/main/img_jumbo_lg_slider02.jpg);
            }
            &.slide-3 {
                background-image: url(/assets/images/main/img_jumbo_lg_slider03.jpg);
            }
            .container-fluid {
                height: 800px;
                text-align: left;
                .details {
                    width: 100%;
                    padding: 0 8%;
                    small {
                        margin-bottom: 30px;
                    }
                    h3 {
                        left: -4px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 36px;
                        margin-top: 60px;
                    }
                    .btn-area {
                        margin-top: 95px;
                    }
                }
            }
        }
    }
    @media(min-width: 1400) {
        .visual-list {
            background-position: 50% 50%;
        }
    }
}

.btn-area {
    p {
        .btn {
            display: inline-block;
            width: 120px;
            height: 35px;
            font-size: 13px;
            color: #fff;
            line-height: 33px;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            border: 1px solid #fff;
            border-radius: 0;
            &.type-1 {
                border-color: #144199;
                background-color: #144199;
            }
            &.type-2 {
                border-color: #eb6100;
                background-color: #eb6100;
            }
            &.type-3 {
                color: #111;
                border-color: #fff;
                background-color: #fff;
            }
            &.type-4 {
                color: #111;
                border-color: #111;
                background: none;
            }
            &.type-5 {
                border-color: #fff;
                background: none;
            }
        }
    }
    @media(min-width: $md) {
        p {
            .btn {
                width: 200px;
                font-size: 15px;
                line-height: 48px;
                height: 50px;
            }
        }
    }
    @media(min-width: $xl) {
        p {
            .btn {
                @include transition();
                &:hover, &:focus {
                    color: #fff;
                    border-color: #eb6100;
                    background-color: #eb6100;
                }
                &.type-2 {
                    &:hover, &:focus {
                        border-color: #144199;
                        background-color: #144199;
                    }
                }
            }
        }
    }
}

// support-business
/*.support-business {
    padding: 30px 0;
    background-color: #f3f5fa;
    .slick-arrow {
        display: none !important;
    }
    .business {
        padding-left: 20px;
        .participation {
            font-size: 40px;
            font-weight: 200;
            @include roboto();
            &.or {
                color: #eb6100;
            }
            &.bl {
                color: #144199;
            }
            small {
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                font-size: 12px;
                color: #fff;
                @include noto();
                border-radius: 50%;
                &.or {
                    background-color: #eb6100;
                }
                &.bl {
                    background-color: #144199;
                }
            }
        }
        h3 {
            font-size: 14px;
            color: #000;
            @include iropke();
            font-weight: 500;
            margin-top: 15px;
        }
        blockquote {
            display: inline-block;
            font-size: 14px;
            color: #555;
            line-height: 26px;
            margin-top: 25px;
            word-break: keep-all;
        }
    }
    @media(min-width: $md) {
        padding: 65px 0;
        .business {
            padding: 0 40px;
            .participation {
                font-size: 65px;
                small {
                    font-size: 15px;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                }
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    @media(min-width: $xl) {
        padding: 80px 0;
        .business {
            padding: 0 20px;
        }
    }
    @media(min-width: 1400px) {
        .business {
            padding: 0 40px;
        }
    }
}*/
.support-business {
    padding: 20px 0;
    background-color: #f3f5fa;
    ul {
        overflow: hidden;
        > li {
            width: 25%;
            float: left;
            > a {
                display: block;
                text-align: center;
                font-size: 13px;
                color: #000;
                font-weight: 400;
                padding-top: 45px;
                background-repeat: no-repeat;
                background-position: 50% 0;
                @include transition();
                &:hover {
                    color: #eb6100;
                }
                span {
                    display: none;
                }
            }
            &:nth-of-type(1) {
                a {
                    background-image: url(/assets/images/main/icon_business01.png);
                    &:hover {
                        background-image: url(/assets/images/main/icon_on_business01.png);
                    }
                }
            }
            &:nth-of-type(2) {
                a {
                    background-image: url(/assets/images/main/icon_business02.png);
                    &:hover {
                        background-image: url(/assets/images/main/icon_on_business02.png);
                    }
                }
            }
            &:nth-of-type(3) {
                a {
                    background-image: url(/assets/images/main/icon_business03.png);
                    &:hover {
                        background-image: url(/assets/images/main/icon_on_business03.png);
                    }
                }
            }
            &:nth-of-type(4) {
                a {
                    background-image: url(/assets/images/main/icon_business04.png);
                    &:hover {
                        background-image: url(/assets/images/main/icon_on_business04.png);
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding: 25px 0;
        ul {
            > li {
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    content: " ";
                    display: block;
                    margin-top: -12px;
                    height: 24px;
                    width: 1px;
                    background-color: #ccc;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                > a {
                    padding-top: 45px;
                    font-size: 18px;
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding: 0;
        ul {
            > li {
                > a {
                    position: relative;
                    text-align: left;
                    font-size: 18px;
                    padding: 40px 40px 40px 85px;
                    background-position: 40px 50%;
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 40px;
                        margin-top: -13px;
                        font-family: "fontello";
                        content: "\E80B";
                    }
                    span {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: #eb6100;
                        @include transition();
                    }
                    &:hover {
                        span {
                            margin-left: -50%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


//campaign
.campaign-list {
    @include nns();
    padding: 40px 0;
    background-color: #fff;
    .container-fluid {
        padding: 0 20px !important;
    }
    h3 {
        font-size: 23px;
        color: #111;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .section-content {
        > ul {
            > li {
                > a {
                    display: block;
                    .item {
                        position: relative;
                        .ongoing {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            width: 70px;
                            display: block;
                            font-size: 12px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            background-color: #f5a100;
                        }
                        .img-fluid {
                            width: 100%;
                        }
                    }
                    .details {
                        position: relative;
                        text-align: center;
                        padding: 30px 3% 20px;
                        border: 1px solid #ccc;
                        border-top: 0;
                        .progress-area {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 10px;
                            background-color: #ccc;
                            .state-bar {
                                position: relative;
                                height: 10px;
                                display: block;
                                background-color: #ee7500;
                                @include transition($duration: 1.5s);
                                .d-day {
                                    position: absolute;
                                    top: -46px;
                                    right: -18px;
                                    font-size: 13px;
                                    color: #fff;
                                    display: inline-block;
                                    width: 35px;
                                    height: 42px;
                                    line-height: 38px;
                                    font-weight: bold;
                                    text-align: center;
                                    @include roboto();
                                    background-image: url(/assets/images/main/bg_d_day.png);
                                    background-repeat: no-repeat;
                                    background-size: 35px 42px;
                                    background-position: 0 0 ;
                                }
                            }
                        }
                        h4 {
                            font-size: 16px;
                            color: #111;
                            /*small {
                                display: block;
                                font-size: 13px;
                                color: #555;
                                margin-bottom: 10px;
                            }*/
                        }
                        .more {
                            display: none;
                        }
                    }
                }
                & ~ li {
                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
        .btn-area {
            margin-top: 20px;
            p {
                .btn-gray {
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    font-size: 13px;
                    color: #555;
                    padding: 0;
                    text-align: center;
                    line-height: 48px;
                    border: 1px solid #dfdfdf;
                    border-radius: 0;
                    background-color: #f8f8f8;
                }
            }
        }
    }
    @media(min-width: $md) {
        padding: 60px 0;
        h3 {
            font-size: 35px;
            margin-bottom: 40px;
        }
        .section-content {
            > ul {
                > li {
                    > a {
                        .item {
                            .ongoing {
                                width: 90px;
                                font-size: 14px;
                                line-height: 35px;
                            }
                        }
                        .details {
                            height: 100px;
                            padding: 0 4%;
                            .table-align {
                                display: table;
                                width: 100%;
                                height: 100px;
                            }
                            h4 {
                                display: table-cell;
                                vertical-align: middle;
                                font-size: 20px;
                                line-height: 28px;
                                padding-top: 10px;
                            }
                        }
                    }
                    & ~ li {
                        a {
                            margin-top: 0;
                        }
                    }
                    &:nth-of-type(2) ~ li {
                        a {
                            margin-top: 20px;
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 30px;
                p {
                    .btn-gray {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding: 100px 6%;
        .container-fluid {
            padding: 0 15px !important;
        }
        h3 {
            font-size: 40px;
        }
        .section-content {
            > ul {
                > li {
                    > a {
                        margin-top: 0 !important;
                        @include transition();
                        .item {
                            .ongoing {
                                width: 100px;
                                font-size: 15px;
                                line-height: 40px;
                            }
                        }
                        .details {
                            height: 130px;
                            padding: 0 6%;
                            @include transition();
                            .table-align {
                                position: relative;
                                height: 130px;
                                h4 {
                                    font-size: 20px;
                                }
                            }
                            .more {
                                width: 160px;
                                line-height: 42px;
                                text-align: center;
                                color: #fff;
                                border: 1px solid #fff;
                            }
                        }
                        &:hover, &:focus {
                            .details {
                                border-color: #eb6100;
                                background-color: #eb6100;
                                .table-align {
                                    padding-top: 10px;
                                    height: 130px;
                                }
                                h4 {
                                    /*color: #fff;*/
                                    display: none;
                                }
                                .more {
                                    display: block;
                                    position: absolute;
                                    top: 55%;
                                    left: 50%;
                                    margin: -22px 0 0 -80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//goodpeople-news 
.goodpeople-news {
    position: relative;
    @include nns();
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: 0;
        background: none;
        color: #fff;
        padding: 0;
        font-size: 32px;
        margin-top: -25px;
        cursor: pointer;
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
        @media(min-width: $xl) {
            display: none !important;
        }
    }
    .news {
        a {
            position: relative;
            display: block;
            .item-img {
                .img-fluid {
                    width: 100%;
                }
            }
            .details {
                position: absolute;
                left: 20px;
                bottom: 20px;
                .news-label {
                    width: 85px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    background-color: #eb6100;
                    margin-bottom: 15px;
                }
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
    @media(min-width: $md) {
        .news {
            a {
                .details {
                    left: 30px;
                    bottom: 30px;
                    .news-label {
                        width: 110px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .news {
            a {
                .item-img {
                    overflow: hidden;
                    .img-fluid {
                        @include transition();
                    }
                }
                .details {
                    left: 50px;
                    bottom: 50px;
                }
                &:hover, &:focus {
                    .item-img {
                        .img-fluid {
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 1400px) {
        .news {
            a {
                .details {
                    h3 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

//campaign-review 
.campaign-review {
    padding: 20px 0;
    background-color: #fff;
    .review-slide {
        position: relative;
        .slick-arrow {
            position: absolute;
            top: 50%;
            margin-top: -17px;
            width: 20px;
            height: 35px;
            z-index: 1;
            border: 0;
            cursor: pointer;
            border-radius: 5px;
            text-indent: -9999px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 6px auto;
            &.slick-prev {
                left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0; 
                background-image: url(/assets/images/main/btn_slide_left.gif);
            }
            &.slick-next {
                right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-image: url(/assets/images/main/btn_slide_right.gif);
            }
        }
        .review {
            height: 180px;
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: cover;
            &.review-1 {
                background-image: url(/assets/images/main/bg_campaign_review_sm.jpg)
            }
            &.review-2 {
                background-image: url(/assets/images/main/bg_campaign_review_sm.jpg)
            }
            .content {
                display: table;
                width: 100%;
                .details {
                    text-align: center;
                    display: table-cell;
                    height: 180px;
                    padding: 0 30px;
                    vertical-align: middle;
                    h3 {
                        font-size: 13px;
                        color: #111;
                        margin-bottom: 15px;
                        @include nns();
                    }
                    .summary {
                        font-size: 15px;
                        color: #111;
                        line-height: 22px;
                        font-weight: 400;
                        word-break: keep-all;
                        @include nns();
                    }
                    .btn-area {
                        margin-top: 20px;
                        /*.btn-default {
                            width: 120px;
                            height: 35px;
                            line-height: 33px;
                            font-size: 12px;
                            color: #111;
                            padding: 0;
                            border-radius: 0;
                            border: 1px solid #111;
                            background: none !important;
                        }*/
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .review-slide {
            .slick-arrow {
                width: 33px;
                height: 52px;
                margin-top: -26px;
                background-size: 10px auto;
            }
            .review {
                height: 310px;
                background-position: 50% 50%;
                &.review-1 {
                    background-image: url(/assets/images/main/bg_campaign_review_lg.jpg)
                }
                &.review-2 {
                    background-image: url(/assets/images/main/bg_campaign_review_lg.jpg)
                }
                .content {
                    .details {
                        height: 310px;
                        text-align: left;
                        padding-left: 60px;
                        padding-right: 0;
                        h3 {
                            font-size: 16px;
                            margin-bottom: 30px;
                        }
                        .summary {
                            font-size: 25px;
                            line-height: 46px;
                        }
                        .btn-area {
                            margin-top: 40px;
                            /*.btn-default {
                                width: 160px;
                                height: 45px;
                                line-height: 43px;
                                font-size: 14px;
                            }*/
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding: 100px 6%;
        .review-slide {
            .review {
                height: 370px;
                .content {
                    .details {
                        height: 370px;
                        padding-left: 100px;
                        h3 {
                            font-size: 18px;
                            margin-bottom: 40px;
                        }
                        .summary {
                            font-size: 28px;
                            line-height: 46px;
                        }
                        .btn-area {
                            margin-top: 60px;
                            /*.btn-default {
                                @include transition();
                                &:hover, &:focus {
                                    color: #fff;
                                    border-color: #eb6100;
                                    background: #eb6100 !important;
                                }
                            }*/
                        }
                    }
                }
            }
        }
    }
}


//business
.global-business {
    padding-bottom: 10px;
    background-color: #f3f5fa;
    .slick-arrow {
        display: none !important;
    }
    .business {
        > a {
            position: relative;
            display: block;
            .item-img {
                .img-fluid {
                    width: 100%;
                }
                > p {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    width: 80px;
                    line-height: 30px;
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    @include nns();
                    &.or {
                        background-color: #f5a100;
                    }
                    &.bl {
                        background-color: #144199;
                    }
                }
            }
            .details {
                text-align: center;
                margin-top: 20px;
                @include nns();
                small {
                    font-size: 13px;
                    color: #111;
                    display: inline-block;
                    margin-bottom: 5px;
                    &:before {
                        content: "[ ";
                    }
                    &:after {
                        content: " ]";
                    }
                }
                h4 {
                    font-size: 16px;
                    color: #111;
                    font-weight: 400;
                }
            }
        }
    }
    .slick-dots {
        text-align: center;
        margin-top: 10px;
        li {
            display: inline-block;
            button {
                display: block;
                cursor: pointer;
                width: 12px;
                height: 12px;
                text-indent: -99999px;
                border: 0;
                margin: 0 5px;
                border-radius: 50%;
                background-color: #ccc;
            }
            &.slick-active {
                button {
                    background-color: #eb6100;
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-bottom: 25px;
        .business {
            > a {
                .item-img {
                    > p {
                        top: 30px;
                        left: 20px;
                        width: 90px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 14px;
                    }
                }
                .details {
                    margin-top: 35px;
                    small {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
            }
        }
        .slick-dots {
            margin-top: 20px;
            li {
                display: inline-block;
                button {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding-bottom: 0;
        background-color: #fff;
        .business {
            > a {
                .item-img {
                    overflow: hidden;
                    > p {
                        left: 30px;
                        width: 110px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
                        z-index: 1;
                    }
                    .img-fluid {
                        @include transition();
                    }
                }
                .details {
                    text-align: left;
                    padding: 30px 6%;
                    margin: 0;
                    border: 1px solid #ccc;
                    small {
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                    h4 {
                        font-size: 22px;
                    }
                }
                &:hover, &:focus {
                    .item-img {
                        .img-fluid {
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                        }
                    }
                }
            }
            &.internal {
                > a {
                    .details {
                        border-right: 0;
                    }
                }
            }
            &.overseas {
                > a {
                    .details {
                        margin-left: -1px;
                    }
                }
            }
        }
        .slick-dots {
            display: none;
        }
    }
}

.sponsorship-info {
    padding: 50px 0 30px;
    background-color: #fff;
    .info-list {
        > ul {
            > li {
                overflow: hidden;
                article {
                    @include nns();
                    display: block;
                    &.ars {
                        float: left;
                        width: 50%;
                        padding-right: 10px;
                    }
                    &.inquiry {
                        float: left;
                        width: 50%;
                        padding-left: 10px;
                    }
                    h3 {
                        font-size: 18px;
                        color: #333;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 12px;
                        color: #111;
                        line-height: 18px;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                    dl {
                        dt {
                            margin-bottom: 10px;
                        }
                        dd {
                            font-size: 13px;
                            color: #555;
                            font-weight: 400;
                        }
                    }
                    strong {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                        margin-top: 10px;
                        @include roboto();
                        &.or {
                            a {
                                color: #eb6100;
                            }
                        }
                        &.bl {
                            a {
                                color: #144199;
                            }
                        }
                    }
                    .note {
                        font-size: 12px;
                        font-weight: 400;
                        color: #eb6100;
                        display: inline-block;
                    }
                    &.give {
                        margin-top: 50px;
                        .btn-area {
                            overflow: hidden;
                            .btn {
                                float: left;
                                width: 49%;
                                font-size: 13px;
                                line-height: 38px;
                                border-radius: 0;
                                margin-right: 2%;
                                border: 1px solid #fff;
                                &:nth-of-type(2n + 1) {
                                    clear: both;
                                }
                                &:nth-of-type(2n + 2) {
                                    margin-right: 0;
                                }
                                &:nth-of-type(2) ~ .btn {
                                    margin-top: 2%;
                                }
                                &.btn-orange {
                                    color: #fff;
                                    border-color: #eb6100;
                                    background-color: #eb6100;
                                }
                                &.btn-blue {
                                    color: #fff;
                                    border-color: #144199;
                                    background-color: #144199;
                                }
                                &.btn-white {
                                    color: #111;
                                    border: 1px solid #666;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding: 60px 0;
        .info-list {
            > ul {
                > li {
                    article {
                        margin: 0;
                        padding: 0 !important;
                        h3 {
                            font-size: 22px;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 16px;
                            margin-top: 30px;
                        }
                        dl {
                            margin-top: 17px;
                            dd {
                                font-size: 16px;
                            }
                        }
                        strong {
                            font-size: 45px;
                            margin: 0;
                        }
                        &.give {
                            margin-top: 60px;
                            h3 {
                                margin-bottom: 30px;
                            }
                            .btn-area {
                                overflow: hidden;
                                .btn {
                                    width: 23.5%;
                                    font-size: 16px;
                                    line-height: 22px;
                                    padding: 29px 0;
                                    &:nth-of-type(2n + 1) {
                                        clear: none;
                                    }
                                    &:nth-of-type(2n + 2) {
                                        margin-right: 2%;
                                    }
                                    &:nth-of-type(2) ~ .btn {
                                        margin-top: 0%;
                                    }
                                    &:last-child {
                                        margin-right: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding: 90px 0;
        .info-list {
            > ul {
                > li {
                    article {
                        margin: 0;
                        h3 {
                            font-size: 25px;
                        }
                        strong {
                            letter-spacing: -1.5px;
                            a {
                                cursor: default;
                            }
                        }
                        &.give {
                            margin-top: 0;
                            h3 {
                                margin-bottom: 35px;
                            }
                            .btn-area {
                                &.more {
                                    padding-right: 30px;
                                }
                                .btn {
                                    @include transition();
                                    &.btn-orange {
                                        color: #eb6100;
                                        background-color: #fff;
                                        border: 2px solid #eb6100;
                                        &:hover, &:focus {
                                            color: #fff;
                                            background-color: #eb6100;
                                        }
                                    }
                                    &.btn-blue {
                                        color: #144199;
                                        background-color: #fff;
                                        border: 2px solid #144199;
                                        &:hover, &:focus {
                                            color: #fff;
                                            background-color: #144199;
                                        }
                                    }
                                    &.btn-white {
                                        padding: 30px 0;
                                        &:hover, &:focus {
                                            color: #fff;
                                            border-color: #aaa;
                                            background-color: #aaa;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:first-child {
                        article {
                            &.ars {
                                width: 45%;
                            }
                            &.inquiry {
                                width: 55%;
                                padding-left: 40px;
                                .title-txt {
                                    font-size: 16px;
                                    color: #111;
                                    padding: 0;
                                    margin: 15px 0;
                                }
                                dl {
                                    margin-top: 0;
                                    dt {
                                        display: inline-block;
                                        margin: 0;
                                    }
                                    dd {
                                        position: relative;
                                        top: 2px;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 1400px) {
        padding-left: 3%;
        padding-right: 3%;
        .info-list {
            > ul {
                > li {
                    &:first-child {
                        article {
                            strong {
                                font-size: 53px;
                                letter-spacing: -1px;
                            }
                            &.inquiry {
                                dl {
                                    dd {
                                        margin-left: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//sns-issue
.sns-issue {
    padding-bottom: 30px;
    ul {
        li {
            .mobile-link {
                text-align: center;
                .icon-btn {
                    display: inline-block;
                    overflow: hidden;
                    border-radius: 50%;
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-bottom: 60px;
        ul {
            li {
                &:nth-of-type(2) ~ li {
                    .sns {
                        margin-top: 20px;
                    }
                }
                .img-fluid {
                    width: 100%;
                }
                .sns {
                    position: relative;
                    display: block;
                    width: 100%;
                    @include nns();
                    .icon-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        img {
                            width: 60px;
                        }
                    }
                    .play-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -45px;
                        margin-left: -42px;
                        .icon-play {
                            color: #fff;
                            font-size: 60px;
                        }
                    }
                    .details {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        padding: 80px 15% 0;
                        > div {
                            width: 100%;
                            &.content-body {
                                height: 60%;
                                .mCSB_container {
                                    margin-right: 15px !important;
                                }
                                .mCSB_draggerContainer {
                                    left: 10px !important;
                                }
                                p {
                                    font-size: 14px;
                                    line-height: 28px;
                                    color: #fff;
                                    word-break: keep-all;
                                }
                            }
                            &.content-foot {
                                height: 40%;
                                .more-btn {
                                    margin-top: 30px;
                                    .btn-white {
                                        display: inline-block;
                                        width: 100%;
                                        height: 40px;
                                        font-size: 13px;
                                        color: #fff;
                                        font-weight: 300;
                                        line-height: 38px;
                                        text-align: center;
                                        padding: 0;
                                        border: 1px solid #fff;
                                        border-radius: 0;
                                        @include noto();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        ul {
            li {
                .sns {
                    .icon-img {
                        img {
                            width: 65px;
                        }
                    }
                    .details {
                        padding: 0 15% 0;
                        > div {
                            &.content-title {
                                position: relative;
                                height: 30%;
                                h4 {
                                    position: absolute;
                                    top: 60%;
                                    left: 0;
                                    font-size: 23px;
                                    color: #fff;
                                    font-weight: bold;
                                    @include roboto();
                                }
                            }
                            &.content-body {
                                height: 45%;
                                p {
                                    font-size: 15px;
                                }
                            }
                            &.content-foot {
                                height: 35%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        ul {
            li {
                .sns {
                    margin-top: 0 !important;
                    .icon-img {
                        img {
                            width: 55px;
                        }
                    }
                    .details {
                        padding-top: 70px;
                        > div {
                            &.content-title {
                                display: none !important;
                            }
                            &.content-body {
                                height: 60%;
                                p {
                                    font-size: 13px;
                                    line-height: 24px;
                                }
                            }
                            &.content-foot {
                                height: 40%;
                                .more-btn {
                                    margin-top: 15px;
                                    .btn-white {
                                        height: 35px;
                                        line-height: 32px;
                                        @include transition();
                                        &.btn-blue {
                                            &:hover, &:focus {
                                                font-weight: 400;
                                                color: #38559f;
                                                background-color: #fff;
                                            }
                                        }
                                        &.btn-green {
                                            &:hover, &:focus {
                                                font-weight: 400;
                                                color: #2db400;
                                                background-color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.youtube {
                        a {
                            .play-icon {
                                margin-top: -32px;
                                margin-left: -34px;
                                .icon-play {
                                    font-size: 46px;
                                    @include transition();
                                }
                            }
                            &:hover, &:focus {
                                .play-icon {
                                    .icon-play {
                                        color: #ff0000;
                                    }
                                }
                            }
                        }
                    }
                    &.instagram {
                        a {
                            &:after {
                                @include transition();
                                display: block;
                                content: " ";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                background-size: 80px auto;
                                background-image: url(/assets/images/main/icon_instagram_hover.png);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                            }
                            &:hover {
                                &:after {
                                    width: 100%;
                                    height: 100%;
                                    opacity: 1;
                                    background-color: rgba(0, 0, 0, .4);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 1400px) {
        ul {
            li {
                .sns {
                    .details {
                        padding-top: 0;
                        > div {
                            &.content-title {
                                height: 35%;
                                display: block !important;
                                h4 {
                                    top: 60%;
                                    font-size: 22px;
                                }
                            }
                            &.content-body {
                                height: 35%;
                                p {
                                    font-size: 14px;
                                    line-height: 26px;
                                }
                            }
                            &.content-foot {
                                height: 30%;
                                .more-btn {
                                    margin-top: 25px;
                                    .btn-white {
                                        display: inline-block;
                                        width: 100%;
                                        height: 40px;
                                        font-size: 13px;
                                        color: #fff;
                                        font-weight: 300;
                                        line-height: 38px;
                                        text-align: center;
                                        padding: 0;
                                        border: 1px solid #fff;
                                        border-radius: 0;
                                        @include noto();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}