@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

#content {
  min-height: 600px;
  background-color: darkgray; }

.jumbotrons {
  position: relative;
  overflow: hidden;
  height: 420px; }
  .jumbotrons .slick-arrow {
    display: none !important; }
  .jumbotrons .slick-dots {
    position: relative;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center; }
    .jumbotrons .slick-dots li {
      display: inline-block; }
      .jumbotrons .slick-dots li > button {
        text-indent: -999999px;
        display: block;
        width: 15px;
        height: 15px;
        border: 0;
        padding: 0;
        margin: 0 6px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff; }
      .jumbotrons .slick-dots li.slick-active > button {
        background-color: #eb6100; }
  .jumbotrons .visual-list {
    display: table;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%; }
    .jumbotrons .visual-list .container-fluid {
      display: table-cell;
      height: 420px;
      vertical-align: middle;
      text-align: center; }
      .jumbotrons .visual-list .container-fluid .details small {
        position: relative;
        top: -50px;
        opacity: 0;
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
        color: #fff;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .jumbotrons .visual-list .container-fluid .details h3 {
        position: relative;
        top: -50px;
        opacity: 0;
        font-size: 26px;
        color: #fff;
        font-family: 'NanumSquare', sans-serif;
        letter-spacing: -2px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      .jumbotrons .visual-list .container-fluid .details p {
        position: relative;
        top: -50px;
        opacity: 0;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        line-height: 22px;
        margin-top: 30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      .jumbotrons .visual-list .container-fluid .details .btn-area {
        position: relative;
        top: -50px;
        opacity: 0;
        margin-top: 30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s; }
        .jumbotrons .visual-list .container-fluid .details .btn-area p .btn {
          display: inline-block;
          width: 120px;
          height: 35px;
          font-size: 13px;
          color: #fff;
          line-height: 35px;
          text-align: center;
          margin: 0 auto;
          padding: 0;
          border: 0;
          border-radius: 0;
          background-color: #144199; }
    .jumbotrons .visual-list.slide-1 {
      background-image: url(/assets/images/main/img_jumbo_sm_slider01.jpg); }
    .jumbotrons .visual-list.slide-2 {
      background-image: url(/assets/images/main/img_jumbo_sm_slider01.jpg); }
    .jumbotrons .visual-list.slide-3 {
      background-image: url(/assets/images/main/img_jumbo_sm_slider01.jpg); }
    .jumbotrons .visual-list.action .container-fluid .details small {
      top: 0;
      opacity: 1; }
    .jumbotrons .visual-list.action .container-fluid .details h3 {
      top: 0;
      opacity: 1; }
    .jumbotrons .visual-list.action .container-fluid .details p {
      top: 0;
      opacity: 1; }
    .jumbotrons .visual-list.action .container-fluid .details .btn-area {
      top: 0;
      opacity: 1; }
  @media (min-width: 768px) {
    .jumbotrons {
      height: 720px; }
      .jumbotrons .slick-dots {
        bottom: 50px; }
        .jumbotrons .slick-dots li > button {
          width: 20px;
          height: 20px;
          margin: 0 8px; }
      .jumbotrons .visual-list {
        background-position: 50% 50%; }
        .jumbotrons .visual-list .container-fluid {
          height: 720px; }
          .jumbotrons .visual-list .container-fluid .details small {
            font-size: 18px;
            margin-bottom: 40px; }
          .jumbotrons .visual-list .container-fluid .details h3 {
            font-size: 60px; }
          .jumbotrons .visual-list .container-fluid .details p {
            font-size: 16px;
            line-height: 36px;
            margin-top: 60px; }
          .jumbotrons .visual-list .container-fluid .details .btn-area {
            margin-top: 95px; }
            .jumbotrons .visual-list .container-fluid .details .btn-area p .btn {
              width: 200px;
              font-size: 15px;
              line-height: 50px;
              height: 50px; } }
  @media (min-width: 1200px) {
    .jumbotrons {
      height: 800px; }
      .jumbotrons .slick-arrow {
        position: absolute;
        top: 50%;
        padding: 0;
        width: 40px;
        height: 78px;
        display: block !important;
        text-indent: -999999px;
        margin-top: -39px;
        border: 0;
        cursor: pointer;
        opacity: 1;
        background: none;
        background-repeat: no-repeat;
        background-size: 40px 78px;
        background-position: 0 0; }
        .jumbotrons .slick-arrow.slick-prev {
          left: 30px;
          z-index: 1;
          background-image: url(/assets/images/main/btn_arrow_slick_prev.png); }
        .jumbotrons .slick-arrow.slick-next {
          right: 30px;
          background-image: url(/assets/images/main/btn_arrow_slick_next.png); }
      .jumbotrons .slick-dots {
        bottom: 50px; }
      .jumbotrons .visual-list {
        background-position: 90% 50%; }
        .jumbotrons .visual-list.slide-1 {
          background-image: url(/assets/images/main/img_jumbo_lg_slider01.jpg); }
        .jumbotrons .visual-list.slide-2 {
          background-image: url(/assets/images/main/img_jumbo_lg_slider01.jpg); }
        .jumbotrons .visual-list.slide-3 {
          background-image: url(/assets/images/main/img_jumbo_lg_slider01.jpg); }
        .jumbotrons .visual-list .container-fluid {
          height: 800px;
          text-align: left; }
          .jumbotrons .visual-list .container-fluid .details {
            width: 100%;
            padding: 0 8%; }
            .jumbotrons .visual-list .container-fluid .details small {
              margin-bottom: 30px; }
            .jumbotrons .visual-list .container-fluid .details p {
              font-size: 16px;
              line-height: 36px;
              margin-top: 60px; }
            .jumbotrons .visual-list .container-fluid .details .btn-area {
              margin-top: 95px; }
              .jumbotrons .visual-list .container-fluid .details .btn-area p .btn {
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
                .jumbotrons .visual-list .container-fluid .details .btn-area p .btn:hover, .jumbotrons .visual-list .container-fluid .details .btn-area p .btn:focus {
                  background-color: #eb6100; } }
  @media (min-width: 1400) {
    .jumbotrons .visual-list {
      background-position: 50% 50%; } }

.support-business {
  padding: 30px 0;
  background-color: #f3f5fa; }
  .support-business .slick-arrow {
    display: none !important; }
  .support-business .business {
    padding-left: 20px; }
    .support-business .business .participation {
      font-size: 40px;
      font-weight: 200;
      font-family: 'Roboto', sans-serif; }
      .support-business .business .participation.or {
        color: #eb6100; }
      .support-business .business .participation.bl {
        color: #144199; }
      .support-business .business .participation small {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-family: 'Noto Sans KR', sans-serif;
        border-radius: 50%; }
        .support-business .business .participation small.or {
          background-color: #eb6100; }
        .support-business .business .participation small.bl {
          background-color: #144199; }
    .support-business .business h3 {
      font-size: 14px;
      color: #000;
      font-family: 'Iropke Batang', serif;
      font-weight: 500;
      margin-top: 15px; }
    .support-business .business blockquote {
      display: inline-block;
      font-size: 14px;
      color: #555;
      line-height: 26px;
      margin-top: 25px;
      word-break: keep-all; }
  @media (min-width: 768px) {
    .support-business {
      padding: 65px 0; }
      .support-business .business {
        padding: 0 40px; }
        .support-business .business .participation {
          font-size: 65px; }
          .support-business .business .participation small {
            font-size: 15px;
            width: 28px;
            height: 28px;
            line-height: 28px; }
        .support-business .business h3 {
          font-size: 20px; } }
  @media (min-width: 1200px) {
    .support-business {
      padding: 80px 0; }
      .support-business .business {
        padding: 0 20px; } }
  @media (min-width: 1400px) {
    .support-business .business {
      padding: 0 40px; } }

.campaign-list {
  font-family: 'NanumSquare', sans-serif;
  padding: 40px 0;
  background-color: #fff; }
  .campaign-list h3 {
    font-size: 23px;
    color: #111;
    font-weight: 400;
    margin-bottom: 20px; }
  .campaign-list .section-content > ul > li > a {
    display: block; }
    .campaign-list .section-content > ul > li > a .item {
      position: relative; }
      .campaign-list .section-content > ul > li > a .item .ongoing {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 70px;
        display: block;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background-color: #f5a100; }
      .campaign-list .section-content > ul > li > a .item .img-fluid {
        width: 100%; }
    .campaign-list .section-content > ul > li > a .details {
      position: relative;
      text-align: center;
      padding: 30px 0 20px;
      border: 1px solid #ccc;
      border-top: 0; }
      .campaign-list .section-content > ul > li > a .details .progress-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: #ccc; }
        .campaign-list .section-content > ul > li > a .details .progress-area .state-bar {
          position: relative;
          height: 10px;
          display: block;
          background-color: #ee7500; }
          .campaign-list .section-content > ul > li > a .details .progress-area .state-bar .d-day {
            position: absolute;
            top: -46px;
            right: -18px;
            font-size: 13px;
            color: #fff;
            display: inline-block;
            width: 35px;
            height: 42px;
            line-height: 38px;
            font-weight: bold;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            background-image: url(/assets/images/main/bg_d_day.png);
            background-repeat: no-repeat;
            background-size: 35px 42px;
            background-position: 0 0; }
      .campaign-list .section-content > ul > li > a .details h4 {
        font-size: 16px;
        color: #111; }
        .campaign-list .section-content > ul > li > a .details h4 small {
          display: block;
          font-size: 13px;
          color: #555;
          margin-bottom: 10px; }
      .campaign-list .section-content > ul > li > a .details .more {
        display: none; }
  .campaign-list .section-content > ul > li ~ li a {
    margin-top: 10px; }
  .campaign-list .section-content .btn-area {
    margin-top: 20px; }
    .campaign-list .section-content .btn-area p .btn-gray {
      display: inline-block;
      width: 100%;
      height: 50px;
      font-size: 13px;
      color: #555;
      padding: 0;
      text-align: center;
      line-height: 48px;
      border: 1px solid #dfdfdf;
      border-radius: 0;
      background-color: #f8f8f8; }
  @media (min-width: 768px) {
    .campaign-list {
      padding: 60px 0; }
      .campaign-list h3 {
        font-size: 35px;
        margin-bottom: 40px; }
      .campaign-list .section-content > ul > li > a .item .ongoing {
        width: 90px;
        font-size: 14px;
        line-height: 35px; }
      .campaign-list .section-content > ul > li > a .details {
        padding: 40px 0 40px; }
        .campaign-list .section-content > ul > li > a .details h4 {
          font-size: 20px; }
          .campaign-list .section-content > ul > li > a .details h4 small {
            font-size: 15px;
            margin-bottom: 15px; }
      .campaign-list .section-content > ul > li ~ li a {
        margin-top: 0; }
      .campaign-list .section-content > ul > li:nth-of-type(2) ~ li a {
        margin-top: 20px; }
      .campaign-list .section-content .btn-area {
        margin-top: 30px; }
        .campaign-list .section-content .btn-area p .btn-gray {
          font-size: 14px; } }
  @media (min-width: 1200px) {
    .campaign-list {
      padding: 100px 6%; }
      .campaign-list h3 {
        font-size: 50px; }
      .campaign-list .section-content > ul > li > a {
        margin-top: 0 !important;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .campaign-list .section-content > ul > li > a .item .ongoing {
          width: 100px;
          font-size: 15px;
          line-height: 40px; }
        .campaign-list .section-content > ul > li > a .details {
          height: 178px;
          padding: 60px 0 60px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .campaign-list .section-content > ul > li > a .details h4 {
            font-size: 20px; }
            .campaign-list .section-content > ul > li > a .details h4 small {
              font-size: 15px;
              margin-bottom: 15px; }
          .campaign-list .section-content > ul > li > a .details .more {
            width: 160px;
            line-height: 43px;
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            margin-top: 20px; }
        .campaign-list .section-content > ul > li > a:hover .details, .campaign-list .section-content > ul > li > a:focus .details {
          padding: 0;
          padding-top: 50px;
          border-color: #eb6100;
          background-color: #eb6100; }
          .campaign-list .section-content > ul > li > a:hover .details h4, .campaign-list .section-content > ul > li > a:focus .details h4 {
            color: #fff; }
            .campaign-list .section-content > ul > li > a:hover .details h4 small, .campaign-list .section-content > ul > li > a:focus .details h4 small {
              display: none; }
          .campaign-list .section-content > ul > li > a:hover .details .more, .campaign-list .section-content > ul > li > a:focus .details .more {
            display: inline-block; } }

.goodpeople-news {
  font-family: 'NanumSquare', sans-serif; }
  .goodpeople-news .slick-arrow {
    display: none !important; }
  .goodpeople-news .news a {
    position: relative;
    display: block; }
    .goodpeople-news .news a .item-img .img-fluid {
      width: 100%; }
    .goodpeople-news .news a .details {
      position: absolute;
      left: 20px;
      bottom: 20px; }
      .goodpeople-news .news a .details .news-label {
        width: 85px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #eb6100;
        margin-bottom: 15px; }
      .goodpeople-news .news a .details h3 {
        font-size: 16px;
        font-weight: 400;
        color: #fff; }
  @media (min-width: 768px) {
    .goodpeople-news .news a .details {
      left: 30px;
      bottom: 30px; }
      .goodpeople-news .news a .details .news-label {
        width: 110px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        margin-bottom: 20px; }
      .goodpeople-news .news a .details h3 {
        font-size: 20px; } }
  @media (min-width: 1200px) {
    .goodpeople-news .news a .details {
      left: 50px;
      bottom: 50px; } }
  @media (min-width: 1400px) {
    .goodpeople-news .news a .details h3 {
      font-size: 22px; } }

.campaign-review {
  padding: 20px 0;
  background-color: #fff; }
  .campaign-review .review-slide {
    position: relative; }
    .campaign-review .review-slide .review-details {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      .campaign-review .review-slide .review-details.review-1 {
        background-image: url(/assets/images/main/bg_campaign_review_sm.jpg); }
      .campaign-review .review-slide .review-details.review-2 {
        background-image: url(/assets/images/main/bg_campaign_review_sm.jpg); }
      .campaign-review .review-slide .review-details a {
        display: table;
        width: 100%; }
        .campaign-review .review-slide .review-details a .details {
          display: table-cell;
          vertical-align: middle; }
  @media (min-width: 768px) {
    .campaign-review .review-slide .review-details.review-1 {
      background-image: url(/assets/images/main/bg_campaign_review_lg.jpg); }
    .campaign-review .review-slide .review-details.review-2 {
      background-image: url(/assets/images/main/bg_campaign_review_lg.jpg); } }

/*# sourceMappingURL=main.css.map */
