@import 'common';

// 이용약관 및 개인정보처리 방침
.clause-common {
    article {
        font-size: 13px;
        color: #666;
        width: 100%;
        height: 500px;
        line-height: 20px;
        overflow-y: scroll;
        padding: 20px 10px;
        background-color: #f3f5fa;
        h2 {
            font-size: 13px;
            color: #333;
            font-weight: 400;
            margin-bottom: 50px;
        }
    }
    @media(min-width: $md) {
        article {
            padding: 30px;
            height: 900px;
            line-height: 26px;
            h2 {
                font-size: 14px;
                margin-bottom: 70px;
            }
        }
    }
    @media(min-width: $xl) {
        article {
            padding: 30px;
            height: 900px;
        }
    }
}

// 문의하기 쓰기
.inquiry-write {
    .write-wrap {
        .table-wrap {
            .table {
                tbody {
                    tr {
                        th {
                            &.necessary {
                                &:after {
                                    position: relative;
                                    top: 3px;
                                    content: " *";
                                    color: #eb6100;
                                }
                            }
                        }
                        td {
                            &.capcha, &.user-name{
                                .form-group {
                                    .form-control {
                                        width: 130px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .privacy {
            margin-top: 30px;
            h3 {
                font-size: 13px;
                color: #000;
                font-weight: 400;
            }
            .privacy-content {
                font-size: 12px;
                color: #666;
                line-height: 20px;
                width: 100%;
                height: 165px;
                margin: 15px 0; 
                padding: 15px;
                overflow-y: scroll;
                border: 1px solid #ccc;
            }
            label {
                font-size: 13px;
                color: #666;
                input {
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            p {
                .btn-md {
                    width: 49%;
                    height: 45px;
                    font-size: 13px;
                    line-height: 43px;
                    margin-right: 2%;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.btn-white {
                        color: #999;
                        border: 1px solid #999;
                    }
                    &.btn-black {
                        color: #111;
                        border: 1px solid #111;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .write-wrap {
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                &.capcha, &.user-name{
                                    .form-group {
                                        .form-control {
                                            width: 170px;
                                        }
                                    }
                                }
                                &.e-mail, &.contact {
                                    .form-group {
                                        .form-control {
                                            width: 290px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .privacy {
                margin-top: 50px;
                h3 {
                    font-size: 14px;
                }
                .privacy-content {
                    font-size: 13px;
                    color: #666;
                    line-height: 26px;
                    width: 100%;
                    height: 160px;
                    padding: 20px;
                    margin: 20px 0;
                }
                label {
                    input {
                        top: 2px;
                    }
                }
            }
            .btn-area {
                margin-top: 50px;
                text-align: right;
                p {
                    .btn-md {
                        width: 170px;
                        font-size: 14px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .write-wrap {
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                &.e-mail, &.contact {
                                    .form-group {
                                        .form-control {
                                            width: 370px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 비회원 문의 리스트
.inquiry-list {
    /*.search-form {
        margin-bottom: 25px;
    }*/
    .board-list-2 {
        padding-top: 15px;
        border-top: 2px solid #eb6100;
        @media(min-width: $md) {
            padding-top: 30px;
        }
        @media(min-width: $lg) {
            padding-top: 18px;
        }
    }
    .btn-area {
        margin-top: 30px;
        text-align: right;
    }
    .paging {
        margin-top: 30px;
    }
    @media(min-width: $md) {
        /*.search-form {
            margin-bottom: 40px;
        }*/
        .btn-area {
            margin-top: 30px;
            p {
                .btn-md {
                    width: 170px;
                }
            }
        }
    }
}

// 소식지
.news-list {
    padding-top: 70px;
    @media(min-width: $md) {
        padding-top: 100px;
    }
    @media(min-width: $xl) {
        padding-top: 120px;
    }
}

// 비밀번호 확인
.pw-confirm {
    .pw-form {
        text-align: center;
        padding: 40px 10px;
        border: 1px solid #ccc;
        .form {
            figure {
                .img-fluid {
                    width: 55px;
                }
                figcaption {
                    margin-bottom: 30px;
                    h4 {
                        font-size: 20px;
                        color: #111;
                        font-weight: 300;
                        margin: 20px 0;
                    }
                    p {
                        font-size: 13px;
                        color: #666;
                        line-height: 22px;
                    }
                }
            }
            .form-group {
                .form-control {
                    border: 1px solid #f3f5fa;
                    background-color: #f3f5fa;
                }
            }
            .btn-area {
                margin-top: 10px;
                p {
                    .btn-orange {
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        color: #fff;
                        line-height: 40px;
                        @include transition();
                        background-color: #eb6100;
                        &:hover/*, &:focus*/ {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .pw-form {
            padding: 85px 0;
            .form {
                overflow: hidden;
                width: 430px;
                margin: 0 auto;
                figure {
                    margin-bottom: 50px;
                    .img-fluid {
                        width: 71px;
                    }
                    figcaption {
                        h4 {
                            font-size: 27px;
                            margin: 30px 0 25px;
                        }
                        p {
                            line-height: 24px;
                        }
                    }
                }
                .form-group {
                    float: left;
                    width: 280px;
                    margin-right: 10px;
                    .form-control {
                        height: 50px;
                    }
                }
                .btn-area {
                    margin: 0;
                    float: left;
                    width: 140px;
                    p {
                        .btn-orange {
                            font-size: 16px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .pw-form {
            padding: 100px 0;
        }
    }
}
































