@import 'common';

// 이용약관 및 개인정보처리 방침
.clause-common {
    article {
        font-size: 13px;
        color: #666;
        width: 100%;
        height: 500px;
        line-height: 20px;
        overflow-y: scroll;
        padding: 20px 10px;
        background-color: #f3f5fa;
        h2 {
            font-size: 13px;
            color: #333;
            font-weight: 400;
            margin-bottom: 50px;
        }
    }
    @media(min-width: $md) {
        article {
            padding: 30px;
            height: 900px;
            line-height: 26px;
            h2 {
                font-size: 14px;
                margin-bottom: 70px;
            }
        }
    }
    @media(min-width: $xl) {
        article {
            padding: 30px;
            height: 900px;
        }
    }
}

// 문의하기 쓰기
.inquiry-write {
    .write-wrap {
        .table-wrap {
            .table {
                tbody {
                    tr {
                        th {
                            &.necessary {
                                &:after {
                                    position: relative;
                                    top: 3px;
                                    content: " *";
                                    color: #eb6100;
                                }
                            }
                        }
                        td {
                            &.capcha, &.user-name{
                                .form-group {
                                    .form-control {
                                        width: 130px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .privacy {
            margin-top: 30px;
            h3 {
                font-size: 13px;
                color: #000;
                font-weight: 400;
            }
            .privacy-content {
                font-size: 12px;
                color: #666;
                line-height: 20px;
                width: 100%;
                height: 165px;
                margin: 15px 0; 
                padding: 15px;
                overflow-y: scroll;
                border: 1px solid #ccc;
            }
            label {
                font-size: 13px;
                color: #666;
                input {
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            p {
                .btn-md {
                    width: 49%;
                    height: 45px;
                    font-size: 13px;
                    line-height: 43px;
                    margin-right: 2%;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.btn-white {
                        color: #999;
                        border: 1px solid #999;
                    }
                    &.btn-black {
                        color: #111;
                        border: 1px solid #111;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .write-wrap {
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                &.capcha, &.user-name{
                                    .form-group {
                                        .form-control {
                                            width: 170px;
                                        }
                                    }
                                }
                                &.e-mail, &.contact {
                                    .form-group {
                                        .form-control {
                                            width: 290px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .privacy {
                margin-top: 50px;
                h3 {
                    font-size: 14px;
                }
                .privacy-content {
                    font-size: 13px;
                    color: #666;
                    line-height: 26px;
                    width: 100%;
                    height: 160px;
                    padding: 20px;
                    margin: 20px 0;
                }
                label {
                    input {
                        top: 2px;
                    }
                }
            }
            .btn-area {
                margin-top: 50px;
                text-align: right;
                p {
                    .btn-md {
                        width: 170px;
                        font-size: 14px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .write-wrap {
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                &.e-mail, &.contact {
                                    .form-group {
                                        .form-control {
                                            width: 370px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 비회원 문의 리스트
.inquiry-list {
    .search-form {
        margin-bottom: 25px;
    }
    .btn-area {
        margin-top: 30px;
        text-align: right;
    }
    .paging {
        margin-top: 30px;
    }
    @media(min-width: $md) {
        .search-form {
            margin-bottom: 40px;
        }
        .btn-area {
            margin-top: 30px;
            p {
                .btn-md {
                    width: 170px;
                }
            }
        }
    }
}















































