@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.clause-common article {
  font-size: 13px;
  color: #666;
  width: 100%;
  height: 500px;
  line-height: 20px;
  overflow-y: scroll;
  padding: 20px 10px;
  background-color: #f3f5fa; }
  .clause-common article h2 {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    margin-bottom: 50px; }
@media (min-width: 768px) {
  .clause-common article {
    padding: 30px;
    height: 900px;
    line-height: 26px; }
    .clause-common article h2 {
      font-size: 14px;
      margin-bottom: 70px; } }
@media (min-width: 1200px) {
  .clause-common article {
    padding: 30px;
    height: 900px; } }

.inquiry-write .write-wrap .table-wrap .table tbody tr th.necessary:after {
  position: relative;
  top: 3px;
  content: " *";
  color: #eb6100; }
.inquiry-write .write-wrap .table-wrap .table tbody tr td.capcha .form-group .form-control, .inquiry-write .write-wrap .table-wrap .table tbody tr td.user-name .form-group .form-control {
  width: 130px; }
.inquiry-write .write-wrap .privacy {
  margin-top: 30px; }
  .inquiry-write .write-wrap .privacy h3 {
    font-size: 13px;
    color: #000;
    font-weight: 400; }
  .inquiry-write .write-wrap .privacy .privacy-content {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    width: 100%;
    height: 165px;
    margin: 15px 0;
    padding: 15px;
    overflow-y: scroll;
    border: 1px solid #ccc; }
  .inquiry-write .write-wrap .privacy label {
    font-size: 13px;
    color: #666; }
    .inquiry-write .write-wrap .privacy label input {
      position: relative;
      top: 1px;
      margin-right: 5px; }
.inquiry-write .write-wrap .btn-area {
  margin-top: 30px; }
  .inquiry-write .write-wrap .btn-area p .btn-md {
    width: 49%;
    height: 45px;
    font-size: 13px;
    line-height: 43px;
    margin-right: 2%; }
    .inquiry-write .write-wrap .btn-area p .btn-md:last-child {
      margin-right: 0; }
    .inquiry-write .write-wrap .btn-area p .btn-md.btn-white {
      color: #999;
      border: 1px solid #999; }
    .inquiry-write .write-wrap .btn-area p .btn-md.btn-black {
      color: #111;
      border: 1px solid #111; }
@media (min-width: 768px) {
  .inquiry-write .write-wrap .table-wrap .table tbody tr td.capcha .form-group .form-control, .inquiry-write .write-wrap .table-wrap .table tbody tr td.user-name .form-group .form-control {
    width: 170px; }
  .inquiry-write .write-wrap .table-wrap .table tbody tr td.e-mail .form-group .form-control, .inquiry-write .write-wrap .table-wrap .table tbody tr td.contact .form-group .form-control {
    width: 290px; }
  .inquiry-write .write-wrap .privacy {
    margin-top: 50px; }
    .inquiry-write .write-wrap .privacy h3 {
      font-size: 14px; }
    .inquiry-write .write-wrap .privacy .privacy-content {
      font-size: 13px;
      color: #666;
      line-height: 26px;
      width: 100%;
      height: 160px;
      padding: 20px;
      margin: 20px 0; }
    .inquiry-write .write-wrap .privacy label input {
      top: 2px; }
  .inquiry-write .write-wrap .btn-area {
    margin-top: 50px;
    text-align: right; }
    .inquiry-write .write-wrap .btn-area p .btn-md {
      width: 170px;
      font-size: 14px;
      margin-right: 10px; }
      .inquiry-write .write-wrap .btn-area p .btn-md:last-child {
        margin-right: 0; } }
@media (min-width: 992px) {
  .inquiry-write .write-wrap .table-wrap .table tbody tr td.e-mail .form-group .form-control, .inquiry-write .write-wrap .table-wrap .table tbody tr td.contact .form-group .form-control {
    width: 370px; } }

.inquiry-list .search-form {
  margin-bottom: 25px; }
.inquiry-list .btn-area {
  margin-top: 30px;
  text-align: right; }
.inquiry-list .paging {
  margin-top: 30px; }
@media (min-width: 768px) {
  .inquiry-list .search-form {
    margin-bottom: 40px; }
  .inquiry-list .btn-area {
    margin-top: 30px; }
    .inquiry-list .btn-area p .btn-md {
      width: 170px; } }

.news-list {
  padding-top: 70px; }
  @media (min-width: 768px) {
    .news-list {
      padding-top: 100px; } }
  @media (min-width: 1200px) {
    .news-list {
      padding-top: 120px; } }

.pw-confirm .pw-form {
  text-align: center;
  padding: 40px 10px;
  border: 1px solid #ccc; }
  .pw-confirm .pw-form .form figure .img-fluid {
    width: 55px; }
  .pw-confirm .pw-form .form figure figcaption {
    margin-bottom: 30px; }
    .pw-confirm .pw-form .form figure figcaption h4 {
      font-size: 20px;
      color: #111;
      font-weight: 300;
      margin: 20px 0; }
    .pw-confirm .pw-form .form figure figcaption p {
      font-size: 13px;
      color: #666;
      line-height: 22px; }
  .pw-confirm .pw-form .form .form-group .form-control {
    border: 1px solid #f3f5fa;
    background-color: #f3f5fa; }
  .pw-confirm .pw-form .form .btn-area {
    margin-top: 10px; }
    .pw-confirm .pw-form .form .btn-area p .btn-orange {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: #fff;
      line-height: 40px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      background-color: #eb6100; }
      .pw-confirm .pw-form .form .btn-area p .btn-orange:hover {
        opacity: .7; }
@media (min-width: 768px) {
  .pw-confirm .pw-form {
    padding: 85px 0; }
    .pw-confirm .pw-form .form {
      overflow: hidden;
      width: 430px;
      margin: 0 auto; }
      .pw-confirm .pw-form .form figure {
        margin-bottom: 50px; }
        .pw-confirm .pw-form .form figure .img-fluid {
          width: 71px; }
        .pw-confirm .pw-form .form figure figcaption h4 {
          font-size: 27px;
          margin: 30px 0 25px; }
        .pw-confirm .pw-form .form figure figcaption p {
          line-height: 24px; }
      .pw-confirm .pw-form .form .form-group {
        float: left;
        width: 280px;
        margin-right: 10px; }
        .pw-confirm .pw-form .form .form-group .form-control {
          height: 50px; }
      .pw-confirm .pw-form .form .btn-area {
        margin: 0;
        float: left;
        width: 140px; }
        .pw-confirm .pw-form .form .btn-area p .btn-orange {
          font-size: 16px;
          line-height: 50px; } }
@media (min-width: 1200px) {
  .pw-confirm .pw-form {
    padding: 100px 0; } }

/*# sourceMappingURL=policy.css.map */
