@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.sub-tab-list {
  margin-top: 40px; }
  .sub-tab-list ul {
    font-size: 0; }
    .sub-tab-list ul li {
      display: inline-block;
      width: 50%; }
      .sub-tab-list ul li a {
        display: block;
        font-size: 14px;
        text-align: center;
        color: #999;
        line-height: 38px;
        height: 40px;
        border: 1px solid #ccc; }
      .sub-tab-list ul li:last-child a {
        border-left: 0; }
      .sub-tab-list ul li.active a {
        color: #fff;
        border-color: #eb6100;
        background-color: #eb6100; }
  @media (min-width: 768px) {
    .sub-tab-list {
      margin-top: 60px;
      text-align: center; }
      .sub-tab-list ul {
        display: inline-block;
        width: 570px; }
        .sub-tab-list ul li a {
          font-size: 16px;
          line-height: 48px;
          height: 50px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .sub-tab-list ul li a:hover, .sub-tab-list ul li a:focus {
            opacity: .8;
            border: 1px solid #eb6100;
            background-color: #eb6100;
            color: #fff; }
        .sub-tab-list ul li.active a:hover, .sub-tab-list ul li.active a:focus {
          opacity: 1 !important; } }

.share-partner .page-intro {
  padding-top: 35px; }
  .share-partner .page-intro > p {
    font-size: 13px;
    color: #222;
    line-height: 22px; }
  .share-partner .page-intro figure {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #f5f5f5; }
    .share-partner .page-intro figure img {
      display: block;
      margin: 0 auto; }
  @media (min-width: 768px) {
    .share-partner .page-intro {
      padding-top: 50px; }
      .share-partner .page-intro > p {
        font-size: 14px;
        line-height: 26px; }
      .share-partner .page-intro figure {
        padding-top: 50px;
        padding-bottom: 80px; } }
  @media (min-width: 1200px) {
    .share-partner .page-intro {
      padding-top: 70px; }
      .share-partner .page-intro figure {
        padding-top: 70px;
        padding-bottom: 60px; } }
.share-partner .notify {
  margin-top: 40px; }
  .share-partner .notify li ~ li {
    margin-top: 30px; }
  .share-partner .notify li dl dt {
    font-size: 16px;
    color: #ed7f31;
    font-weight: 400; }
  .share-partner .notify li dl dd {
    font-size: 13px;
    color: #666;
    line-height: 22px;
    margin-top: 15px; }
  @media (min-width: 768px) {
    .share-partner .notify {
      margin-top: 50px; }
      .share-partner .notify li ~ li {
        margin-top: 50px; }
      .share-partner .notify li dl dt {
        font-size: 18px; }
      .share-partner .notify li dl dd {
        font-size: 14px;
        line-height: 26px; } }
  @media (min-width: 1200px) {
    .share-partner .notify {
      margin-top: 60px; } }
.share-partner .btn-area {
  margin-top: 50px; }
  .share-partner .btn-area p .btn.btn-default {
    width: 100%;
    height: 45px;
    text-align: center;
    border: 1px solid #5b5b5b;
    line-height: 43px; }
  @media (min-width: 768px) {
    .share-partner .btn-area p .btn.btn-default {
      width: 250px;
      line-height: 43px; } }
.share-partner .ask {
  margin-top: 20px;
  padding-bottom: 80px; }
  .share-partner .ask li {
    font-size: 0;
    font-size: 13px;
    color: #666; }
    .share-partner .ask li:before {
      display: inline-block;
      font-family: "fontello";
      font-size: 15px;
      color: #666;
      margin-right: 10px; }
    .share-partner .ask li:first-child:before {
      display: inline-block;
      content: "\E814"; }
    .share-partner .ask li:nth-of-type(2):before {
      content: "\E815"; }
    .share-partner .ask li dl {
      font-size: 0;
      display: inline-block; }
      .share-partner .ask li dl dt {
        display: inline-block;
        font-size: 13px;
        color: #666;
        font-weight: 400; }
        .share-partner .ask li dl dt:after {
          content: ":";
          margin: 0 3px; }
      .share-partner .ask li dl dd {
        display: inline-block;
        font-size: 13px; }

.partner-list .tab-sponser {
  padding-top: 50px; }
  .partner-list .tab-sponser ul > li:nth-of-type(2) ~ li .sponsor-company {
    margin-top: 30px; }
  .partner-list .tab-sponser ul > li .sponsor-company {
    text-align: center; }
    .partner-list .tab-sponser ul > li .sponsor-company .item {
      border: 1px solid #ddd; }
    .partner-list .tab-sponser ul > li .sponsor-company > p {
      font-size: 16px;
      color: #666;
      margin-top: 15px;
      font-family: 'NanumSquare', sans-serif; }
  .partner-list .tab-sponser .paging {
    margin-top: 80px; }
@media (min-width: 768px) {
  .partner-list .tab-sponser {
    padding-top: 100px; }
    .partner-list .tab-sponser ul > li:nth-of-type(2) ~ li .sponsor-company {
      margin-top: 0; }
    .partner-list .tab-sponser ul > li:nth-of-type(3) ~ li .sponsor-company {
      margin-top: 45px; }
    .partner-list .tab-sponser ul > li .sponsor-company > p {
      font-size: 18px;
      margin-top: 20px; }
    .partner-list .tab-sponser .paging {
      margin-top: 95px; } }
@media (min-width: 1200px) {
  .partner-list .tab-sponser ul > li:nth-of-type(3) ~ li .sponsor-company {
    margin-top: 0; }
  .partner-list .tab-sponser ul > li:nth-of-type(4) ~ li .sponsor-company {
    margin-top: 40px !important; }
  .partner-list .tab-sponser ul > li .sponsor-company > p {
    font-size: 16px; }
  .partner-list .tab-sponser .paging {
    margin-top: 75px; } }

.share-store .board-list-1 {
  margin-top: 40px; }
  .share-store .board-list-1 ul li {
    padding-bottom: 70px; }
.share-store .paging {
  margin-top: 30px; }
@media (min-width: 768px) {
  .share-store .board-list-1 {
    margin-top: 45px; }
    .share-store .board-list-1 ul li {
      padding-bottom: 50px; }
  .share-store .paging {
    margin-top: 50px; } }
@media (min-width: 1200px) {
  .share-store .board-list-1 {
    margin-top: 110px; }
    .share-store .board-list-1 ul li {
      padding-bottom: 40px; } }

.honors-member .members {
  margin-top: 50px; }
  .honors-member .members > ul > li ~ li a {
    margin-top: 60px; }
  .honors-member .members > ul > li a {
    display: block; }
    .honors-member .members > ul > li a figure img {
      width: 100%; }
    .honors-member .members > ul > li a figure figcaption {
      font-size: 13px;
      color: #666;
      line-height: 24px;
      text-align: center;
      padding: 20px 0; }
      .honors-member .members > ul > li a figure figcaption > p {
        font-size: 14px;
        color: #333;
        font-weight: 400; }
        .honors-member .members > ul > li a figure figcaption > p i {
          margin-right: 5px; }
    .honors-member .members > ul > li a:focus figure figcaption {
      color: #fff;
      background-color: #eb6100;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .honors-member .members > ul > li a:focus figure figcaption p {
        color: #fff; }
  .honors-member .members .paging {
    margin-top: 50px; }
@media (min-width: 768px) {
  .honors-member .members {
    margin-top: 80px; }
    .honors-member .members > ul > li ~ li a {
      margin-top: 0; }
    .honors-member .members > ul > li:nth-of-type(3) ~ li a {
      margin-top: 80px; }
    .honors-member .members > ul > li a:hover figure figcaption {
      color: #fff;
      background-color: #eb6100;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .honors-member .members > ul > li a:hover figure figcaption p {
        color: #fff; }
    .honors-member .members > ul > li a figure figcaption {
      font-size: 14px;
      line-height: 30px;
      padding: 15px 0; }
      .honors-member .members > ul > li a figure figcaption > p {
        font-size: 16px; }
    .honors-member .members .paging {
      margin-top: 60px; } }
@media (min-width: 1200px) {
  .honors-member .members > ul > li:nth-of-type(3) ~ li a {
    margin-top: 0; }
  .honors-member .members > ul > li:nth-of-type(4) ~ li a {
    margin-top: 70px; }
  .honors-member .members > ul > li a figure figcaption {
    padding: 20px 0; }
  .honors-member .members .paging {
    margin-top: 80px; } }

/********** video-modal popup **********/
.modal-open {
  padding-right: 0 !important; }

.video-modal {
  padding-left: 10px !important;
  padding-bottom: 150px;
  padding-right: 10px !important;
  background-color: rgba(0, 0, 0, 0.6); }
  .video-modal .modal-dialog {
    max-width: 635px !important;
    margin: 50px auto 0; }
    .video-modal .modal-dialog .modal-content {
      padding: 0 10px;
      border-radius: 0;
      border-bottom: 0; }
      .video-modal .modal-dialog .modal-content .modal-header {
        overflow: hidden;
        padding: 20px 0 15px; }
        .video-modal .modal-dialog .modal-content .modal-header .modal-title {
          font-size: 16px;
          color: #333;
          font-weight: 400; }
        .video-modal .modal-dialog .modal-content .modal-header .close {
          overflow: hidden;
          float: right;
          display: block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          padding: 0;
          margin: 0;
          opacity: 1; }
          .video-modal .modal-dialog .modal-content .modal-header .close span {
            position: relative;
            top: -3px;
            text-align: right; }
          .video-modal .modal-dialog .modal-content .modal-header .close:hover, .video-modal .modal-dialog .modal-content .modal-header .close:focus {
            opacity: .7; }
      .video-modal .modal-dialog .modal-content .modal-body {
        padding: 0 0 70px;
        border-bottom: 0; }
        .video-modal .modal-dialog .modal-content .modal-body .comment {
          overflow-y: scroll;
          height: 185px;
          margin-top: 20px;
          padding: 15px 10px 30px;
          background-color: #ededed; }
          .video-modal .modal-dialog .modal-content .modal-body .comment > p {
            font-size: 13px;
            line-height: 24px;
            color: #666; }
        .video-modal .modal-dialog .modal-content .modal-body .latest-news {
          margin-top: 40px; }
          .video-modal .modal-dialog .modal-content .modal-body .latest-news > h5 {
            font-size: 16px;
            color: #333;
            font-weight: 400;
            margin-bottom: 15px; }
          .video-modal .modal-dialog .modal-content .modal-body .latest-news ul {
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa; }
            .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li {
              position: relative;
              padding: 20px 15px;
              border-bottom: 1px solid #dfdfdf; }
              .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li:last-child {
                border-bottom: 0; }
              .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li a {
                display: block;
                font-size: 13px;
                color: #222;
                line-height: 19px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li > span {
                position: absolute;
                top: 20px;
                right: 25px;
                display: block;
                font-size: 14px;
                color: #555;
                font-family: 'Roboto', sans-serif; }
  @media (min-width: 768px) {
    .video-modal .modal-dialog {
      margin: 100px auto 0; }
      .video-modal .modal-dialog .modal-content {
        padding: 0 30px; }
        .video-modal .modal-dialog .modal-content .modal-header {
          padding: 25px 0 20px; }
          .video-modal .modal-dialog .modal-content .modal-header .modal-title {
            font-size: 18px; }
          .video-modal .modal-dialog .modal-content .modal-header .close {
            width: 27px;
            height: 27px;
            line-height: 27px; }
        .video-modal .modal-dialog .modal-content .modal-body {
          padding: 0 0 105px; }
          .video-modal .modal-dialog .modal-content .modal-body .comment {
            padding: 20px 25px 20px; }
            .video-modal .modal-dialog .modal-content .modal-body .comment > p {
              font-size: 14px;
              line-height: 26px; }
          .video-modal .modal-dialog .modal-content .modal-body .latest-news {
            margin-top: 45px; }
            .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li a {
              padding-right: 105px;
              font-size: 14px; } }
  @media (min-width: 1200px) {
    .video-modal .modal-dialog .modal-content .modal-body .latest-news ul li a {
      font-size: 14px; } }

.honors-club {
  padding-bottom: 0 !important; }
  .honors-club .join-condition .section-header {
    text-align: center;
    padding: 50px 0 35px; }
    .honors-club .join-condition .section-header h3 {
      font-size: 20px;
      color: #222;
      font-weight: 300; }
    .honors-club .join-condition .section-header > p {
      font-size: 13px;
      color: #999;
      line-height: 24px;
      margin-top: 20px; }
  .honors-club .join-condition .section-content {
    padding-bottom: 80px; }
    .honors-club .join-condition .section-content .row > li ~ li .info {
      margin-top: 20px; }
    .honors-club .join-condition .section-content .row > li:first-child .info {
      background-image: url(/assets/images/sponser/bg_join_condition01.png);
      background-repeat: no-repeat;
      background-size: 96px auto;
      background-position: 50% 140px; }
    .honors-club .join-condition .section-content .row > li:nth-of-type(2) .info {
      background-image: url(/assets/images/sponser/bg_join_condition02.png);
      background-repeat: no-repeat;
      background-size: 108px auto;
      background-position: 50% 155px; }
    .honors-club .join-condition .section-content .row > li .info {
      text-align: center;
      padding-top: 40px;
      height: 320px;
      border: 1px solid #e7e7e7; }
      .honors-club .join-condition .section-content .row > li .info h4 {
        width: 125px;
        height: 35px;
        font-size: 16px;
        color: #fff;
        line-height: 35px;
        border-radius: 30px;
        margin: 0 auto;
        background-color: #e9193a; }
      .honors-club .join-condition .section-content .row > li .info p {
        font-size: 15px;
        color: #222;
        margin-top: 25px; }
  @media (min-width: 768px) {
    .honors-club .join-condition .section-header {
      padding: 60px 0 50px; }
      .honors-club .join-condition .section-header h3 {
        font-size: 26px; }
      .honors-club .join-condition .section-header > p {
        font-size: 15px;
        line-height: 25px;
        margin-top: 25px; }
    .honors-club .join-condition .section-content {
      padding-bottom: 90px; }
      .honors-club .join-condition .section-content .row > li ~ li .info {
        margin-top: 0; }
      .honors-club .join-condition .section-content .row > li:first-child .info {
        background-size: 120px auto;
        background-position: 50% 150px; }
      .honors-club .join-condition .section-content .row > li:nth-of-type(2) .info {
        background-size: 160px auto;
        background-position: 50% 150px; }
      .honors-club .join-condition .section-content .row > li .info {
        padding-top: 40px;
        height: 375px; }
        .honors-club .join-condition .section-content .row > li .info p {
          font-size: 17px; } }
  @media (min-width: 1200px) {
    .honors-club .join-condition .section-header {
      padding: 70px 0 60px; }
    .honors-club .join-condition .section-content {
      padding-bottom: 105px; }
      .honors-club .join-condition .section-content .row > li:first-child .info {
        background-size: 165px auto;
        background-position: 50% 160px; }
      .honors-club .join-condition .section-content .row > li:nth-of-type(2) .info {
        background-size: 180px auto;
        background-position: 50% 200px; }
      .honors-club .join-condition .section-content .row > li .info {
        padding-top: 50px;
        height: 480px; }
        .honors-club .join-condition .section-content .row > li .info p {
          font-size: 18px; } }
  .honors-club .respect {
    background-color: #f7f7f7; }
    .honors-club .respect .section-header {
      text-align: center;
      padding: 70px 0 35px; }
      .honors-club .respect .section-header h3 {
        font-size: 20px;
        color: #222;
        font-weight: 300; }
      .honors-club .respect .section-header > p {
        font-size: 13px;
        color: #999;
        line-height: 24px;
        margin-top: 20px; }
    .honors-club .respect .section-content {
      padding-bottom: 90px; }
      .honors-club .respect .section-content > .row li {
        display: table; }
        .honors-club .respect .section-content > .row li ~ li {
          margin-top: 10px; }
        .honors-club .respect .section-content > .row li figure {
          display: table-cell;
          height: 220px;
          text-align: center;
          vertical-align: middle;
          background-color: #fff;
          box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.03); }
          .honors-club .respect .section-content > .row li figure figcaption {
            font-size: 15px;
            color: #333;
            line-height: 24px;
            margin-top: 20px; }
    @media (min-width: 768px) {
      .honors-club .respect .section-header {
        padding: 80px 0 45px; }
        .honors-club .respect .section-header h3 {
          font-size: 24px; }
        .honors-club .respect .section-header > p {
          font-size: 15px;
          line-height: 26px; }
      .honors-club .respect .section-content {
        padding-bottom: 115px; }
        .honors-club .respect .section-content > .row li ~ li {
          margin-top: 0; }
        .honors-club .respect .section-content > .row li:nth-of-type(3) ~ li {
          margin-top: 20px; } }
    @media (min-width: 1200px) {
      .honors-club .respect .section-header {
        padding: 90px 0 60px; }
      .honors-club .respect .section-content {
        padding-bottom: 160px; }
        .honors-club .respect .section-content > .row li:nth-of-type(3) ~ li {
          margin-top: 50px; } }

.regular-sponsor {
  padding-bottom: 0 !important; }
  .regular-sponsor .use .article-header {
    margin-bottom: 20px; }
    .regular-sponsor .use .article-header .vertical-board {
      position: relative;
      height: 50px;
      padding: 0 20px 0 50px;
      vertical-align: top;
      border: 1px solid #e0e0e0; }
      .regular-sponsor .use .article-header .vertical-board li {
        border: 0; }
        .regular-sponsor .use .article-header .vertical-board li a {
          display: block;
          font-size: 13px;
          color: #666;
          overflow: hidden;
          margin: 14px 0 13px;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .regular-sponsor .use .article-header .vertical-board li a b {
            font-size: 14px;
            color: #333;
            font-weight: 400; }
      .regular-sponsor .use .article-header .vertical-board .slick-arrow {
        position: absolute;
        left: 20px;
        font-size: 15px;
        color: #666;
        width: 20px;
        height: 20px;
        display: inline-block !important;
        border: 0;
        cursor: pointer;
        background: none; }
        .regular-sponsor .use .article-header .vertical-board .slick-arrow:before {
          margin: 0;
          padding: 0;
          left: 20px;
          width: 20px; }
        .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-up-open-1 {
          top: 5px; }
          .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-up-open-1:before {
            position: relative;
            top: -3px;
            left: 0; }
        .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-down-open-1 {
          top: 25px; }
    @media (min-width: 768px) {
      .regular-sponsor .use .article-header {
        margin-bottom: 45px; }
        .regular-sponsor .use .article-header .vertical-board {
          height: 60px;
          padding: 0 190px 0 60px;
          background-image: url(/assets/images/sponser/bg_vertical_board.jpg);
          background-repeat: no-repeat;
          background-position: 99% 100%;
          background-size: 100px auto; }
          .regular-sponsor .use .article-header .vertical-board li a {
            font-size: 15px;
            margin: 17px 0;
            padding-left: 2px; }
            .regular-sponsor .use .article-header .vertical-board li a:before {
              color: #eb6101;
              font-family: "fontello";
              content: "\E816";
              margin-right: 5px; }
            .regular-sponsor .use .article-header .vertical-board li a b {
              font-size: 16px; }
          .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-up-open-1 {
            top: 10px; }
            .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-up-open-1:before {
              top: -5px; }
          .regular-sponsor .use .article-header .vertical-board .slick-arrow.icon-down-open-1 {
            top: 30px; } }
    @media (min-width: 1200px) {
      .regular-sponsor .use .article-header .vertical-board {
        padding-right: 200px;
        background-position: 95% 100%;
        background-size: 132px auto; } }
  .regular-sponsor .use .bg-regular {
    width: 100%;
    padding: 50px 30px;
    text-align: center;
    background-image: url(/assets/images/sponser/bg_regular.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .regular-sponsor .use .bg-regular strong {
      font-size: 24px;
      color: #eb6100; }
    .regular-sponsor .use .bg-regular > p {
      font-size: 13px;
      color: #fff;
      line-height: 24px;
      margin-top: 30px; }
    .regular-sponsor .use .bg-regular .btn-area {
      margin-top: 40px; }
      .regular-sponsor .use .bg-regular .btn-area p .btn {
        width: 200px;
        line-height: 50px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        border: 1px solid #fff; }
        .regular-sponsor .use .bg-regular .btn-area p .btn:hover, .regular-sponsor .use .bg-regular .btn-area p .btn:focus {
          background-color: #eb6100;
          border-color: #eb6100;
          opacity: 1; }
  .regular-sponsor .use .info {
    padding: 65px 0 55px;
    border-bottom: 1px solid #b2b2b2; }
    .regular-sponsor .use .info h4 {
      font-size: 20px;
      color: #ff5442;
      font-weight: 400;
      padding-left: 40px;
      background-image: url(/assets/images/sponser/bg_info_title.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0; }
    .regular-sponsor .use .info > p {
      font-size: 13px;
      color: #666;
      line-height: 26px;
      margin-top: 35px; }
    .regular-sponsor .use .info > b {
      display: block;
      font-size: 13px;
      color: #333;
      line-height: 26px;
      margin-top: 30px; }
  @media (min-width: 768px) {
    .regular-sponsor .use .bg-regular {
      padding: 70px 0 75px 40px;
      text-align: left; }
      .regular-sponsor .use .bg-regular strong {
        font-size: 30px; }
      .regular-sponsor .use .bg-regular > p {
        font-size: 15px;
        margin-top: 25px; }
      .regular-sponsor .use .bg-regular .btn-area {
        margin-top: 35px; }
        .regular-sponsor .use .bg-regular .btn-area p .btn {
          line-height: 52px; }
    .regular-sponsor .use .info {
      padding: 55px 0 60px;
      border-bottom: 1px solid #ccc; }
      .regular-sponsor .use .info h4 {
        font-size: 26px;
        padding-left: 50px; }
      .regular-sponsor .use .info > p {
        font-size: 16px;
        margin-top: 30px; }
      .regular-sponsor .use .info > b {
        font-size: 16px;
        margin-top: 35px; } }
  @media (min-width: 1200px) {
    .regular-sponsor .use .bg-regular {
      padding-left: 95px; }
      .regular-sponsor .use .bg-regular .btn-area {
        margin-top: 30px; }
    .regular-sponsor .use .info {
      padding: 65px 0 55px; }
      .regular-sponsor .use .info h4 {
        line-height: 36px;
        background-size: 36px 36px; } }
  .regular-sponsor .variety {
    margin-top: 30px;
    padding-bottom: 80px; }
    .regular-sponsor .variety ul li:last-child .row .col-12 .details {
      padding-bottom: 0; }
    .regular-sponsor .variety ul li .row .col-12 figure .img-fluid {
      display: block;
      width: 100%; }
    .regular-sponsor .variety ul li .row .col-12 .details {
      padding: 25px 0 50px; }
      .regular-sponsor .variety ul li .row .col-12 .details > div h4 {
        font-size: 20px;
        color: #eb6100;
        font-weight: 400; }
      .regular-sponsor .variety ul li .row .col-12 .details > div > p {
        font-size: 13px;
        color: #666;
        line-height: 22px;
        margin-top: 20px; }
    @media (min-width: 768px) {
      .regular-sponsor .variety {
        margin-top: 45px;
        padding-bottom: 115px; }
        .regular-sponsor .variety ul li .row .col-12.order-md-first {
          text-align: right; }
          .regular-sponsor .variety ul li .row .col-12.order-md-first .details {
            padding-left: 0;
            padding-right: 20px; }
        .regular-sponsor .variety ul li .row .col-12 figure {
          display: table-cell; }
          .regular-sponsor .variety ul li .row .col-12 figure .img-fluid {
            display: block;
            width: 100%; }
        .regular-sponsor .variety ul li .row .col-12 .details {
          display: table;
          width: 100%;
          height: 100%;
          padding: 0;
          padding-left: 25px; }
          .regular-sponsor .variety ul li .row .col-12 .details > div {
            display: table-cell;
            vertical-align: middle; }
            .regular-sponsor .variety ul li .row .col-12 .details > div h4 {
              font-size: 24px; }
            .regular-sponsor .variety ul li .row .col-12 .details > div > p {
              font-size: 14px;
              line-height: 24px;
              margin-top: 25px; } }
    @media (min-width: 1200px) {
      .regular-sponsor .variety {
        margin-top: 65px;
        padding-bottom: 110px; }
        .regular-sponsor .variety ul li .row .col-12.order-md-last figure {
          padding-right: 0;
          padding-left: 25px; }
        .regular-sponsor .variety ul li .row .col-12 figure {
          padding-right: 25px; } }
  .regular-sponsor .benefit {
    text-align: center;
    padding: 70px 0;
    background-color: #f7f7f7; }
    .regular-sponsor .benefit h4 {
      font-size: 20px;
      color: #222;
      font-weight: 400;
      margin-bottom: 60px; }
    .regular-sponsor .benefit ul li figure img {
      width: 100%;
      box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.03); }
    .regular-sponsor .benefit ul li .summary {
      padding-top: 20px;
      padding-bottom: 35px; }
      .regular-sponsor .benefit ul li .summary h5 {
        font-size: 16px;
        color: #eb6100; }
      .regular-sponsor .benefit ul li .summary p {
        font-size: 13px;
        color: #666;
        line-height: 24px; }
    @media (min-width: 768px) {
      .regular-sponsor .benefit {
        padding: 80px 0 110px; }
        .regular-sponsor .benefit h4 {
          font-size: 24px;
          margin-bottom: 50px; }
        .regular-sponsor .benefit ul li:nth-of-type(3) ~ li figure {
          padding-top: 50px; }
        .regular-sponsor .benefit ul li .summary {
          padding-top: 30px;
          padding-bottom: 0; }
          .regular-sponsor .benefit ul li .summary h5 {
            font-size: 18px; }
          .regular-sponsor .benefit ul li .summary p {
            font-size: 14px;
            margin-top: 15px; } }
    @media (min-width: 1200px) {
      .regular-sponsor .benefit {
        padding: 110px 0 150px; }
        .regular-sponsor .benefit h4 {
          margin-bottom: 60px; }
        .regular-sponsor .benefit ul li:nth-of-type(3) ~ li figure {
          padding-top: 70px; }
        .regular-sponsor .benefit ul li .summary {
          padding-top: 25px; } }

.temporary-sponsor ul li ~ li > div {
  margin-top: 10px; }
.temporary-sponsor ul li > div {
  padding-top: 70px;
  padding-bottom: 85px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .temporary-sponsor ul li > div h5 {
    font-size: 20px;
    color: #eb6101;
    margin-top: 30px; }
    .temporary-sponsor ul li > div h5 a {
      color: #eb6101; }
  .temporary-sponsor ul li > div > p {
    font-size: 13px;
    color: #fff;
    margin-top: 20px; }
  .temporary-sponsor ul li > div.homepage {
    background-image: url(/assets/images/sponser/bg_temporary01.gif); }
  .temporary-sponsor ul li > div.telephone {
    background-image: url(/assets/images/sponser/bg_temporary02.gif); }
@media (min-width: 768px) {
  .temporary-sponsor ul li > div h5 {
    font-size: 22px; }
  .temporary-sponsor ul li > div > p {
    font-size: 14px; } }
@media (min-width: 1200px) {
  .temporary-sponsor ul li ~ li > div {
    margin-top: 0; } }

/*# sourceMappingURL=sponsor.css.map */
