@import 'common';

.sponsor {
    .page-header {
        .page-summary {
            background-image: url(/assets/images/sponsor/bg_page_header_sm.jpg);
            @media(min-width: $md) {
                background-image: url(/assets/images/sponsor/bg_page_header_lg.jpg);
            }
        }
    }
}

.sub-tab-list {
    margin-top: 40px;
    ul {
        font-size: 0;
        li {
            display: inline-block;
            width: 50%;
            a {
                display: block;
                font-size: 14px;
                text-align: center;
                color: #999;
                line-height: 38px;
                height: 40px;
                border: 1px solid #ccc;
            }
            &:last-child {
                a {
                    border-left: 0;
                }
            }
            &.active {
                a {
                    color: #fff;
                    border-color: #eb6100;
                    background-color: #eb6100;
                }
            }
        }
    }
    @media(min-width: $md) {
        margin-top: 60px;
        text-align: center;
        ul {
            display: inline-block;
            width: 570px;
            li {
                a {
                    font-size: 16px;
                    line-height: 48px;
                    height: 50px;
                    @include transition();
                    &:hover, &:focus {
                        opacity: .8;
                        border: 1px solid #eb6100;
                        background-color: #eb6100;
                        color: #fff;
                    }
                }
                &.active {
                    a {
                        &:hover, &:focus {
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }
    }
}


//나눔파트너
.share-partner {
	.page-intro {
        text-align: center;
		padding-top: 35px;
        > h4 {
            font-size: 24px;
            color: #333;
            font-weight: 400;
            margin-bottom: 20px;
        }
		> p {
			font-size: 13px;
			color: #222;
			line-height: 22px;
            font-weight: 300;
            b {
                font-weight: 400;
                color: #eb6100;
            }
		}
        .method {
            margin-top: 50px;
			li {
				.box {
					.details {
						p {
							span {
								display: block;
								font-size: 12px;
							}
						}
					}
				}
			}
        }
		@media (min-width: $md) {
			padding-top: 50px;
			> p {
				font-size: 14px;
				line-height: 26px;
			}
            .method {
                li {
                    width: 33.33%;
                    &:after {
                        display: none;
                    }
                    &:nth-of-type(3) ~ li {
                        margin-top: 25px;
                    }
                }
            }
		}
		@media (min-width: $xl) { 
			padding-top: 70px;
            .method {
                li {
                    width: 16.66%;
                    &:after {
                        display: block;
                    }
                    &:nth-of-type(3) ~ li {
                        margin-top: 0;
                    }
                    &:last-child {
                        &:after {
                            display: none !important;
                        }
                    }
                    .box {
                        height: 230px;
						.details {
							p {
								span {
									font-size: 13px;
								}
							}
						}
                    }
                }
            }
		}
	}
    .dream {
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 140px 0;
        background-image: url(/assets/images/sponsor/bg_dream_sm.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        h4 {
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5);
        }
        @media(min-width: $md) {
            padding: 165px 0;
            margin-top: 80px;
            h4 {
                font-size: 28px;
                line-height: 44px;
            }
        }
        @media(min-width: $lg) {
            margin-top: 100px;
            background-image: url(/assets/images/sponsor/bg_dream_lg.jpg);
        }
    }
	.notify {
		margin-top: 40px;
		li {
			& ~ li {
				margin-top: 30px;
			}
			dl {
				dt {
					font-size: 16px;
					color: #ed7f31;
					font-weight: 400;
				}
				dd {
					font-size: 13px;
					color: #666;
					line-height: 22px;
					margin-top: 15px;
				}
			}
		}
		@media (min-width: $md) { 
			margin-top: 50px;
			li {
				& ~ li {
					margin-top: 50px;
				}
				dl {
					dt {
						font-size: 18px;
					}
					dd {
						font-size: 14px;
						line-height: 26px;
					}
				}
			}
		}
		@media (min-width: $xl) {
			margin-top: 60px;
		}
	} 
	.btn-area {
		margin-top: 50px;
		p {
			.btn {
				&.btn-default {
					width: 100%;
					height: 45px;
					text-align: center;
					border: 1px solid #5b5b5b;
					line-height: 43px;
				}
			}
		}
		@media (min-width: $md) {
			p {
				.btn {
					&.btn-default {
						width: 250px;
						line-height: 43px;
					}
				}
			}	
		}
	}
	.ask {
		margin-top: 20px;
		li {
			font-size: 0;
			font-size: 13px; 
			color: #666;
			&:before {
				display: inline-block;
				font-family: "fontello";
				font-size: 15px;
				color: #666;
				margin-right: 10px;
			}
			&:first-child {
				&:before {
					display: inline-block;
					content:"\E814";
				}
			}
			&:nth-of-type(2) {
				&:before {
					content:"\E815";
				}
			}
			dl {
				font-size: 0;
				display: inline-block;
				dt {
					display: inline-block;
					font-size: 13px;
					color: #666;
					font-weight: 400; 
					&:after {
						content: ":";
						margin: 0 3px;
					}
				}
				dd {
					display: inline-block;
					font-size: 13px;
				}
			}
		}
        @media(min-width: $md) {
            margin-top: 50px;
        }
        @media(min-width: $xl) {
            margin-top: 60px;
        }
	}
    .dot-board {
        margin-top: 50px;
        @media(min-width: $md) {
            margin-top: 70px;
        }
        @media(min-width: $xl) {
            margin-top: 100px;
        }
    }
}

// partner_list
.partner-list {
	.tab-sponsor {
		padding-top: 50px;
        ul {
            > li {
                &:nth-of-type(2) ~ li {
                    .sponsor-company {
                        margin-top: 15px;
                    }
                }
                .sponsor-company {
                    text-align: center;
                    .item {
                        border: 1px solid #ddd;
                    }
                    > p {
                        font-size: 13px;
                        color: #666;
                        margin-top: 7px;
                        @include nns();	
                    }
                }	
            }
        }
        .paging {
            margin-top: 80px;
        }
    }
    @media (min-width: $md) {
        .tab-sponsor {
            padding-top: 100px;
            ul {
                > li {
                    &:nth-of-type(2) ~ li {
                        .sponsor-company {
                            margin-top: 0;
                        }
                    }
                    &:nth-of-type(3) ~ li {
                        .sponsor-company {
                            margin-top: 30px;
                        }
                    }
                    .sponsor-company {
                        > p {
                            font-size: 15px;
                            margin-top: 10px;
                        }
                    }	
                }
            }
            .paging {
                margin-top: 95px;
            }	
        }
    }
    @media (min-width: $xl) {
        .tab-sponsor {
            ul {
                > li {
                    &:nth-of-type(3) ~ li {
                        .sponsor-company {
                            margin-top: 0;
                        }
                    }
                    &:nth-of-type(4) ~ li {
                        .sponsor-company {  
                            margin-top: 30px !important;
                        }
                    }
                    .sponsor-company {
                        > p {
                            font-size: 16px;
                        }
                    }	
                }
            }
            .paging {
                margin-top: 75px;
            }	
        }
    }
}



//나눔가게
.share-store {
	padding-bottom: 0 !important;
	.collection-step {
		padding-top: 50px;
		padding-bottom: 60px;
		.section-header {
			text-align: center;
			h4 {
				font-size: 28px;
				color: #222;
				font-weight: 400;
			}
			p {
				font-size: 13px;
				color: #444;
				line-height: 24px;
				margin-top: 25px;
			}
		}
		.section-content {
			margin-top: 40px;
			.method {
				li {
					.box {
						.details {
							p {
								span {
									display: block;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			padding-top: 45px;
			padding-bottom: 70px;
			.section-header {
				h4 {
					font-size: 30px;
				}
				p {
					font-size: 14px;
					line-height: 26px;
				}
			}
			.section-content {
				margin-top: 60px;
                .method {
                    > li {
                        width: 25%;
                    }
                }
			}
		}
		@media (min-width: $xl) {
			padding-top: 60px;
			padding-bottom: 85px;
			.section-content {
				margin-top: 70px;
				.method {
                    > li {
                        .box {
                            width: 200px;
                            margin: 0 auto;
							height: 240px;
							.details {
								p {
									span {
										font-size: 13px;
										margin-top: 2px;
									}
								}
							}
                        }
                    }
                }
			}
		}
	}
    .hope {
        color: #fff;
        padding: 125px 0; 
        text-align: center;
        background-image: url(/assets/images/sponsor/bg_hope_sm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 400;
            text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.04);
        }
        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.04);
        }
        @media(min-width: $md) {
            padding: 160px 0;
            h4 {
                font-size: 28px;
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
            }
        }
        @media(min-width: $lg) {
            background-image: url(/assets/images/sponsor/bg_hope_lg.jpg);
        }
    }
	.information {
		text-align: center;
		padding: 50px 0;
		background-color: #f7f7f7;
		.section-header {
			h4 {
				font-size: 28px;
				color: #333;
				font-weight: 400;
			}
		}
		.section-content {
			> ul {
				width: 100%;
				margin-top: 50px;
				> li {
					display: table;
					width: 100%;
					height: 360px; 
					text-align: center;
					background-color: #fff; 
					box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
					&:first-child {
						.wrap {
							.summary {
								> ul {
									li {
										&:first-child {
											dl {
												dd {
													&:after {
														content: "/";
														display: inline;
                                                        margin: 0 3px;
													}
												}
											} 
										}
									}
								}
							}
						}
					}
					& ~ li {
						margin-top: 10px;
					}
					.wrap {
						display: table-cell;
						vertical-align: middle;
						padding: 0 10px;
						.items {
							margin-bottom: 30px;
						}
						.summary {
							> ul {
								> li {
									display: block;
									dl {
										font-size: 0;
										dt {
											display: inline-block;
											font-size: 15px;
											color: #333;
											font-weight: 400;
											&:after {
												content: ":";
												margin-right: 2px;
											}
										}
										dd {
											display: inline;
											font-size: 15px;
											color: #333;
											font-weight: 400;
										}
									}
								}
							}
							> p {
								font-size: 13px;
								color: #666;
								line-height: 22px;
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			padding: 70px 0 100px; 
			.section-header {
				h4 {
					font-size: 30px;
				}
			}
			.section-content {
				> ul {
                    &:after {
                        content: " ";
                        display: block;
                        clear: both;
                    }
					> li {
						float: left;
						width: 49%;
						& ~ li {
							margin-top: 0;
							margin-left: 2%;
						}
						&:first-child {
							.wrap {
								.items {
									img {
										margin-top: 10px;
									}
								}
							}
						}
						.wrap {
							display: block;
							.items {
								height: 90px;
								margin-top: 50px;
							}
							.summary {
								> ul {
									> li {
										dl {
											dt {
												font-size: 16px;
											}
											dd {
												font-size: 16px;
											}
										}
									}
								}
								> p {
									font-size: 14px;
									line-height: 24px;
									margin-top: 25px;
								}
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			padding: 100px 0 120px; 
			.section-content {
				> ul {
					> li {
						& ~ li {
							margin-top: 0;
						}
						.wrap {
							padding: 0 70px;
							.items {
								height: 90px;
								margin-top: 50px;
							}
							.summary {
								> ul {
									font-size: 0;
									> li {
										display: inline-block;
										dl {
                                            display: inline-block;
											dt {
												font-size: 18px;
											}
											dd {
												font-size: 18px;
											}
										}
									}
								}
								> p {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}

//아너스클럽멤버
.honors-member {
	/*.members {
		margin-top: 40px;
		> ul {
			> li {
                > a {
                    position: relative;
                    display: block;
					width: 100%;
					height: 100%;
                    padding-bottom: 40px;
                    figure {
                        .img-fluid {
                            width: 100%;
                        }
                        figcaption {
							display: table;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 40px;
                            padding: 0 15px;
                            background-color: #144199;
							@include transition();
                            .details {
								display: table-cell;
								color: #fff;
								vertical-align: middle;
								h5 {
									font-size: 13px;
									color: #fff;
									font-weight: 400;
									line-height: 16px;
								}
                                small {
                                    display: none;
									font-size: 10px;
                                }
                                p {
                                    display: none;
									font-size: 11px;
									line-height: 16px;
									&:before {
										content: "";
										display: block;
										width: 30px;
										height: 1px;
										margin: 10px 0;
										background-color: #fff;
									}
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        figure {
                            figcaption {
								width: 100%;
                                height: 100%;
                                background-color: #eb6100;
                                .details {
									h5 {
										line-height: 24px;
									}
									small {
										display: block;
									}
									p {
										display: block;
									}
                                }
                            }
                        }
                    }
                }
				&:nth-of-type(2) ~ li {
					margin-top: 10px;
				}
			}
		}
	}*/
	/*@media(min-width: $md) {
		.members {
			margin-top: 35px;
			> ul {
				li {
					a {
						padding-bottom: 60px;
						figure {
							figcaption {
								height: 60px;
								padding: 0 20px; 
								.details {
									h5 {
										font-size: 17px;
										line-height: 20px;
									}
									small {
										font-size: 12px;
										margin-top: 5px;
									}
									p {
										font-size: 13px;
										line-height: 18px;
										&:before {
											margin: 20px 0 25px;
										}
									}
								}
							}
						}
						&:hover, &:focus {
							figure {
								figcaption {
									height: 70%;
								}
							}
						}
					}
					&:nth-of-type(2) ~ li {
						margin-top: 0; 
					}
					&:nth-of-type(3) ~ li {
						margin-top: 20px;    
					}
				}
			}
		}
	}*/
	/*@media(min-width: $xl) {
		.members {
			margin-top: 80px;
			> ul {
				li {
					a {
						figure {
							figcaption {
								.details {
									h5 {
										font-size: 16px;
									}
									small {
										font-size: 12px;
										margin-top: 5px;
									}
									p {
										font-size: 13px;
										line-height: 22px;
										&:before {
											margin: 25px 0 25px;
										}
									}
								}
							}
						}
					}
					&:nth-of-type(3) ~ li {
						margin-top: 0;    
					}
					&:nth-of-type(4) ~ li {
						margin-top: 35px;    
					}
				}
			}
		}
	}*/
    .members {
        margin-top: 40px;
        > ul {
            > li {
				&:nth-child(2) ~ li {
					a {
						margin-top: 10px;
					}
				}
                > a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding-bottom: 40px;
                    background-color: #144199;
                    .figure {
                        display: block;
                        .img-fluid {
                            display: block;
                            width: 100%;
                        }
                    }
                    .figcaption {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        color: #fff;
                        display: block;
                        .details {
                            position: absolute;
                            bottom: 0;
                            display: block;
                            width: 100%;
                            height: 40px;
                            overflow: hidden;
                            background-color: #144199;
                            @include transition();
                            .v-align {
                                display: table;
                                width: 100%;
                                height: 100%;
                                padding: 0 15px;
                                > div {
                                    display: table-cell;
                                    width: 100%;
                                    vertical-align: middle;
                                    h5 {
                                        font-size: 13px;
                                        line-height: 16px;
										font-weight: 400;
                                    }
                                    .summary {
                                        display: none;
                                        small {
                                            font-size: 10px;
                                        }
                                        hr {
                                            display: block;
                                            width: 30px;
                                            margin: 15px 0;
                                            border-top: 1px solid #fff;
                                        }
                                        p {
                                            font-size: 11px;
                                            color: #fff;
                                            line-height: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        .figcaption {
							height: 100%;
                            .details {
                                height: 100%;
                                background-color: #eb6100;
                                .v-align {
                                    > div {
                                        .summary {
                                            display: block;
											margin-top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            margin-top: 35px;
			> ul {
				> li {
					&:nth-child(2) ~ li {
						a {
							margin-top: 0;
						}
					}
					&:nth-child(3) ~ li {
						a {
							margin-top: 20px;
						}
					}
					> a {
						padding-bottom: 60px;
						.figcaption {
							height: 60px;
							.details {
								height: 60px;
								.v-align {
									padding: 0 20px;
									> div {
										h5 {
											font-size: 17px;
											line-height: 20px;
										}
										.summary {
											small {
												font-size: 12px;
											}
											hr {
												margin: 20px 0 25px;
											}
											p {
												font-size: 13px;
												line-height: 20px;
											}
										}
									}
								}
							}
						}
						&:hover, &:focus {
							.figcaption {
								height: 75%;
							}
						}
					}
				}
			}
        }
        @media(min-width: $xl) {
            margin-top: 80px;
			> ul {
				> li {
					&:nth-child(3) ~ li {
						a {
							margin-top: 0;
						}
					}
					&:nth-child(4) ~ li {
						a {
							margin-top: 20px;
						}
					}
					> a {
						.figcaption {
							.details {
								.v-align {
									> div {
										h5 {
											font-size: 16px;
										}
										.summary {
											hr {
												margin: 25px 0;
											}
										}
									}
								}
							}
						}
						&:hover, &:focus {
							.figcaption {
								.details {
									> div {
										h5 {
											font-size: 18px;
										}
									}
								}
							}
						}
					}
				}
			}
        }
    }
}



/********** video-modal popup **********/
.modal-open {
    padding-right: 0 !important;
}
.video-modal {
    padding-left: 10px !important;
    padding-bottom: 150px;
    padding-right: 10px !important;
    background-color: rgba(0, 0, 0, .6);
    .modal-dialog {
        max-width: 635px !important;
        margin: 50px auto 0;
        .modal-content {
            padding: 0 10px;
            border-radius: 0;
			border-bottom: 0;
            .modal-header {
                overflow: hidden;
                padding: 20px 0 15px;
                .modal-title {
                    font-size: 16px;
                    color: #333;
                    font-weight: 400;
                }
                .close {
					overflow: hidden;
                    float: right;
                    display: block;
                    width: 24px;
                    height: 24px;
					line-height: 24px;
                    padding: 0;
                    margin: 0;
                    opacity: 1;
                    span {
                        position: relative;
                        top: -3px;
						text-align: right;
                    }
                    &:hover, &:focus {
                        opacity: .7;
                    }
                }
            }
            .modal-body {
				padding: 0 0 70px;
                border-bottom: 0;
				.comment {
					overflow-y: scroll;
					height: 185px;
					margin-top: 20px;
					padding: 15px 10px 30px;
					background-color: #ededed;
					> p {
						font-size: 13px;
						line-height: 24px;
						color: #666;
					}
				}
				.latest-news {
					margin-top: 40px;
					> h5 {
						font-size: 16px;
						color: #333;
						font-weight: 400;
						margin-bottom: 15px;
					}
					ul {
						border-top: 1px solid #aaa;
						border-bottom: 1px solid #aaa;
						li {
							position: relative;
							padding: 20px 15px;
							border-bottom: 1px solid #dfdfdf;
							&:last-child {
								border-bottom: 0;
							}
							a {
								display: block;
								font-size: 13px;
								color: #222;
								line-height: 19px;
								font-weight: 300;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							> span {
								position: absolute;
								top: 20px;
								right: 25px;
								display: block;
								font-size: 14px;
								color: #555;
								@include roboto();
							}
						}
					}
				}
            }
        }
    }
	@media (min-width: $md) {
		.modal-dialog {
			margin: 100px auto 0;
			.modal-content {
				padding: 0 30px;
				.modal-header {
					padding: 25px 0 20px;
					.modal-title {
						font-size: 18px;
					}
					.close {
						width: 27px;
						height: 27px;
						line-height: 27px;
					}
				}
				.modal-body {
					padding: 0 0 105px;
					.comment {
						padding: 20px 25px 20px;
						> p {
							font-size: 14px;
							line-height: 26px;
						}
					}
					.latest-news {
						margin-top: 45px;
						ul {
							li {
								a {
									padding-right: 105px;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: $xl) {
		.modal-dialog {
			.modal-content {
				.modal-body {
					.latest-news {
						ul {
							li {
								a {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}


//아너스클럽멤버
.honors-club {
	padding-bottom: 0 !important; 
	.join-condition {
		.section-header {
			text-align: center;
			padding: 50px 0 35px;
			h3 {
				font-size: 20px;
				color: #222;
				font-weight: 300;
			}
			> p {
				font-size: 13px;
				color: #999;
				line-height: 24px;
				margin-top: 20px;
			}
		}
		.section-content {
			padding-bottom: 80px;
			.row {
				> li {
					& ~ li {
						.info {
							margin-top: 20px;
						}
					}
					&:first-child {
						.info {
							background-image: url(/assets/images/sponsor/bg_join_condition01.png);
							background-repeat: no-repeat;
							background-size: 96px auto;
							background-position: 50% 140px;
						}
					}
					&:nth-of-type(2) {
						.info {
							background-image: url(/assets/images/sponsor/bg_join_condition02.png);
							background-repeat: no-repeat;
							background-size: 108px auto;
							background-position: 50% 155px;
						}
					}
					.info {
						text-align: center;
						padding-top: 40px;
						height: 320px;
						border: 1px solid #e7e7e7;
						h4 {
							width: 125px;
							height: 35px;
							font-size: 16px;
							color: #fff;
							line-height: 35px;
							border-radius: 30px;
							margin: 0 auto;
							background-color: #e9193a; 
						}
						p {
							font-size: 15px;
							color: #222;
							margin-top: 25px;
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			.section-header {
				padding: 60px 0 50px;
				h3 {
					font-size: 26px;
				}
				> p {
					font-size: 15px;
					line-height: 25px;
					margin-top: 25px;
				}
			}
			.section-content {
				padding-bottom: 90px;
				.row {
					> li {
						& ~ li {
							.info {
								margin-top: 0;
							}
						}
						&:first-child {
							.info {
								background-size: 120px auto;
								background-position: 50% 150px;
							}
						}
						&:nth-of-type(2) {
							.info {
								background-size: 160px auto;
								background-position: 50% 150px;
							}
						}
						.info {
							padding-top: 40px;
							height: 375px;
							p {
								font-size: 17px;
							}
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			.section-header {
				padding: 70px 0 60px;
			}
			.section-content {
				padding-bottom: 105px;
				.row {
					> li {
						&:first-child {
							.info {
								background-size: 165px auto;
								background-position: 50% 160px;
							}
						}
						&:nth-of-type(2) {
							.info {
								background-size: 180px auto;
								background-position: 50% 200px;
							}
						}
						.info {
							padding-top: 50px;
							height: 480px;
							p {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
	.respect {
		background-color: #f7f7f7;
		.section-header {
			text-align: center;
			padding: 70px 0 35px;
			h3 {
				font-size: 20px;
				color: #222;
				font-weight: 300;
			}
			> p {
				font-size: 13px;
				color: #999;
				line-height: 24px;
				margin-top: 20px;
			}
		}
		.section-content {
			padding-bottom: 90px;
			> .row {
				li {
					display: table;
					& ~ li {
						margin-top: 10px;
					}
					figure {
						display: table-cell;
						height: 220px;
						text-align: center;
						vertical-align: middle;
						background-color: #fff;
						box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.03); 
						figcaption {
							font-size: 15px;
							color: #333;
							line-height: 24px;
							margin-top: 20px;
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			.section-header {
				padding: 80px 0 45px;
				h3 {
					font-size: 24px;
				}
				> p {
					font-size: 15px;
					line-height: 26px;
				}
			}
			.section-content {
				padding-bottom: 115px;
				> .row {
					li {
						& ~ li {
							margin-top: 0;
						}
						&:nth-of-type(3) ~ li {
							margin-top: 20px;
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			.section-header {
				padding: 90px 0 60px;
			}
			.section-content {
				padding-bottom: 160px;
				> .row {
					li {
						&:nth-of-type(3) ~ li {
							margin-top: 50px;
						}
					}
				}
			}
		}
	}
}

//정기후원
.regular-sponsor {
	padding-bottom: 0 !important;
	.use {
        .article-header {
            margin-bottom: 20px;
            .vertical-board {
                position: relative;
                height: 50px;
                padding: 0 20px 0 50px;
                vertical-align: top;
                border: 1px solid #e0e0e0;
                li {
                    border: 0;
                    p {
                        display: block;
                        font-size: 13px;
                        color: #666;
                        overflow: hidden;
                        margin: 14px 0 13px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        b {
                            font-size: 14px;
                            color: #333;
                            font-weight: 400;
                        }
                    }
                }
                .slick-arrow {
                    position: absolute;
                    left: 20px;
                    font-size: 15px;
                    color: #666;
                    width: 20px;
                    height: 20px;
                    display: inline-block !important;
                    border: 0;
                    cursor: pointer;
                    background: none;
                    &:before {
                        margin: 0;
                        padding: 0;
                        left: 20px;
                        width: 20px;
                    }
                    &.icon-up-open-1 {
                        top: 5px;
                        &:before {
                            position: relative;
                            top: -3px;
                            left: 0;
                        }
                    }
                    &.icon-down-open-1 {
                        top: 25px;
                    }
                }
            }
            @media(min-width: $md) {
                margin-bottom: 45px;
                .vertical-board {
                    height: 60px;
                    padding: 0 190px 0 60px;
                    background-image: url(/assets/images/sponsor/bg_vertical_board.jpg);
                    background-repeat: no-repeat;
                    background-position: 99% 100%;
                    background-size: 100px auto;
                    li {
                        p {
                            font-size: 15px;
                            margin: 17px 0;
                            padding-left: 2px;
                            &:before {
                                color: #eb6101;
                                font-family: "fontello";
                                content: "\E816";
                                margin-right: 5px;
                            }
                            b {
                                font-size: 16px;
                            }
                        }
                    }
                    .slick-arrow {
                        &.icon-up-open-1 {
                            top: 10px;
                            &:before {
                                top: -5px;
                            }
                        }
                        &.icon-down-open-1 {
                            top: 30px;
                        }
                    }
                }
            }
            @media(min-width: $xl) {
                .vertical-board {
                    padding-right: 200px;
                    background-position: 95% 100%;
                    background-size: 132px auto;
                }
            }
        }
		.bg-regular {
			width: 100%;
			padding: 50px 30px;
			text-align: center;
			background-image: url(/assets/images/sponsor/bg_regular.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			strong {
				font-size: 24px;
				color: #eb6100;
			}
			> p {
				font-size: 13px;
				color: #fff;
				line-height: 24px;
				margin-top: 30px;
			}
			.btn-area {
				margin-top: 40px;
				p {
					.btn {
						width: 200px;
						line-height: 50px;
						font-size: 15px;
						color: #fff;
						text-align: center;
						border: 1px solid #fff;
						&:hover, &:focus {
							background-color: #eb6100;
							border-color: #eb6100;
							opacity: 1;
						}
					}
				}
			}
		}
		.info {
			padding: 65px 0 55px;
			border-bottom: 1px solid #b2b2b2;
			h4 {
				font-size: 20px;
				color: #ff5442;
				font-weight: 400;
				padding-left: 40px;
				background-image: url(/assets/images/sponsor/bg_info_title.jpg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 0 0;
			}
			> p {
				font-size: 13px;
				color: #666; 
				line-height: 26px;
				margin-top: 35px;
			}
			> b {
				display: block;
				font-size: 13px;
				color: #333;
				line-height: 26px;
				margin-top: 30px;
			}
		}
		@media (min-width: $md) {
			.bg-regular {
				padding: 70px 0 75px 40px;
				text-align: left;
				strong {
					font-size: 30px;
				}
				> p {
					font-size: 15px;
					margin-top: 25px;
				} 
				.btn-area {
					margin-top: 35px;
					p {
						.btn {
							line-height: 52px;
						}
					}
				}
			}
			.info {
				padding: 55px 0 60px;
				border-bottom: 1px solid #ccc;
				h4 {
					font-size: 26px;
					padding-left: 50px;
				}
				> p {
					font-size: 16px;
					margin-top: 30px;
				}
				> b {
					font-size: 16px; 
					margin-top: 35px;
				}
			}
		}
		@media (min-width: $xl) { 
			.bg-regular {
				padding-left: 95px;
				.btn-area {
					margin-top: 30px;
				}
			}
			.info {
				padding: 65px 0 55px;
				h4 {
					line-height: 36px;
					background-size: 36px 36px;
				}
			}
		}
	}
	.variety {
		margin-top: 30px; 
		padding-bottom: 80px;
		ul {
			li {
				&:last-child {
					.row {
						.col-12 {
							.details {
								padding-bottom: 0;
							}
						}
					}
				}
				.row {
					.col-12 {
						figure {
							.img-fluid {
								display: block;
								width: 100%;
							}
						} 
						.details {
							padding: 25px 0 50px;
							> div {
								h4 {
									font-size: 20px;
									color: #eb6100;
									font-weight: 400;
								}
								> p {
									font-size: 13px;
									color: #666;
									line-height: 22px;
									margin-top: 20px;
								}
							}
						}
					}
				}
			}
		}
		@media (min-width:  $md) {
			margin-top: 45px; 
			padding-bottom: 115px;
			ul {
				li {
					.row {
						.col-12 {
							&.order-md-first {
								text-align: right;
								.details {
									padding-left: 0;
									padding-right: 20px;
								}
							}
							figure {
								display: table-cell; 
								.img-fluid {
									display: block;
									width:  100%;
								}
							} 
							.details {
								display: table;
								width: 100%;
								height: 100%;
								padding: 0;
								padding-left: 25px;
								> div {
									display: table-cell;
									vertical-align: middle;
									h4 {
										font-size: 24px;
									}
									> p {
										font-size: 14px;
										line-height: 24px;
										margin-top: 25px;
									}
								}
							}
						}
					}
				}
			}
		}
		@media (min-width:  $xl) {
			margin-top: 65px; 
			padding-bottom: 110px;
			ul {
				li {
					.row {
						.col-12 {
							&.order-md-last {
								figure {
									padding-right: 0;
									padding-left: 25px;
								}
							}
							figure {
								padding-right: 25px;
							} 
						}
					}
				}
			}
		}
	}
	.benefit {
		text-align: center;
		padding: 70px 0;
		background-color: #f7f7f7;
		h4 {
			font-size: 20px;
			color: #222;
			font-weight: 400;
			margin-bottom: 60px;
		}
		ul {
			li {
				figure {
					img {
						width: 100%;
						box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.03); 
					}
				}
				.summary {
					padding-top: 20px;
					padding-bottom: 35px;
					h5 {
						font-size: 16px;
						color: #eb6100;
					}
					p {
						font-size: 13px;
						color: #666;
						line-height: 24px;
					}
				}
			}
		}
		@media (min-width: $md) {
			padding: 80px 0 110px;
			h4 {
				font-size: 24px;
				margin-bottom: 50px;
			}
			ul {
				li {
					&:nth-of-type(3) ~ li {
						figure {
							padding-top: 50px;
						}
					}
					.summary {
						padding-top: 30px;
						padding-bottom: 0;
						h5 {
							font-size: 18px;
						}
						p {
							font-size: 14px;
							margin-top: 15px;
						}
					}
				}
			}
		}
		@media (min-width: $xl) {
			padding: 110px 0 150px;
			h4 {
				margin-bottom: 60px;
			}
			ul {
				li {
					&:nth-of-type(3) ~ li {
						figure {
							padding-top: 70px;
						}
					}
					.summary {
						padding-top: 25px; 
					}
				}
			}
		}
	}
}

//일시후원
.temporary-sponsor {
	ul {
		li {
			& ~ li {
				> div {
					margin-top: 10px;
				}
			}
			> div {
				padding-top: 70px;
				padding-bottom: 85px;
				text-align: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				h5 {
					font-size: 20px;
					color: #eb6101;
					margin-top: 30px;
					a {
						color: #eb6101;
					}
				}
				> p {
					font-size: 13px;
					color: #fff;
					margin-top: 20px;
				}
				&.homepage {
					background-image: url(/assets/images/sponsor/bg_temporary01.gif);
				}
				&.telephone {
					background-image: url(/assets/images/sponsor/bg_temporary02.gif);
				}
			}
		}
	}
	@media (min-width: $md) {
		ul {
			li {
				> div {
					h5 {
						font-size: 22px;
					}
					> p {
						font-size: 14px;
					}
				}
			}
		}
	}
	@media (min-width: $xl) {
		ul {
			li {
				& ~ li {
					> div {
						margin-top: 0;
                        h5 {
                            a {
                                cursor: default;
                            }
                        }
					}
				}
			}
		}
	}
}