@import 'common';

#content {
	min-height: 300px;
	padding-bottom: 60px;
	@media(min-width: $md) {
		padding-bottom: 70px;
	}
	@media(min-width: $md) {
		padding-bottom: 100px;
	}
	@media(min-width: $xl) {
		padding-bottom: 120px;
	}
}

// sub style 초기화

label {
	font-weight: 400;
	margin: 0;
}
.form-group {
    margin: 0;
	padding: 0;
}
.form-control {
    width: 100%;
    height: 35px;
    font-size: 13px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
    @media(min-width: $md) {
        font-size: 14px;
        height: 40px;
    }
}
.table {
	th, td {
		padding: 0;
		border-top: 0;
	}
}
button {
    background: none;
}
.btn {
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none !important;
}
input, textarea {
    &.form-control::-webkit-input-placeholder { 
        color: #aaa;
    }
    &.form-control::-moz-placeholder { 
        color: #aaa;
    }
    &.form-control:-ms-input-placeholder { 
        color: #aaa;
    }
    &.form-control:-moz-placeholder { 
        color: #aaa;
    }
}

//btn 공통
.btn-area {
	p {
		font-size: 0;
		.btn {
            display: inline-block;
            text-align: center;
            @include transition();
            &:hover, &:focus {
                opacity: .7;
            }
			&.btn-black {
				width: 120px;
				font-size: 13px;
				color: #111;
				line-height: 43px;
				border: 1px solid #111;
			}
			&.btn-gray {
				width: 80px;
				font-size: 13px;
				color: #999;
				line-height: 43px;
				border: 1px solid #ccc;
			}
		}
		@media(min-width: $md) {
			.btn {
				&.btn-black {
					width: 170px;
					font-size: 14px;
				}
				&.btn-gray {
					width: 120px;
					font-size: 14px;
				}
			}
		}
	}
}
//page-header 
.page-header {
    .page-summary {
        width: 100%;
        height: 140px;
        padding-top: 40px;
        text-align: center;
        background-image: url(/assets/images/sub/bg_page_header_sm.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        h2 {
            font-size: 18px;
            font-weight: 200;
            color: #fff;
            line-height: 30px;
            font-style: italic;
            @include roboto();
            text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); 
            span {
                color: #eb6100;
            }
        }
    }
    @media(min-width: $md) {
        .page-summary {
            height: 265px;
            padding-top: 100px;
            background-image: url(/assets/images/sub/bg_page_header_lg.jpg);
        }
    }
    @media(min-width: $xl) {
        .page-summary {
            height: 275px;
            padding-top: 105px;
        }
    }
}
.page-path {
    position: relative;
    margin: 0 -10px;
    background-color: #144199;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.22); 
    .breadcrumb {
        font-size: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background: none;
        > li {
            position: relative;
            display: inline-block;
            font-size: 13px;
            width: 50%;
            &:after {
                position: absolute;
                top: 50%;
                right: 0;
                display: block;
                margin-top: -8px;
                content: " ";
                height: 16px;
                border-left: 1px solid #0a2066;
                border-right: 1px solid #1e62cc;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            .dropdown {
                width: 100%;
                min-width: 100%;
                .btn-secondary {
                    width: 100%;
                    min-width: 100%;
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 50px;
                    text-align: left;
                    padding: 0 15px;
                    border: 0;
                    border-radius: 0;
                    transition: none !important;
                    background: none;
                    box-shadow: none !important;
                    &:after {
                        float: right;
                        font-size: 12px;
                        border: 0;
                        margin-right: 15px;
                        content: "\F004";
                        font-family: "fontello";
                    }
                }
                &.show {
                    .btn-secondary {
                        position: relative;
                        z-index: 1;
                        background-color: #eb6100;
                        &:after {
                            content: "\F005";
                        }
                    }
                    .dropdown-menu {
                        width: 100%;
                        min-width: 100%;
                        margin: 0;
                        padding: 0;
                        border: 0;
						font-weight: 300;
                        border-radius: 0;
                        transform: translate3d(0px, 50px, 0px) !important;
                        > a {
                            font-size: 13px;
                            color: #fff;
                            padding: 0 15px;
                            line-height: 50px;
                            background-color: #eb6100;
                            &:focus {
                                background-color: #e74e00;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        margin: -30px 0 0 0;
        .breadcrumb {
            > li {
                width: 200px;
                &:last-child {
                    &:after {
                        display: block;
                    }
                }
                .dropdown {
                    .btn-secondary {
                        font-size: 15px;
                        line-height: 60px;
                    }
                    &.show {
                        .dropdown-menu {
                            transform: translate3d(0px, 60px, 0px) !important;
                            > a {
                                font-size: 15px;
                                line-height: 60px;
                            }
                        }
                    }
                }
                &.home {
                    width: 70px;
                    text-align: center;
                    a {
                        display: inline-block;
                        line-height: 58px;
                        .icon-home {
                            font-size: 17px;
                            color: #fff;
                        }
                    }
                }
                
            }
        }
    }
    @media(min-width: $xl) {
        box-shadow: 5px -4px 7px 0px rgba(0, 0, 0, 0.22);
        .breadcrumb {
            > li {
                .dropdown {
                    .btn-secondary {
                        position: relative;
                        z-index: 1;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
                        &:hover {
                            background-color: #eb6100;
                        }
                    }
                    &.show {
                        .dropdown-menu {
                            transform: translate3d(0px, 60px, 0px) !important;
                            > a {
                                font-size: 15px;
                                line-height: 60px;
                                @include transition();
                                &:hover {
                                    background-color: #e74e00;
                                }
                            }
                        }
                    }
                }
                &.home {
                    width: 70px;
                    text-align: center;
                    a {
                        display: inline-block;
                        line-height: 58px;
                        .icon-home {
                            font-size: 17px;
                            color: #fff;
                        }
                    }
                }
                
            }
        }
        .zoom {
            position: absolute;
            top: 50%;
            right: 30px;
            margin-top: -10px;
            > a {
                position: relative;
                display: inline-block;
                font-size: 13px;
                line-height: 20px;
                color: #fff;
                padding-right: 20px;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
                &.in {
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 14px;
                        content: "\E804";
                        font-family: "fontello";
                    }
                }
                &.out {
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        float: right;
                        font-size: 14px;
                        content: "\E805";
                        font-family: "fontello";
                    }
                }
            }
        }
    }
}

//page-intro
.page-intro {
    .page-title {
        padding: 50px 0 40px;
        text-align: center;
        h3 {
            font-size: 28px;
            color: #222;
            font-weight: 300;
        }
        .summary {
            font-size: 15px;
            color: #555;
            margin-top: 40px;
            line-height: 26px;
        }
    }
    .lnb {
        .tab-list {
            display: table;
            width: 100%;
            text-align: center;
            > li {
                position: relative;
                display: table-cell;
                width: 1%;
                padding-bottom: 15px;
                border-bottom: 1px solid #ccc;
                &:after {
                    position: absolute;
                    top: 2px;
                    right: 0;
                    content: "|";
                    font-size: 10px;
                    color: #e5e5e5;
                    display: inline-block;
                    color: #e5e5e5;
                }
                &:last-child {
                    &:after {
                        content: " ";
                    }
                }
                a {
                    display: block;
                    font-size: 14px;
                    color: #666;
                }
                &.active {
                    a {
                        color: #eb6100;
                        &:after {
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            display: block;
                            width: 100%;
                            content: " ";
                            border-bottom: 2px solid #eb6100;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .page-title {
            padding: 90px 0 80px;
            h3 {
                font-size: 40px;
            }
            .summary {
                font-size: 20px;
                line-height: 36px;
            }
        }
        .lnb {
            .tab-list {
                > li {
                    &:after {
                        top: 2px;
                        font-size: 12px;
                    }
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .lnb {
            .tab-list {
                > li {
                    a {
                        @include transition();
                        &:hover, &:focus {
                            color: #eb6100;
                            opacity: .7;
                            &:after {
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                display: block;
                                width: 100%;
                                content: " ";
                                opacity: .6;
                                border-bottom: 2px solid #eb6100;
                            }
                        }
                    }
                    &.active {
                        a {
                            &:hover, &:focus {
                                opacity: 1;
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/************ 아라씨 작업 ************/

.ex-txt {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    padding: 40px 0 20px;
	@media(min-width: $md) {
		font-size: 18px;
		padding: 50px 0 30px;
	}
	@media(min-width: $xl) {
		font-size: 20px;
	}
}

//search-form 검색하기
.search-form {
	position: relative;
	.form-group {
		margin: 0;
		input[type="text"] {
			width: 100%;
			background-color: #f3f5fa;
		}
		.form-control {
			font-size: 13px;
			color: #000;
			height: 45px !important;
			line-height: 45px;
			font-weight: 400;
			border: 0;
			border-radius: 0;
			padding: 0;
			padding-right: 50px;
			padding-left: 20px;
			box-shadow: none;
		}
	}
	.btn-search {
		.btn-default {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 45px;
			padding: 0;
			font-size: 14px;
			color: #144199;
			background: none !important;
			&:hover, &:focus {
				i {
					opacity: .7;
				}
			}
			i {
				position: relative;
				top: -2px;
			}
		}
	}
	@media(min-width: $md) {
		.form-group {
			.form-control {
				font-size: 14px;
				height: 50px !important;
				line-height: 50px;
			}
		}
		.btn-search {
			.btn-default {
				height: 50px;
			}
		}
	}
}

//search-form 검색하기2
.select-search {
	position: relative;
	.form-group	{
		display: inline-block;
		width: 100%;
		select {
			height: 45px !important;
			color: #aaa !important;
            padding-right: 10px !important;
		}
		.form-control {
			font-size: 13px;
			color: #000;
			height: 45px;
			line-height: 45px;
			font-weight: 400;
			border: 0;
			border-radius: 0;
			padding: 0;
			padding-right: 50px;
			padding-left: 10px;
			box-shadow: none;
			background-color: #f3f5fa;
		}
	}
	.btn-search {
		.btn {
			padding: 0;
			box-shadow: none;
			border-radius: 0;
			&.btn-default {
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 45px;
				font-size: 14px;
				color: #144199;
				background: none !important;
				&:hover, &:focus {
					i {
						opacity: .7;
					}
				}
				i {
					position: relative;
					top: -2px;
				}
			}
		}
	}
	@media(min-width: $md) {
		.form-group	{
			select {
				height: 50px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
			}
			.form-control {
				font-size: 14px;
				height: 50px;
				line-height: 50px;
                padding-left: 20px;
			}
		}
		.btn-search {
			.btn {
				&.btn-default {
					position: absolute;
					top: 0;
					right: 15px;
					height: 50px;
					i {
						position: relative;
						top: -2px
					}
				}
			}
		}
	}
}

//paging
.paging {
	text-align: center;
	font-size: 0;
	.pagination {
		display: inline-block;
		margin: 0;
		> li {
			display: inline-block;
			&:first-child {
				a {
					margin-left: 0;
				}
			}
			&:last-child {
				a {
					margin-right: 0;
				}
			}
			a {
				display: inline-block;
				width: 25px;
				height: 25px;
				font-size: 15px;
				color: #999;
				border-radius: 50%;
				line-height: 25px;
				padding: 0;
				border: 0;
				margin: 0 4px;
				@include roboto();
				i {
					color: #aaa;
					font-weight: 300;
					&:before {
						margin: 0;
					}
				}
			}
			&.first, &.prev, &.next, &.last {
				a {
					background: #fff !important;
				}
            }
			&.first {
				a {
					padding-right: 5px;
				}
			}
			&.last {
				a {
					padding-left: 5px;
				}
			}
			&.active {
				a {
					display: block;
					color: #fff;
					font-weight: 400;
					background-color: #eb6100;
				}
			}
		}
	}
	@media(min-width: $md) {
		.pagination {
			> li {
				a {
					width: 30px;
					height: 30px;
					line-height: 30px;
					margin: 0 5px;
				}
				&.first {
					a {
						padding-right: 7px;
					}
				}
				&.last {
					a {
						padding-left: 7px;
					}
				}
			}
		}
	}
} 

//icon 리스트
.icon-list {
	font-size: 0;
	li {
		position: relative;
		display: inline-block;
		font-size: 12px;
		color: #aaa;
		padding-right: 25px;
		padding-left: 20px;
		@include roboto();
		&:last-child {
			padding-right: 0;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: "fontello";
			font-size: 12px;
			color: #aaa;
		}
		&.user {
			&:before {
				content: "\E80C";
			}
		}
		&.calendar {
			&:before {
				/*top: 1px;*/
				content: "\F133";
			}
		}
		&.eye {			
			&:before {
				/*top: 2px;*/
				content: "\E80D";
			}
		}
	}
}
 
//board 게시판 -1 
.board-list-1 {
	> ul {
		> li {
			border-bottom: 1px solid #dfdfdf;
			padding-top: 30px;
			padding-bottom: 30px;
			&:first-child {
				padding-top: 0;
			}
			a {
				display: block;
				.board-info {
					figure {
						img {
							width: 100%;
						}
					}
					.details {
						padding-top: 20px;
						h4 {
							font-size: 14px;
							color: #333;
							line-height: 25px;
							font-weight: 400;
						}
						p {
							font-size: 13px;
							color: #666;
							line-height: 22px;
							margin-top: 15px;
						}
						> .icon-list {
							margin-top: 20px;
						}
					}
				}
			}
		}
		@media(min-width: $md) {
			> li {
				padding-top: 40px;
				padding-bottom: 50px;
				a {
					.board-info {
						.details {
							padding-top: 0;
							padding-left: 20px;
							h4 {
								font-size: 16px;
								line-height: 25px;
							}
							p {
								font-size: 14px;
								line-height: 26px;
								margin-top: 10px;
							}
							> .icon-list {
								margin-top: 30px;
							}
						}
					}
				}
			}
		}
		@media(min-width: $xl) {
			> li {
				padding-bottom: 40px;
				a {
					.board-info {
						.details {
							padding-top: 20px;
							padding-left: 30px;
							h4 {
								line-height: 27px;
							}
							p {
								margin-top: 10px;
							}
							> .icon-list {
								margin-top: 60px;
							}
						}
					}
				}
			}
		}
	}
}

// board 게시판 -2
.board-list-2 {
	ol {
		> li {
			padding: 25px 10px 20px;
			border-bottom: 1px solid #dfdfdf;
			&:first-child {
				padding-top: 0;
			}
			h3 {
				a {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 14px;
					color: #333;
					font-weight: 400;
				}
			}
			.icon-list {
				display: block;
                text-align: left;
                overflow: hidden;
				margin-top: 10px;
				li {
					line-height: 25px;
					&.calendar {
						float: left;
						padding-right: 0;
					}
					&.reply {
						float: right;
						padding-left: 0;
						p {
							width: 70px;
							height: 25px;
							font-size: 12px;
							color: #666;
							text-align: center;
							line-height: 23px;
							border: 1px solid #ccc;
						}	
					}
					&.success {
						p {
							color: #999;
							border-color: #f3f3f3;
							background-color: #f3f3f3;
						}
					}
				}
			}
		}	
	}
	@media(min-width: $md) {
		ol {
			> li {
				padding: 30px 10px;
				h3 {
					a {
						font-size: 16px;
					}
				}
				.icon-list {
					li {
						&.calendar {
                            float: none;
							padding-right: 0;
						}
						&.reply {
                            float: none;
							padding-left: 30px;
						}
					}
				}
			}	
		}
	}
	@media(min-width: $xl) {
		text-align: center;
		ol {
			> li {
				vertical-align: middle;
				padding: 18px 10px;
				p {
					display: inline-block;
					font-size: 15px;
					color: #666;
					line-height: 35px;
					@include roboto();
				}
				h3 {
					margin-left: -15px;
					a {
						text-align: left;
						line-height: 35px;
					}
				}
				.icon-list {
					padding-left: 20px;
					margin-top: 0;
					li {
						font-size: 14px;
                        &.reply {
                            float: right;
							padding-left: 0;
                            padding-right: 35px;
						}
					}
				}
			}	
		}
	}
}

// board 게시판 -3
.board-list-3 {
	ol {
		> li {
			padding: 25px 10px 20px;
			border-bottom: 1px solid #dfdfdf;
			&:first-child {
				padding-top: 0;
			}
			h3 {
				a {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 14px;
					color: #333;
					font-weight: 400;
				}
			}
			.icon-list {
                text-align: left;
				margin-top: 10px;
			}
		}	
	}
	@media(min-width: $md) {
		ol {
			> li {
				padding: 30px 10px;
				h3 {
					a {
						font-size: 16px;
					}
				}
				.icon-list {
					margin-top: 20px;
				}
			}	
		}
	}
	@media(min-width: $xl) {
		text-align: center;
		ol {
			> li {
				padding: 25px 10px;
				p {
					display: inline-block;
					font-size: 15px;
					color: #666;
					/*padding-left: 10px;*/
					@include roboto();
				}
				h3 {
					text-align: left;
					margin-left: -15px;
					a {
					}
				}
				.icon-list {
					padding-left: 20px;
					margin-top: 0;
					text-align: right;
					li {
						font-size: 14px;
						&.eye {			
							&:before {
								top: 2px;
								content: "\E80D";
							}
						}
					}
				}
			}	
		}
	}
}

// board 게시판 view
.board-view {
	display: block;
	.article-header {
		border-top: 2px solid #eb6100;
		border-bottom: 1px solid #dfdfdf;
		padding: 30px 10px;
		h4 {
			font-size: 16px;
			line-height: 25px;
			color: #333;
			font-weight: 400;
		}
		.icon-list {
			margin-top: 15px;
			li {
				/*padding-right: 35px;*/
			}
		}
	}
	.article-content {
		.view-content {
			padding: 30px 10px 35px;
			p {
				font-size: 13px;
				color: #555;
				line-height: 24px;
			}
			.reply {
				margin-top: 40px;
				padding: 20px;
				background-color: #f3f5fa;
				h5 {
					font-size: 14px;
					color: #144199;
					&:before {
						content: "\E80C";
						font-family: "fontello";
						color: #f5a100;
						font-size: 14px;
						padding-right: 10px;
					}
				}
				p {
					font-size: 13px;
					color: #000;
					margin-top: 15px;
				}
			}
		}
		.attach {
			position: relative;
			border-top: 1px solid #dfdfdf;
			border-bottom: 1px solid #aaa;
			padding: 15px 10px 15px 45px;
			&:before {
				position: absolute;
				top: 20px;
				left: 10px;
				content: "\E80F";
				font-family: "fontello";
				font-size: 12px;
				color: #aaa;
			}
			li {
				line-height: 26px;
				a {
					font-size: 13px;
					color: #aaa;
					&:hover, &:focus {
						color: #666;
					}
				}
			}
		}
		.btn-area {
			padding: 30px 0;
			text-align: right;
			p {
				a {
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		//페이지링크
		.page-link-list {
			padding: 0;
			margin: 0;
			border: 0;
			color: #555;
			&:hover {
				background: none;
			}
			ul {
				border-top: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
				li {
					color: #555;
					padding: 15px 10px;
					&:hover {
						background-color: #f9f9f9;
					}
					dl {
						dt {
							display: none;
						}
						dd {
							display: inline-block;
							a {
								display: inline-block;
								font-size: 13px;
								color: #555;
								
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								width: 400px;
							}
							&:before {
								display: inline-block;
								font-family: "fontello";
								font-size: 14px;
								color: #000;
								margin-right: 20px;
							}
						}
					}
					&.prev {
						border-bottom: 1px solid #dfdfdf;
						dl {
							dd {									
								&:before {
									content: "\E802";
								}
							}
						}
					}
					&.next {
						dl {
							dd {
								&:before {
									content: "\E803";
								}
							}
						}
					}
				}
			}
		}
	}
	@media(min-width: $md) {
		.article-header {
			padding: 40px 20px;
			h4 {
				font-size: 20px;
				line-height: 30px;
			}
			.icon-list {
				margin-top: 20px;
				li {
					padding-right: 35px;
				}
			}
		}
		.article-content {
			.view-content {
				padding: 50px 30px;
				p {
					font-size: 14px;
					line-height: 26px;
				}
				.reply {
					margin-top: 50px;
					padding: 40px;
					h5 {
						font-size: 15px;
						&:before {
							font-size: 15px;
						}
					}
					p {
						font-size: 14px;
						margin-top: 25px;
					}
				}
			}
			.attach {
				padding: 20px 10px 20px 50px;
				&:before {
					top: 25px;
					left: 20px;
				}
				li {
					line-height: 28px;
				}
			}
			.btn-area {
				padding: 50px 0;
			}
			.page-link-list {
				ul {
					li {
						padding: 20px;
						dl {
							font-size: 0;
							dt {
								display: inline-block;
								font-size: 14px;
								color: #000;
								font-weight: 400;
								padding-right: 30px;
							}
							dd {
								display: inline-block;
								font-weight: 300;
								&:before {
									margin-right: 40px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media(min-width: $xl) {
		.article-content {
			.view-content {
				p {
					font-size: 14px;
					line-height: 28px;
				}
			}
			.page-link-list {
				ul {
					li {
						dl {
							dt {
								padding-right: 50px;
							}
							dd {
								&:before {
									margin-right: 50px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.test-link-list {
    > ul {
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        > li {
            padding: 0 10px;
            > dl {
                dd {
                    a {
                        position: relative;
                        font-size: 13px;
                        color: #555;
                        line-height: 50px;
                        font-weight: 400;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        padding-left: 30px;
                        text-overflow: ellipsis;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 14px;
                            color: #000;
                            font-family: "fontello";
                        }
                    }
                }
            }
            &.t-prev {
                border-bottom: 1px solid #dfdfdf;
                > dl {
                    dd {
                        a {
                            &:before {
                                content: "\E802";
                            }
                        }
                    }
                }
            }
            &.t-next {
                > dl {
                    dd {
                        a {
                            &:before {
                                content: "\E803";
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > li {
                padding: 0 20px;
                > dl {
                    dt {
                        position: relative;
                        font-size: 14px;
                        font-weight: 400;
                        color: #000;
                        line-height: 60px;
                        &:after {
                            position: absolute;
                            top: 0;
                            font-size: 14px;
                            right: 10px;
                            font-family: "fontello";
                        }
                    }
                    dd {
                        a {
                            font-size: 14px;
                            padding-left: 20px;
                            line-height: 60px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                &.t-prev {
                    > dl {
                        dt {
                            &:after {
                                content: "\E802";
                            }
                        }
                    }
                }
                &.t-next {
                    > dl {
                        dt {
                            &:after {
                                content: "\E803";
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        > ul {
            > li {
                > dl {
                    dt {
                        &:after {
                            right: 60px;
                        }
                    }
                    dd {
                        a {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}

//게시판 작성
.write-wrap {
	.table-wrap {
		border-top: 2px solid #eb6100;
		.table {
            margin-bottom: 0;
			tbody {
				tr {
					th {
						width: 90px;
						font-size: 13px;
						color: #000;
						padding-left: 10px;
						font-weight: 500;
						border-bottom: 1px solid #dfdfdf;
						vertical-align: middle;
						background-color: #f3f5fa;
						&.v-top {
							padding-top: 10px; 
							vertical-align: top !important;
						}
					}
					td {
						padding: 10px;
						border-bottom: 1px solid #dfdfdf;
						.form-group {
							textarea {
								height: 200px;
							}
							.form-control {
								font-size: 13px;
								border: 1px solid #dfdfdf;
							}
						}
					}
				}
			}
		}
	}
	@media(min-width: $md) {
		.table-wrap {
			.table {
				tbody {
					tr {
						th {
							width: 165px;
							font-size: 14px;
							padding-left: 30px;
							&.v-top {
								padding-top: 20px; 
							}
						}
						td {
							padding: 10px 0 10px 20px;
							.form-group {
								textarea {
									height: 400px !important;
								}
								.form-control {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media(min-width: $xl) {
		.table-wrap {
			.table {
				tbody {
					tr {
						td {
							padding: 10px 70px 10px 30px; 
						}
					}
				}
			}
		}
	}
}

// news-list sm md ebook
.news-table-sm {
    > .ebook-list {
        position: relative;
        overflow: hidden;
        padding-bottom: 100px;
        > .news-list {
            float: left;
            width: 50%;
            padding: 0 5px;
            > a {
                display: block;
                .details {
                    padding-bottom: 20px;
                    text-align: center;
                    small {
                        font-size: 12px;
                        color: #666;
                    }
                    h3 {
                        font-size: 14px;
                        color: #333;
                        font-weight: 500;
                        @include roboto();
                        margin-top: 10px;
                    }
                }
                .item-ebook {
                    position: relative;
                    z-index: 1;
                    border: 1px solid #ebebeb;
                    box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
                    .img-fluid {
                        width: 100%;
                    }
                    .hover-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        background-image: url(/assets/images/sub/icon_hover_more.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: 30px auto;
                        background-color: rgba(#f5a100, .9);
                    }
                }
                &:focus {
                    .item-ebook {
                        border-color: #f5a100;
                        .hover-box {
                            display: block;
                        }
                    }
                }
            }
        }
        .backdrop {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            z-index: 2;
            background-image: url(/assets/images/sub/bg_news_table_content_sm.jpg);
            background-repeat: repeat-x;
            background-position: 0 100%;
            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100px;
                content: url(/assets/images/sub/bg_news_table_left_sm.jpg);
            }
            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100px;
                content: url(/assets/images/sub/bg_news_table_right_sm.jpg);
            }
        }
    }
    @media(min-width: $md) {
        .ebook-list {
            padding: 0 10px;
            > .news-list {
                padding: 0 40px 160px;
                > a {
                    .details {
                        padding-bottom: 30px;
                        small {
                            font-size: 13px;
                        }
                        h3 {
                            font-size: 16px;
                            margin-top: 15px;
                        }
                    }
                    .item-ebook {
                        box-shadow: -5px -5px 15px 0px rgba(0, 0, 0, 0.3);
                        .hover-box {
                            background-size: 60px auto;
                        }
                    }
                }
            }
            .backdrop {
                height: 160px;
                background-image: url(/assets/images/sub/bg_news_table_content_md.jpg);
                &:before {
                    height: 160px;
                    content: url(/assets/images/sub/bg_news_table_left_md.jpg);
                }
                &:after {
                    height: 160px;
                    content: url(/assets/images/sub/bg_news_table_right_md.jpg);
                }
            }
        }
    }
}

// news-list xl ebook
.news-table-xl {
    > .ebook-list {
        position: relative;
        overflow: hidden;
        padding-bottom: 160px;
        > .news-list {
            float: left;
            width: 33.3%;
            padding: 0 50px;
            > a {
                display: block;
                .details {
                    padding-bottom: 35px;
                    text-align: center;
                    small {
                        font-size: 13px;
                        color: #666;
                    }
                    h3 {
                        font-size: 16px;
                        color: #333;
                        font-weight: 500;
                        @include roboto();
                        margin-top: 15px;
                    }
                }
                .item-ebook {
                    position: relative;
                    z-index: 1;
                    border: 1px solid #ebebeb;
                    @include transition();
                    box-shadow: -4px -4px 15px 0px rgba(0, 0, 0, 0.2);
                    .img-fluid {
                        width: 100%;
                    }
                    .hover-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-image: url(/assets/images/sub/icon_hover_more.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: 60px auto;
                        background-color: rgba(#f5a100, .9);
                        @include transition();
                    }
                }
                &:hover, &:focus {
                    .item-ebook {
                        border-color: #f5a100;
                        .hover-box {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .backdrop {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 160px;
            background-image: url(/assets/images/sub/bg_news_table_content_md.jpg);
            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 160px;
                content: url(/assets/images/sub/bg_news_table_left_md.jpg);
            }
            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 160px;
                content: url(/assets/images/sub/bg_news_table_right_md.jpg);
            }
        }
    }
}
























































