@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

#content {
  min-height: 600px; }

.ex-txt {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin: 40px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid pink; }

.page-header .sub-visual {
  display: table;
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  background-image: url(/assets/images/sub/bg_visual.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .page-header .sub-visual h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5); }
    .page-header .sub-visual h2 span {
      color: #eb6100; }
.page-header .container .path-nav {
  position: relative;
  width: 100%;
  background-color: #144199;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.22); }
  .page-header .container .path-nav .breadcrumb-list {
    display: inline-block;
    font-size: 0;
    width: 100%; }
    .page-header .container .path-nav .breadcrumb-list > li {
      position: relative;
      width: 50%;
      line-height: 50px;
      padding-left: 15px;
      display: inline-block; }
      .page-header .container .path-nav .breadcrumb-list > li:after {
        position: absolute;
        top: 50%;
        right: 0;
        content: " ";
        height: 16px;
        display: block;
        margin-top: -8px;
        border-left: 1px solid #0a2066;
        border-right: 1px solid #1e62cc; }
      .page-header .container .path-nav .breadcrumb-list > li:first-child {
        display: none; }
      .page-header .container .path-nav .breadcrumb-list > li > a {
        display: block;
        width: 100%;
        font-size: 13px;
        color: #fff; }
        .page-header .container .path-nav .breadcrumb-list > li > a > i {
          font-style: normal; }
          .page-header .container .path-nav .breadcrumb-list > li > a > i:after {
            position: absolute;
            top: 0;
            right: 15px;
            display: inline-block;
            font-family: "fontello";
            content: "\E803";
            font-size: 12px; }
      .page-header .container .path-nav .breadcrumb-list > li > .depth-1 {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-left: 15px;
        background-color: red; }
        .page-header .container .path-nav .breadcrumb-list > li > .depth-1 li {
          display: block; }
          .page-header .container .path-nav .breadcrumb-list > li > .depth-1 li a {
            display: block;
            font-size: 12px; }
        .page-header .container .path-nav .breadcrumb-list > li > .depth-1.toggle {
          display: block; }
      .page-header .container .path-nav .breadcrumb-list > li > .depth-2 {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-left: 15px;
        background-color: red; }
        .page-header .container .path-nav .breadcrumb-list > li > .depth-2 li {
          display: block; }
          .page-header .container .path-nav .breadcrumb-list > li > .depth-2 li a {
            display: block;
            font-size: 12px; }
        .page-header .container .path-nav .breadcrumb-list > li > .depth-2.toggle {
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
@media (min-width: 768px) {
  .page-header .sub-visual {
    height: 265px; }
  .page-header .container {
    padding-left: 20px;
    padding-right: 20px; }
    .page-header .container .path-nav {
      margin-top: -30px;
      z-index: 5; }
      .page-header .container .path-nav .breadcrumb-list li {
        width: 200px;
        line-height: 60px;
        padding-left: 20px; }
        .page-header .container .path-nav .breadcrumb-list li:first-child {
          display: inline-block;
          width: 70px;
          text-align: center;
          padding-left: 0; }
          .page-header .container .path-nav .breadcrumb-list li:first-child:before {
            display: none; }
          .page-header .container .path-nav .breadcrumb-list li:first-child a i:after {
            display: none; }
        .page-header .container .path-nav .breadcrumb-list li a {
          font-size: 15px; } }
@media (min-width: 1200px) {
  .page-header .sub-visual {
    height: 275px;
    background-image: url(/assets/images/sub/bg_visual_lg.jpg); }
  .page-header .container .path-nav {
    box-shadow: 5px -4px 7px 0px rgba(0, 0, 0, 0.22); }
    .page-header .container .path-nav .exposure {
      text-align: right; }
      .page-header .container .path-nav .exposure div {
        display: inline-block;
        padding-right: 30px;
        line-height: 60px; }
        .page-header .container .path-nav .exposure div a {
          display: block;
          width: 100%;
          color: #fff;
          font-weight: 300; } }

section {
  padding-top: 50px; }
  section .section-header .section-title {
    font-size: 40px;
    font-weight: 300;
    color: #222;
    text-align: center; }
  section .section-header .lnb-nav {
    padding-top: 35px; }
    section .section-header .lnb-nav ul {
      display: table;
      width: 100%; }
      section .section-header .lnb-nav ul li {
        position: relative;
        display: table-cell;
        width: 1%;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc; }
        section .section-header .lnb-nav ul li:after {
          position: absolute;
          top: 0;
          right: 0;
          content: "|";
          color: #e5e5e5;
          display: inline-block; }
        section .section-header .lnb-nav ul li:last-child:after {
          display: none; }
        section .section-header .lnb-nav ul li.active {
          font-weight: 400;
          border-bottom: 2px solid #eb6100; }
          section .section-header .lnb-nav ul li.active a {
            color: #eb6100; }
        section .section-header .lnb-nav ul li a {
          display: block;
          width: 100%;
          font-size: 14px;
          color: #666; }
  @media (min-width: 768px) {
    section {
      padding-top: 90px; }
      section .section-header .lnb-nav {
        padding-top: 70px; }
        section .section-header .lnb-nav ul li a {
          font-size: 16px; } }
  @media (min-width: 1200px) {
    section .section-header .lnb-nav {
      padding-top: 80px; } }

.search-form {
  position: relative; }
  .search-form .form-group {
    margin: 0; }
    .search-form .form-group input[type="text"] {
      width: 100%;
      background-color: #f3f5fa; }
    .search-form .form-group .form-control {
      font-size: 13px;
      color: #aaa;
      line-height: 45px;
      font-weight: 300;
      border: 0;
      border-radius: 0;
      padding: 0;
      padding-left: 20px;
      box-shadow: none; }
  .search-form .btn-search .btn-default {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 45px;
    padding: 0;
    font-size: 14px;
    color: #144199;
    background: none !important; }
    .search-form .btn-search .btn-default i {
      position: relative;
      top: -2px; }
  @media (min-width: 768px) {
    .search-form .form-group .form-control {
      font-size: 14px;
      line-height: 50px; }
    .search-form .btn-search .btn-default {
      height: 50px; } }

.paging {
  text-align: center; }
  .paging .pagination {
    display: inline-block;
    margin: 0; }
    .paging .pagination > li {
      display: inline-block; }
      .paging .pagination > li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 15px;
        color: #999;
        border-radius: 50%;
        line-height: 30px;
        padding: 0;
        border: 0;
        font-family: 'Roboto', sans-serif; }
        .paging .pagination > li a i {
          color: #aaa;
          font-weight: 300; }
      .paging .pagination > li.first a, .paging .pagination > li.prev a {
        background: #fff !important; }
      .paging .pagination > li.active a {
        display: block;
        color: #fff;
        font-weight: 400;
        background-color: #eb6100; }

.icon-list {
  font-size: 0; }
  .icon-list li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #aaa;
    padding-right: 25px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif; }
    .icon-list li:last-child {
      padding-right: 0; }
    .icon-list li:before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "fontello";
      font-size: 12px;
      color: #aaa; }
    .icon-list li.user:before {
      content: "\E80C"; }
    .icon-list li.calendar:before {
      /*top: 1px;*/
      content: "\F133"; }
    .icon-list li.eye:before {
      /*top: 2px;*/
      content: "\E80D"; }

.board-list-1 > ul > li {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 30px;
  padding-bottom: 30px; }
  .board-list-1 > ul > li:first-child {
    padding-top: 0; }
  .board-list-1 > ul > li a {
    display: block; }
    .board-list-1 > ul > li a .board-info figure img {
      width: 100%; }
    .board-list-1 > ul > li a .board-info .details {
      padding-top: 20px; }
      .board-list-1 > ul > li a .board-info .details h4 {
        font-size: 14px;
        color: #333;
        line-height: 25px;
        font-weight: 400; }
      .board-list-1 > ul > li a .board-info .details p {
        font-size: 13px;
        color: #666;
        line-height: 22px;
        margin-top: 15px; }
      .board-list-1 > ul > li a .board-info .details > .icon-list {
        margin-top: 20px; }
@media (min-width: 768px) {
  .board-list-1 > ul > li {
    padding-top: 40px;
    padding-bottom: 50px; }
    .board-list-1 > ul > li a .board-info .details {
      padding-top: 0;
      padding-left: 20px; }
      .board-list-1 > ul > li a .board-info .details h4 {
        font-size: 16px;
        line-height: 25px; }
      .board-list-1 > ul > li a .board-info .details p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 10px; }
      .board-list-1 > ul > li a .board-info .details > .icon-list {
        margin-top: 30px; } }
@media (min-width: 1200px) {
  .board-list-1 > ul > li {
    padding-bottom: 40px; }
    .board-list-1 > ul > li a .board-info .details {
      padding-top: 20px;
      padding-left: 30px; }
      .board-list-1 > ul > li a .board-info .details h4 {
        line-height: 27px; }
      .board-list-1 > ul > li a .board-info .details p {
        margin-top: 10px; }
      .board-list-1 > ul > li a .board-info .details > .icon-list {
        margin-top: 60px; } }

/*.board-list-2 {
	> li {
		overflow: hidden;
		padding: 20px 10px;
		border-bottom: 1px solid #dfdfdf;
		&:first-child {
			padding-top: 0;
		}
		h3 {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 14px;
			color: #333;
			font-weight: 400;
		}
		.icon-list {
			float: left;
			font-size: 0;
			margin-top: 15px;
			li {
				display: inline-block;
				font-size: 12px;
				color: #aaa;
				padding-right: 20px;
				@include roboto();
				&:last-child {
					padding-right: 0;
				}
				i {
					padding-right: 10px;
					&:before {
						margin: 0;
					}
				}
			}
		}
		> .btn-result {
			float: right;
			display: inline-block;
			margin-top: 10px;
			a {
				&.btn {
					box-shadow: none;
					&:hover, &:focus {
						opacity: .7;
					}
				}
				&.btn-xs {  
					display: inline-block;
					width: 70px;
					font-size: 12px !important;
					color: #666;
					line-height: 25px;
					border: 1px solid #ccc;
					padding: 0;
					border-radius: 0;
				}
				&.btn-gray {
					color: #999;
					border: 1px solid #f3f3f3;
					background-color: #f3f3f3;
				}
			}
		}
	}
	@media(min-width: $md) {
		> li {
			padding: 30px 15px 30px 20px;
			h3 {
				font-size: 16px;
			}
			.icon-list {
				margin-top: 20px;
				li {
					padding-right: 30px;
				}
			}
			> .btn-result {
				float: right;
				display: inline-block;
				margin-top: 0;
				vertical-align: top;
				a {
					&.btn {
						box-shadow: none;
						&:hover, &:focus {
							opacity: .7;
						}
					}
					&.btn-xs {  
						display: inline-block;
						width: 70px;
						font-size: 12px !important;
						color: #666;
						line-height: 25px;
						border: 1px solid #ccc;
						padding: 0;
						border-radius: 0;
					}
					&.btn-gray {
						color: #999;
						border: 1px solid #f3f3f3;
						background-color: #f3f3f3;
					}
				}
			}
		}
	}
}*/
.board-list-2 ol > li {
  padding: 25px 10px 20px;
  border-bottom: 1px solid #dfdfdf; }
  .board-list-2 ol > li:first-child {
    padding-top: 0; }
  .board-list-2 ol > li h3 a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
    font-weight: 400; }
  .board-list-2 ol > li .icon-list {
    display: block;
    text-align: left;
    overflow: hidden;
    margin-top: 10px; }
    .board-list-2 ol > li .icon-list li.calendar {
      float: left;
      padding-right: 0; }
    .board-list-2 ol > li .icon-list li.reply {
      float: right;
      padding-left: 0; }
      .board-list-2 ol > li .icon-list li.reply p {
        width: 70px;
        height: 25px;
        font-size: 12px;
        color: #666;
        text-align: center;
        line-height: 25px;
        border: 1px solid #ccc; }
    .board-list-2 ol > li .icon-list li.success p {
      color: #999;
      border-color: #f3f3f3;
      background-color: #f3f3f3; }
@media (min-width: 768px) {
  .board-list-2 ol > li {
    padding: 30px 10px; }
    .board-list-2 ol > li h3 a {
      font-size: 16px; }
    .board-list-2 ol > li .icon-list li.calendar {
      float: none;
      padding-right: 0; }
    .board-list-2 ol > li .icon-list li.reply {
      float: none;
      padding-left: 50px; }
      .board-list-2 ol > li .icon-list li.reply p {
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 35px; } }
@media (min-width: 1200px) {
  .board-list-2 {
    text-align: center; }
    .board-list-2 ol > li {
      vertical-align: middle;
      padding: 18px 10px; }
      .board-list-2 ol > li p {
        display: inline-block;
        font-size: 15px;
        color: #666;
        line-height: 35px;
        /*padding-left: 10px;*/
        font-family: 'Roboto', sans-serif; }
      .board-list-2 ol > li h3 {
        margin-left: -15px; }
        .board-list-2 ol > li h3 a {
          line-height: 35px; }
      .board-list-2 ol > li .icon-list {
        padding-left: 20px;
        margin-top: 0; }
        .board-list-2 ol > li .icon-list li {
          font-size: 14px; } }

.board-list-3 ol > li {
  padding: 25px 10px 20px;
  border-bottom: 1px solid #dfdfdf;
  /*&:first-child {
  	padding-top: 0;
  }*/ }
  .board-list-3 ol > li h3 a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
    font-weight: 400; }
  .board-list-3 ol > li .icon-list {
    text-align: left;
    margin-top: 10px; }
@media (min-width: 768px) {
  .board-list-3 ol > li {
    padding: 30px 10px; }
    .board-list-3 ol > li h3 a {
      font-size: 16px; }
    .board-list-3 ol > li .icon-list {
      margin-top: 20px; } }
@media (min-width: 1200px) {
  .board-list-3 {
    text-align: center; }
    .board-list-3 ol > li {
      padding: 25px 10px; }
      .board-list-3 ol > li p {
        display: inline-block;
        font-size: 15px;
        color: #666;
        /*padding-left: 10px;*/
        font-family: 'Roboto', sans-serif; }
      .board-list-3 ol > li h3 {
        text-align: left;
        margin-left: -15px; }
      .board-list-3 ol > li .icon-list {
        padding-left: 20px;
        margin-top: 0;
        text-align: right; }
        .board-list-3 ol > li .icon-list li {
          font-size: 14px; }
          .board-list-3 ol > li .icon-list li.eye:before {
            top: 2px;
            content: "\E80D"; } }

.board-view {
  background: red; }
  .board-view .article-header {
    border-top: 2px solid #eb6100;
    border-bottom: 1px solid #dfdfdf;
    padding: 30px 10px; }
    .board-view .article-header h4 {
      font-size: 16px;
      line-height: 25px;
      color: #333; }
    .board-view .article-header .icon-list {
      margin-top: 15px; }
      .board-view .article-header .icon-list li {
        /*padding-right: 35px;*/ }
  .board-view .article-content .view-content {
    padding: 30px 10px 0; }
    .board-view .article-content .view-content p {
      font-size: 13px;
      color: #555;
      line-height: 23px; }
    .board-view .article-content .view-content .reply {
      margin-top: 40px;
      padding: 20px;
      background-color: #f3f5fa; }
      .board-view .article-content .view-content .reply h5 {
        font-size: 14px;
        color: #144199; }
        .board-view .article-content .view-content .reply h5:before {
          content: ""; }

/*# sourceMappingURL=test.css.map */
